*{
	border-radius: 0px !important;
}
body{
	font-family: 'Open Sans';
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

table th.sort{
	cursor: pointer;
}
table th.sort:after{
	content: "\f0dc";
	font-family: 'FontAwesome';
	display: inline-table;
	float: right;
	color: #ADADAD;
}
table th.sort.current.asc:after{
	content: "\f0de";
}
table th.sort.current.desc:after{
	content: "\f0dd";
}
table tbody tr td{
	vertical-align: middle !important; 
}
table tbody tr{
	cursor: pointer;
}
table tbody tr:hover{
	background: rgba(0,0,0,0.1);
}
textarea{
	min-width: 100%;
	max-width: 100%;
}
.page-header{
	text-align: center;
	border-bottom: none;
	margin: 70px auto 40px;
}
.page-header img, h1{
	display: inline-block;
	margin-bottom: 25px;
}
.page-header img{
	margin-right: 10px;
}
.checkbox, .radio{
	margin-top: 5px;
}
.table-toolbar{
	border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.modal-content{
	padding: 20px 30px;
}

.login{
	width: 100%;
	min-height: 200px;
	background: #f5f5f5;
	border: 4px dashed #ccc;
	padding: 60px 100px;
}
.login form{
	width: 40%;
	margin: 0 auto;
}
.login form button{
	width: 100%;
	margin-top: 5px;
}

td:nth-child(6){
	width: 105px;
}
.loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0; left: 0;
	background: rgba(255,255,255,0.8);
	z-index: 9999999999;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ED2247;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}