/* Sidebar Icons */
.page-header.navbar .page-top {
    background: #ED2446;
}

.page-header.navbar .page-logo {
    background: #ED2446;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #fff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    background: transparent !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #fff;
}
