<div class="form-group">
    <label class="col-md-2 mm_form_label control-label">{{::t[label]}}
        <mm-tooltip ng-if="tooltipTitle" tooltip-title="t[tooltipTitle]"></mm-tooltip>
    </label>
    <div class="col-md-6">

        <div class="input-group" style="top:5px; margin-left: 6px;">
            <label>
                <input type="radio" ng-model="isForever" ng-disabled="disableForever()" ng-value="{{::CONSTANTS.DATETIME_PICKER.IS_FOREVER}}">
                <span style="padding-left:4px" ng-if="foreverLabel">{{::t[foreverLabel]}}</span></input>
                <span style="padding-left:4px" ng-if="!foreverLabel">{{::t.RBTN_FOREVER}}</span></input>
            </label>
            <br/>

            <label>
                <input type="radio" ng-model="isForever" style="display: inline-block; vertical-align: top" ng-value="{{::CONSTANTS.DATETIME_PICKER.IS_NOT_FOREVER}}"/>
                <!-- style="{{wrapperStyle ? wrapperStyle : 'margin: 5px 0 0 5px; position: relative; float:left'}}" -->
                <div style="margin: 5px 0 0 5px; position: relative; display: inline-block"
                     class="{{wrapperClass ? wrapperClass : ''}}">
                    <div class="input-group" ng-class="{'has-error': showStartTimeErr}">
                        <!-- todo: make datetime picker a directive and pass "CONSTANTS.DATE_FORMAT" to attribute datetime-picker -->
                        <input type="text" disabled placeholder="{{t.LB_DATE_FROM}}" class="form-control"
                               datetime-picker="yyyy-MM-dd HH:mm:ss"
                               today-text="t.LB_DATE_TODAY" now-text="t.LB_DATE_NOW"
                               date-text="t.LB_DATE" time-text="t.LB_TIME" close-text="t.LB_CONFIRM"
                               show-button-bar="true" ng-model="startTime" is-open="isStartTimeOpen" show-button-bar="false"
                               max-date="startMaxTime"
                               min-date="startMinTime"
                               ng-required="required"/>

        <span class="input-group-btn">
          <button type="button" ng-disabled="disable" class="btn btn-default"
                  ng-click="openCalendar($event, 'isStartTimeOpen')"><i class="fa fa-calendar"></i></button>
        </span>

                        <p ng-show="showStartTimeErr && !showStartMinTimeErr" class="help-block login-error pull-left mm-datepicker-help-text">
                            <span>{{::t.MSG_ERR_INVALID_PUB_TIME}}</span>
                        </p>

                        <p ng-show="showStartMinTimeErr" class="help-block login-error pull-left mm-datepicker-help-text">
                            <span>{{::t[startMinTimeError]||startMinTimeError}}</span>
                        </p>
                    </div>

                <span ng-if="shouldShowClearBtn('startTime')" ng-click="clearTime('startTime')" class="input-group" style="position:absolute; cursor: pointer; width: 30px; height: 34px; z-index: 999; right: 41px; top: 0">
                    <i style="color: #888888; margin-left: 11px; margin-top: 8px" class="input-group-btn fa fa-times"></i>
                </span>


                    <div class="input-group" style="margin-top: 10px;" ng-class="{'has-error': showEndTimeErr}">
                        <input type="text" disabled placeholder="{{t.LB_DATE_TO}}" class="form-control"
                               datetime-picker="yyyy-MM-dd HH:mm:ss"
                               today-text="t.LB_DATE_TODAY" now-text="t.LB_DATE_NOW"
                               date-text="t.LB_DATE" time-text="t.LB_TIME" close-text="t.LB_CONFIRM"
                               show-button-bar="true" ng-model="endTime" is-open="isEndTimeOpen" show-button-bar="false"
                               max-date="endMaxTime"
                               min-date="endMinTime"
                               ng-required="required"/>
        <span class="input-group-btn">
          <button type="button" ng-disabled="disable"
                  class="btn btn-default"
                  ng-click="openCalendar($event,'isEndTimeOpen')"><i
                  class="fa fa-calendar"></i></button>
        </span>

                        <p ng-show="showEndTimeErr && !showEndMaxTimeErr" class="help-block login-error pull-left mm-datepicker-help-text">
                            <span>{{::t.MSG_ERR_INVALID_PUB_TIME}}</span>
                        </p>

                        <p ng-show="showEndMaxTimeErr" class="help-block login-error pull-left mm-datepicker-help-text">
                            <span>{{::t[endMaxTimeError]||endMaxTimeError}}</span>
                        </p>
                    </div>

                <span ng-if="shouldShowClearBtn('endTime')" ng-click="clearTime('endTime')" class="input-group" style="position:absolute; cursor: pointer; width: 30px; height: 34px; z-index: 999; right: 41px; top: 44px">
                    <i style="color: #888888; margin-left: 11px; margin-top: 8px" class="input-group-btn fa fa-times"></i>
                </span>
                </div>
            </label>

        </div>
    </div>
</div>





