@import 'reset';

$width: 1000px;
$grey: #666;

html, body {
  font-size: 15px;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  background: $grey;
}

p {
  margin: 15px 0;
  line-height: 1.4;
}
a {
  text-decoration: none;
}

h3 { 
  font-size: 21px;
  text-transform: uppercase;
}

.container {
  position: relative;
  z-index: 2;
}

.bg {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/bg.jpg) $grey;
  background-size: cover;
  -ms-behavior: url(/backgroundsize.min.htc);
}

.section {
  max-width: $width;
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding: 0 50px;
  .lang {
    text-align: right;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        color: white;
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .logo {
    height: 200px;
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position: center center;
    background-image: url(/images/WWE-logo-169x215.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
      background-image: url(/images/WWE-logo-retina-338x430.png);
    }
  }
  .description {
    background-color: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bbffffff', endColorstr='#bbffffff'); /* IE */
    box-shadow: 3px 3px 10px #666;
    margin: 0 5%;
    padding: 20px 50px;
  }
}

.content {
  text-align: center;
  background: white;
  .who {
    li {
      display: inline-block;
      padding: 0 20px;
      a, span {
        display: inline-block;
        margin: 20px;
        height: 150px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        -ms-behavior: url(/backgroundsize.min.htc);
        background-position: center center;
      }
      .wharf {
        background-image: url(/images/Wharf-logo-286x160.png);
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
          background-image: url(/images/Wharf-logo-retina-572x320.png);
        }
        width: 150px;
      }
      .waltonbrown {
        background-image: url(/images/WB-logo-391x99.png);
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
          background-image: url(/images/WB-logo-retina-762x198.png);
        }
        width: 300px;
      }
      .ecargo {
        background-image: url(/images/eCargo-Logo-227x79.png);
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
          background-image: url(/images/eCargo-Logo-retina-456x158.png);
        }
        width: 150px;
      }
    }
  }
}

.footer {
  color: white;
  .contactus {
    text-align: center;
    p {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  .findus {
    text-align: center;
  }
  .follow {
    width: 100px;
    float: right;
  }
  .copyright {
    clear: both;
    font-size: 10px;
  }
}

.btn {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-position: top;
  background-size: 100% auto;
  -ms-behavior: url(/backgroundsize.min.htc);
  &:hover {
    background-position: bottom;
  }
  &.large {
    width: 16px;
    height: 16px;
  }
  &.contact {
    background-image: url(/images/email-icon-67x134.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
      background-image: url(/images/email-icon-retina-134x268.png);
    }
  }
  &.location {
    background-image: url(/images/location-icon-66x132.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
      background-image: url(/images/location-icon-retina-132x264.png);
    }
  }
  &.facebook {
    background-image: url(/images/facebook-icon-52x104.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
      background-image: url(/images/facebook-icon-retina-104x208.png);
    }
  }
  &.linkedin {
    background-image: url(/images/LinkedIn-icon-52x104.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
      background-image: url(/images/LinkedIn-icon-retina-104x208.png);
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 0;
    .description {
      padding: 15px 30px;
    }
  }
  .section {
    padding: 30px 10px;
  }

  .content .who li a {
    height: 150px;
    margin: 0;
  }

}
