<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%= TITLE %></title>
  <link rel="stylesheet" href="/css/main.min.css"/>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="section">
        <ul class="lang">
          <!--<li><a href="/tc">繁</a></li>-->
          <li><a href="/sc">简</a></li>
          <li><a href="/">ENG</a></li>
        </ul>
        <div class="logo">
        </div>
        <div class="description">
          <%- DESCRIPTION %>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="section">
        <ul class="who">
          <li><a href="http://www.wharfholdings.com/" class="wharf" target="_blank"></a></li>
          <li><span class="waltonbrown"></span></li>
          <li><a href="http://www.ecargo.com/" class="ecargo" target="_blank"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="section">
        <!--<div class="contactus">
          <a href="mailto:wweco@example.com" class="btn large contact"></a>
          <p><%= CONTACT_US %></p>
        </div>-->
        <br />
        <br />
        <div class="findus" style="padding-bottom: 20px;">
          <a href="<%= ADDRESS_HK_MAP_URL %>"  target="_blank" class="btn large location"></a>
          <span><a href="<%= ADDRESS_HK_MAP_URL %>" target="_blank" style="color: #fff"><%= ADDRESS_HK %></a></span>
        </div>
        <div class="findus" style="padding-bottom: 20px;">
          <a href="<%= ADDRESS_SH_MAP_URL %>"  target="_blank" class="btn large location"></a>
          <span><a href="<%= ADDRESS_SH_MAP_URL %>" target="_blank" style="color: #fff"><%= ADDRESS_SH %></a></span>
        </div>
        <!--<div class="follow">
          <p><%= FOLLOW_US %></p>
          <a href="#" target="_blank" class="btn facebook"></a>
          &nbsp;&nbsp;
          <a href="#" target="_blank" class="btn linkedin"></a>
        </div>-->
        <p class="copyright"><%= COPYRIGHT %></p>
      </div>
    </div>
  </div>
  <div class="bg"></div>
</body>
</html>
