<div class="container" style="margin-top:-68px;">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div style="height: 200px"><!-- spacing --></div>
            <div>
                <img src="assets/images/logo_MM_w52.png" />
            </div>
            <div>
                <h1 id="login-MM-login-header">{{t.LB_PAGE_NOT_FOUND}}</h1>
            </div>
            <div style="height: 20px"><!-- spacing --></div>
            <div>
                {{t.MSG_ERR_PAGE_NOT_FOUND}}
            </div>
        </div>
        <div class="col-md-12" style="text-align: center">
            <div style="height: 20px"><!-- spacing --></div>
            <div>
                <a ui-sref="login" ng-if="!isAuthenicated">{{t.LB_BACK_TO_LOGIN}}</a>
                <a ui-sref="home" ng-if="isAuthenicated">{{t.LB_BACK_TO_HOME}}</a>
            </div>
        </div>
    </div>
    <hr>
</div>
