<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1>{{t.LB_CONGRATULATIONS}}</h1>
      </div>
      <div class="panel-footer" style="background-color: #FFF;">
        <div style="height: 150px;">
          {{t.MSG_ACTIVE_ACCOUNT_TIPS}} <a ui-sref="login">{{t.LB_LOGIN}}</a>.
        </div>
      </div>
    </div>
    </div>
  </div>
  <hr>
</div>
