<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="modal-title mm_modal_title mm_color_black">{{title}}</h2>
</div>

<div class="modal-body mm_dialog_body" style="padding-top: 30px">
  <div>
    {{content}}
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CLOSE}}</button>
    </div>
  </div>
</div>
