<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="modal-title mm_modal_title mm_color_black">{{::t.LB_CHANGE_MOBILE}}</h2>
</div>

<div class="modal-body mm_dialog_body">
  <p>
    {{::Util.format(t.MSG_MM_ADMIN_RESET_USER_MOBILE,[user.DisplayName])}}
  </p>
  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">
      <div class="form-group">
        <div class="col-md-12 pr30" ng-class="{'has-error': validationForm.$submitted && (validationForm.MobileNumber.$error.required)}">
          <input type="text" intl-tel-input placeholder="{{::t.LB_NEW_MOBILE}}" class="form-control" name="MobileNumber" ng-model="dialogForm.MobileNumber" mobile-code="dialogForm.MobileCode" required="" />

          <div ng-show="validationForm.$submitted" class="help-block login-error">
            <span ng-show="validationForm.MobileNumber.$error.required">{{::t.MSG_ERR_MOBILE_NIL}}</span>
            <span ng-show="validationForm.MobileNumber.$error.pattern">{{::t.MSG_ERR_MOBILE_PATTERN}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 pr30" ng-class="{'has-error': validationForm.$submitted && dialogForm.ConfirmMobileNumber && (dialogForm.MobileNumber !== dialogForm.ConfirmMobileNumber)}">
          <input type="text" intl-tel-input placeholder="{{::t.LB_CONF_NEW_MOBILE}}" class="form-control" name="ConfirmMobileNumber" ng-model="dialogForm.ConfirmMobileNumber" mobile-code="dialogForm.MobileCode" required="" />
          
          <div ng-show="validationForm.$submitted" class="help-block login-error">
            <span ng-show="!validationForm.MobileNumber.$error.required && !validationForm.MobileNumber.$error.pattern &&
            (!validationForm.ConfirmMobileNumber.$pristine && dialogForm.MobileNumber !== dialogForm.ConfirmMobileNumber)">{{::t.MSG_ERR_MOBILE_MATCH}}</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
      <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" mm-form-validation is-button="true" ng-click="confirm(validationForm)">
          <span>{{::t.LB_CONFIRM}}</span>
          <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
        </button>
    </div>
  </div>
</div>
