<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="modal-title mm_modal_title mm_color_black">{{::t.LB_CHANGE_EMAIL}}</h2>
</div>

<div class="modal-body mm_dialog_body">
  <p>
    <!-- <p>adada</p> -->
    {{::Util.format(t.MSG_MM_ADMIN_RESET_USER_EMAIL,[user.DisplayName])}}
  </p>
  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">
      <div class="form-group">
        <div class="col-md-12 pr30" ng-class="{'has-error': validationForm.$submitted && (validationForm.email.$error.required || validationForm.email.$error.email)}">
          <input type="email" class="form-control" placeholder="{{::t.LB_NEW_EMAIL}}" name="email" ng-model="dialogForm.email" required="">
          <div ng-show="validationForm.$submitted" class="help-block login-error">
            <span ng-show="validationForm.email.$error.required">{{::t.MSG_ERR_EMAIL_NIL}}</span>
            <span ng-show="validationForm.email.$error.email">{{::t.MSG_ERR_EMAIL_PATTERN}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 pr30" ng-class="{'has-error': validationForm.$submitted && dialogForm.email && (dialogForm.email !== dialogForm.confirmEmail)}">
          <input onpaste="return false;" type="email" class="form-control" placeholder="{{::t.LB_CONF_NEW_EMAIL}}" name="confirmEmail" ng-model="dialogForm.confirmEmail">
          <div ng-show="validationForm.$submitted && dialogForm.email && (dialogForm.email !== dialogForm.confirmEmail)" class="help-block login-error">
            <span>{{::t.MSG_ERR_EMAIL_NOT_MATCH}}</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
      <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" mm-form-validation is-button="true" ng-click="confirm(validationForm)">
          <span>{{::t.LB_CONFIRM}}</span>
          <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
        </button>
    </div>
  </div>
</div>
