<div class="modal-header">
  <h2 class="modal-title mm_modal_title mm_color_black">{{::t.LB_CHANGE_SEARCH}}</h2>
</div>

<div class="modal-body mm_dialog_body">

  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">
      <div class="form-group">
        <div class="col-md-12 pr30" ng-class="{'has-error': validationForm.$submitted && validationForm.searchTerm.$error.required}">
          <input type="text" class="form-control" placeholder="{{::t.LB_NEW_SEARCH_TERM}}" name="searchTerm" ng-model="item.SearchTerm" required="">
          <div ng-show="validationForm.$submitted" class="help-block login-error">
            <span ng-show="validationForm.searchTerm.$error.required">{{::t.MSG_ERR_SEARCH_TERM_NIL}}</span>
          </div>
        </div>
      </div>

    </div>
  </form>

  <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
      <button class="btn btn-danger mm_form_btn" type="button" mm-form-validation is-button="true" ng-disabled="isConfirmBtnDisabled" ng-click="confirm(validationForm)">
          <span>{{::t.LB_CONFIRM}}</span>
          <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
        </button>
    </div>
  </div>
</div>
