<style type="text/css">
    .btn-danger:active, .btn-danger.active {
        background-color: #ED2446;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content" name="#page_top">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="mm_color_black" ng-if="isEdit">{{::t.LB_INVENTORY_LOCATION_EDIT }} - {{locationName}}
                    <!-- <div class="mm_header_desc_block">{{::t.LB_MC_REM_INVENTORY_LOC_EDIT}}</div> -->
                </h2>

                <h2 class="mm_color_black" ng-if="!isEdit">{{::t.LB_LOCATION_CREATE}}
                    <!--<div class="mm_header_desc_block">{{::t.LB_MC_REM_INVENTORY_LOC_CREATE}}</div>-->
                </h2>
            </div>
        </div>

        <alert ng-repeat="message in messages" type="{{message.type}}"
               close="closeMessage($index)">
            {{message.msg}}
        </alert>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default" style="margin-top:10px">
                    <div class="panel-body" style="padding: 50px">
                        <form class="form-horizontal" name="validationForm" novalidate="true">
                            <div class="form-body">

                                <mm-multilingual-inputs
                                        label="LB_LOC_NAME"
                                        prop="LocationName"
                                        model="location.Culture[language].LocationName"
                                        required="true"
                                        max-length="50"
                                        placeholder-language="true"
                                        constraints="[{validator: 'required', message: 'MSG_ERR_LOC_NAME_LONG'},
                                        {validator: 'maxlength', message: 'MSG_ERR_LOC_NAME_LONG'}]"
                                ></mm-multilingual-inputs>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_LOCATION_EXTERNAL_CODE}}</label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': (validationForm.$submitted || validationForm.LocationExternalCode.$touched) && (validationForm.LocationExternalCode.$error.pattern || validationForm.LocationExternalCode.$error.required)}">
                                        <input type="text" class="form-control"
                                               placeholder="{{::t.LB_LOCATION_EXTERNAL_CODE}}"
                                               name="LocationExternalCode" ng-model="location.LocationExternalCode"
                                               ng-pattern="/^[A-Za-z0-9-]{0,25}$/"
                                               required=""
                                               >

                                        <div ng-show="validationForm.$submitted || validationForm.LocationExternalCode.$touched" class="help-block login-error">
                                            <span ng-show="validationForm.LocationExternalCode.$error.required">{{::t.MSG_ERR_LOCATION_EXTERNAL_CODE}}</span>
                                            <span ng-show="validationForm.LocationExternalCode.$error.pattern">{{::t.MSG_ERR_LOCATION_EXTERNAL_CODE}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_LOC_TYPE_SELECT}}</label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': (validationForm.$submitted || validationForm.InventoryLocationTypeId.$touched) && (validationForm.InventoryLocationTypeId.$error.required)}">

                                        <select class="form-control" name="InventoryLocationTypeId"
                                                ng-model="location.InventoryLocationTypeId" required="">
                                            <option value="">{{::t.LB_LOC_TYPE_SELECT }}</option>
                                            <option ng-repeat="type in selectT.InventoryLocationTypeList"
                                                    value="{{type.InventoryLocationTypeId}}">{{
                                                type.InventoryLocationTypeName }}
                                            </option>
                                        </select>

                                        <div ng-show="validationForm.$submitted || validationForm.InventoryLocationTypeId.$touched" class="help-block login-error">
                                            <span ng-show="validationForm.InventoryLocationTypeId.$error.required">{{::t.MSG_ERR_LOCATION_TYPE}}</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_SELECT_COUNTRY}}</label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': (validationForm.$submitted || validationForm.GeoCountryId.$touched) && (validationForm.GeoCountryId.$error.required)}">

                                        <select class="form-control" name="GeoCountryId"
                                                ng-model="location.GeoCountryId" required=""
                                                ng-change="countrySelected()">
                                            <option value="">{{::t.LB_SELECT_COUNTRY}}</option>
                                            <option ng-repeat="c in geoCountries | orderBy: countrySort" value="{{ c.GeoCountryId }}">{{
                                                c.GeoCountryName }}
                                            </option>
                                        </select>

                                        <div ng-show="validationForm.$submitted || validationForm.GeoCountryId.$touched" class="help-block login-error">
                                            <span ng-show="validationForm.GeoCountryId.$error.required">{{::t.MSG_ERR_LOCATION_COUNTRY}}</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_SELECT_PROVINCE }}</label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': (validationForm.$submitted || validationForm.GeoIdProvince.$touched) && (validationForm.GeoIdProvince.$error.required)}">

                                        <select class="form-control" name="GeoIdProvince"
                                                ng-model="location.GeoIdProvince" required=""
                                                ng-change="provinceSelected()">
                                            <option value="">{{::t.LB_SELECT_PROVINCE}}</option>
                                            <option ng-repeat="p in geoProvinces" value="{{ p.GeoId }}">{{ p.GeoName
                                                }}
                                            </option>
                                        </select>

                                        <div ng-show="validationForm.$submitted || validationForm.GeoIdProvince.$touched" class="help-block login-error">
                                            <span ng-show="validationForm.GeoIdProvince.$error.required">{{::t.MSG_ERR_LOCATION_PROVINCE}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_SELECT_CITY}}</label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': (validationForm.$submitted || validationForm.GeoIdCity.$touched) && (validationForm.GeoIdCity.$error.required)}">

                                        <select class="form-control" name="GeoIdCity" ng-model="location.GeoIdCity"
                                                required="">
                                            <option value="">{{::t.LB_SELECT_CITY}}</option>
                                            <option ng-repeat="c in geoCities" value="{{ c.GeoId }}">{{ c.GeoName }}
                                            </option>
                                        </select>

                                        <div ng-show="validationForm.$submitted || validationForm.GeoIdCity.$touched" class="help-block login-error">
                                            <span ng-show="validationForm.GeoIdCity.$error.required">{{::t.MSG_ERR_LOCATION_CITY}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_DISTRICT}}</span></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="District"
                                               placeholder="{{::t.LB_DISTRICT}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.District"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_POSTAL_OR_ZIP}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="{{::t.LB_POSTAL_OR_ZIP}} {{::t.LB_OPTIONAL}}"
                                               name="PostalCode" ng-model="location.PostalCode">
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_FLAT}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="Apartment"
                                               placeholder="{{::t.LB_FLAT}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.Apartment"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_FLOOR}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="Floor"
                                               placeholder="{{::t.LB_FLOOR}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.Floor"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_BLOCK_NUM}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="BlockNo"
                                               placeholder="{{::t.LB_BLOCK_NUM}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.BlockNo"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_BUILDING_NAME}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="Building"
                                               placeholder="{{::t.LB_BUILDING_NAME}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.Building"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_STREET_NAME}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="StreetNo"
                                               placeholder="{{::t.LB_STREET_NAME}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.StreetNo"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label mm_form_label"><span>{{::t.LB_STREET_NUM}}</span></label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="Street"
                                               placeholder="{{::t.LB_STREET_NUM}} {{::t.LB_OPTIONAL}}"
                                               ng-model="location.Street"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label mm_form_label">
                                        <label style="margin-top: 5px;">{{::t.LB_LOCATION_SAFETY_STOCK}}
                                            <mm-tooltip tooltip-title="t.LB_MC_TT_LOCATION_SAFETY_THRESHOLD"></mm-tooltip></label>
                                    </div>
                                    <div class="col-md-6"
                                         ng-class="{'has-error': validationForm.$submitted && validationForm.QtySafetyThreshold.$error.pattern}">
                                        <input type="text" class="form-control"
                                               placeholder="{{::t.LB_LOCATION_SAFETY_STOCK_NOTE}} {{::t.LB_OPTIONAL}}"
                                               name="QtySafetyThreshold" ng-model="location.QtySafetyThreshold"
                                               ng-pattern="/^[0-9]+[0-9]*$/">

                                        <div ng-show="validationForm.QtySafetyThreshold.$touched"
                                             class="help-block login-error">
                                            <span ng-show="validationForm.QtySafetyThreshold.$error.pattern">{{::t.MSG_ERR_LOCATION_SAFETY_STOCK}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                    <div class="panel-footer" style="background-color: #FFF">
                        <div class="row">
                            <div class="col-md-12">
                                <label ng-if="!isEdit" class="pull-left" style="margin-top: 15px"><input type="checkbox" ng-model="location.addMore"/>
                                    {{::t.LB_CREATE_ANOTHER_USER}}</label>

                                <div class="pull-right" style="margin-right:20px">

                                    <button class="btn btn-default mm_form_btn" type="button"
                                            style="border: none; color: #ccc" ng-click="cancel()">
                                        {{::t.LB_CANCEL}}
                                    </button>

                                    <button class="btn btn-default mm_form_btn"
                                            type="submit" ng-if="!isEdit"
                                            mm-form-validation is-button="true"
                                            ng-disabled="isConfirmBtnDisabled"
                                            ng-click="location.isDraft = true; submit(validationForm)">
                                        <span>{{::t.LB_SAVE_DRAFT}}</span>
                                        <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
                                    </button>

                                    <button mm-form-validation is-button="true" class="btn btn-danger mm_form_btn"
                                            type="submit" ng-if="!isPendingMerchant(Merchant)"
                                            ng-disabled="isConfirmBtnDisabled"
                                            ng-click="location.isDraft = false; submit(validationForm)">
                                        <span ng-if="!isEdit">{{::t.LB_CREATE}}</span>
                                        <span ng-if="isEdit">{{::t.LB_SAVE}}</span>
                                        <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
                                    </button>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-if="isEdit">
                <div class="panel panel-default">
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2 control-label mm_form_label">
                                    <p style="position: relative;top: 5px;">{{::t.LB_CHANGE_STATUS}}</p>
                                </div>
                                <div class="col-md-4">
                                    <p style="position: relative;top: 5px;">{{CONSTANTS.STATUS_NAME[location.StatusId]}}</p>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:;" class="pull-right" style="position: relative;top: 5px;"
                                       ng-click="changeStatus(location)">{{::t.LB_CHANGE}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
