
  <div class="page-footer-inner pull-right">
     <span class="item">mm &copy; {{::currentYear}}</span>
     <span class="item"><a target="" href="#/404">{{policies.privacy}}</a></span>
     <span class="item"><a target="" href="#/404">{{policies.cookie}}</a></span>
     <span class="item"><a target="" href="#/404">{{policies.copyright}}</a></span>
     <span class="item">|</span>

     <select class="select-tmp" ng-cloak ng-model="language" ng-change="changeLanguage(language)">
      <option ng-repeat="l in selectLanguage" value="{{ l.CultureCode }}">{{ l.LanguageName }}</option>
     </select>
  </div>
