<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="modal-title mm_modal_title mm_color_black">{{t.LB_TL_FORGOT_PASSWORD}}</h2>
</div>

<div class="modal-body mm_dialog_body" style="padding-top: 30px">
  <p>
    {{t.LB_FILL_EMAIL_RETRIEVE_PASSWORD}}
  </p>
  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">
      <div class="form-group">
        <div class="col-md-12" ng-class="{'has-error': validationForm.$submitted && (validationForm.email.$error.required || validationForm.email.$error.email)}">
          <input type="email" class="form-control" placeholder="{{t.LB_EMAIL}}" name="email" ng-model="user.email" required="">
          <div ng-show="validationForm.$submitted" class="help-block login-error">
            <span ng-show="validationForm.email.$error.required">{{t.MSG_ERR_EMAIL_NIL}}</span>
            <span ng-show="validationForm.email.$error.email">{{t.MSG_ERR_EMAIL_PATTERN}}</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{t.LB_CANCEL}}</button>
      <button class="btn btn-danger mm_form_btn" type="button" mm-form-validation is-button="true" ng-disabled="isConfirmBtnDisabled" ng-click="confirm(validationForm)">
        <span>{{t.LB_CONFIRM}}</span>
        <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
        </button>
    </div>
  </div>
</div>
