<div class="page-content-wrapper">
    <div class="page-content" dw-loading="loading">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>
        <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)">
            {{::message.msg}}
        </alert>
        <!-- END PAGE HEADER-->

        <!-- BEGIN BUTTON GROUP-->
        <div class="row">
            <div class="col-md-6">
                <h2 class="mm_color_black ng-binding" >{{Util.format(t.LB_EDIT_PRODUCT_INVENTORY_SINGLE, [locationName])}}</h2>
            </div>
            <div class="col-md-6" style="top:16px">
                <button class="btn btn-default pull-right btn-lg" style="font-size: 14px; margin-left: 4px;" ng-click="goImportDialog()">
                    {{::t.LB_IMPORT}}
                </button>
                <button class="btn btn-default pull-right btn-lg" style="font-size: 14px;" ng-click="openExportDialog()">{{::t.LB_EXPORT}}</button>
            </div>
        </div>

        <!-- END BUTTON GROUP-->

        <!-- BEGIN TABLE-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PRODUCT LIST TABLE-->
                <div class="portlet box grey-cascade" style="margin-top:10px;">
                    <div class="portlet-body">
                        <!-- BEGIN TABLE TOOL-->
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="searchKeyword"
                                                   ng-model="search"
                                                   ng-model-options="{ debounce: 500 }"
                                                   ng-change="resetPage()"
                                                   placeholder="{{::t.LB_SEARCH_INVENTORY_PRODUCTS}}">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right col-md-4 p5">
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="criteria.inventory"
                                                ng-change="resetPage()" ng-init="criteria.inventory = CONSTANTS.INVENTORY_FILTER.ALL" >
                                            <option value="{{::CONSTANTS.INVENTORY_FILTER.ALL}}">{{::t.LB_ALL_PRODUCTS}}</option>
                                            <option value="{{::CONSTANTS.INVENTORY_FILTER.WITH_INVENTORY}}">{{::t.LB_PROD_WITH_INVENTORY}}</option>
                                            <option value="{{::CONSTANTS.INVENTORY_FILTER.WITHOUT_INVENTORY}}">{{::t.LB_PROD_WITHOUT_INVENTORY}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="criteria.statusId"
                                                ng-change="resetPage()" ng-init="criteria.statusId = CONSTANTS.INVENTORY_STATUS.ALL">
                                            <option value="{{::CONSTANTS.INVENTORY_STATUS.ALL}}">{{::t.LB_ALL_STATUS}}</option>
                                            <option ng-repeat="(statusId, statusName) in CONSTANTS.INVENTORY_STATUS_NAME" value="{{statusId}}">
                                                {{statusName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TABLE TOOL-->
                        <!-- BEGIN PRODUCT LIST-->
                        <table class="table table-stripped table-bordered mm_table_border mm_table">
                            <thead>
                                <tr>
                                    <th width="8%"></th>
                                    <th width="10%" class="sort" ng-class="{current:predicate == 'SkuCode', asc : !reverse, desc : reverse }" ng-click="order('SkuCode')" width="12%">{{::t.LB_PRODUCT_SKU}}</th>
                                    <th width="13%" class="sort" ng-class="{current:predicate == 'SkuName', asc : !reverse, desc : reverse }" ng-click="order('SkuName')" width="13%">{{::t.LB_PRODUCT_NAME}}</th>
                                    <th width="9%" class="sort" ng-class="{current:predicate == 'SkuColor', asc : !reverse, desc : reverse }" ng-click="order('SkuColor')" width="9%">{{::t.LB_PRODUCT_COLOUR_NAME}}</th>
                                    <th width="6%" class="sort" ng-class="{current:predicate == 'SizeName', asc : !reverse, desc : reverse }" ng-click="order('SizeName')" width="5%">{{::t.LB_PRODUCT_SIZE}}</th>
                                    <th width="9%" class="sort" ng-class="{current:predicate == 'QtyAllocated', asc : !reverse, desc : reverse }" ng-click="order('QtyAllocated')" width="8%">{{::t.LB_INVENTORY_ALLOCATION}}</th>
                                    <th width="9%" class="sort" ng-class="{current:predicate == 'QtyExported', asc : !reverse, desc : reverse }" ng-click="order('QtyExported')" width="8%">{{::t.LB_INVENTORY_QUANTITY_EXPORTED}}</th>
                                    <th width="9%" class="sort" ng-class="{current:predicate == 'QtyOrdered', asc : !reverse, desc : reverse }" ng-click="order('QtyOrdered')" width="10%">{{::t.LB_INVENTORY_QUANTITY_ORDERED}}</th>
                                    <th width="9%" class="sort" ng-class="{current:predicate == 'QtyAts', asc : !reverse, desc : reverse }" ng-click="order('QtyAts')" width="12%">{{::t.LB_INVENTORY_ATS}}</th>
                                    <th width="12%" class="sort" ng-class="{current:predicate == 'InventoryStatusId', asc : !reverse, desc : reverse }" ng-click="order('InventoryStatusId')" width="6%">{{::t.LB_STATUS}}</th>
                                    <th width="8%">{{::t.LB_ACTIONS}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="product in products" >
                                    <td>
                                        <img ng-src="/api/resizer/view?key={{product.ImageDefault}}&w=200&h=0&b=productimages" ng-if="product.ImageDefault != '00000000000000000000000000000000' && product.ImageDefault != null" style="width:66px" />
                                        <img src="assets/images/icon_image_default.png" ng-if="product.ImageDefault == '00000000000000000000000000000000' || product.ImageDefault == null" style="width:66px"  />
                                    </td>
                                    <td><a ui-sref="productEdit({merchantId:merchantId,stylecode: product.StyleCode})">{{ product.SkuCode}}</a></td>
                                    <td><a ui-sref="productEdit({merchantId:merchantId,stylecode: product.StyleCode})">{{ product.SkuName}}</a></td>
                                    <td>{{ product.SkuColor}}</td>
                                    <td>{{ product.SizeName}}</td>
                                    <td>{{ ::!product.InventoryLocationId?t.LB_NA: (product.IsPerpetual?t.LB_INVENTORY_UNLIMITED:product.QtyAllocated) }}</td>
                                    <td>{{ ::product.InventoryLocationId && product.QtyExported>=0 ? product.QtyExported :t.LB_NA }}</td>
                                    <td>{{ ::product.InventoryLocationId && product.QtyOrdered>=0 ? product.QtyOrdered :t.LB_NA }}</td>
                                    <td>{{ ::product.InventoryLocationId?inventoryCtrl.InventoryService.getATS(product):t.LB_NA}}</td>
                                    <td>
                                        <span class="{{::CONSTANTS.INVENTORY_STATUS_CSS[product.InventoryStatusId]}}">{{::CONSTANTS.INVENTORY_STATUS_NAME[product.InventoryStatusId]}}</span>
                                    </td>
                                    <td ng-click="$event.stopPropagation();">
                                        <span ng-init="showCreate = !product.InventoryLocationId && product.SkuStatusId === CONSTANTS.STATUS.ACTIVE;
                                            showEdit = product.InventoryLocationId && product.SkuStatusId !== CONSTANTS.STATUS.PENDING && product.SkuStatusId !== CONSTANTS.STATUS.DELETED"></span>
                                        <span ng-if="!showCreate && !showEdit">--</span>
                                        <a ng-if="showCreate || showEdit" ng-click="product.rowAction = (product.InventoryLocationId?CONSTANTS.ROWACTION.EDIT:CONSTANTS.ROWACTION.CREATE); selectAction(product)">{{::product.InventoryLocationId?(t.LB_EDIT):(t.LB_CREATE)}}</a>
                                    </td>
                                </tr>

                                <tr ng-show="filteredProducts.length <= 0">
                                    <td colspan="11" class="text-center">{{::t.LB_SEARCH_NO_RESULT}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <mm-pagination total-item-no="total" current-page="currentPage" items-per-page="itemsPerPage" get-list="getSkuList" /></mm-pagination>
                    </div>
                </div>
            </div>
            <!-- END TABLE-->
        </div>
    </div>
</div>
