<style>
  .p5{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  @media (max-width:995px){
    .filter-inventory{
      margin-right: -15px;width: 90%;right:50px;margin-bottom: 10px;
    }
    .p5{
      margin-top: 3px;
    }

   /* .inventory-btn-drop{
      max-width: 810px;
      min-width: 390px;
    }*/

  }
</style>
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>


   <div class="row">
     <div class="col-md-6">
       <h2 class="mm_color_black ng-binding" >{{::t.LB_INVENTORY_LOCATION}}</h2>
     </div>
     <div class="col-md-6" style="top:16px">
       <button class="btn btn-primary pull-right btn-lg mm_large_btn" ng-click="CreateNewInventoryLocation()">{{::t.LB_LOCATION_CREATE}}</button>
     </div>
   </div>

    <alert ng-if="!isEdit" ng-repeat="message in messages" type="{{message.type}}"
           close="messages.splice($index, 1)">
      {{message.msg}}
    </alert>

    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade" style="margin-top:10px;">
          <div class="portlet-body">

            <div class="table-toolbar">
              <div class="row">
                

                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="inventorySearchTerm" ng-change="filterBySearch()" placeholder="{{::t.LB_LOCATION_SEARCH}}">
                      <span class="glyphicon glyphicon-search"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-7 pull-right filter-inventory" style="margin-right:10px;">
                  <div class="row">
                    <div class="col-md-3 p5">
                      <select class="form-control" ng-model="filter.country" ng-change="changeCountry(filter.country)" ng-init="filter.country=CONSTANTS.COUNTRY.ALL">
                        <option value="{{::CONSTANTS.COUNTRY.ALL}}">{{::t.LB_ALL_COUNTRIES}}</option>
                        <option ng-repeat="country in countries | orderBy: countrySort" value="{{ country.GeoCountryId }}">{{ country.GeoCountryName }}</option>
                      </select>
                    </div>

                    <div class="col-md-3 p5">
                      <select class="form-control" ng-model="filter.province" ng-change="changeProvince(filter.province)" ng-init="filter.province=CONSTANTS.PROVINCE.ALL">
                        <option value="{{::CONSTANTS.PROVINCE.ALL}}">{{::t.LB_ALL_PROVINCE}}</option>
                        <option ng-repeat="province in provinces" value="{{ province.GeoId }}">{{ province.GeoName }}</option>
                      </select>
                    </div>

                    <div class="col-md-3 p5">
                      <select class="form-control" ng-model="filter.city" ng-init="filter.city=CONSTANTS.CITY.ALL">
                        <option value="{{::CONSTANTS.CITY.ALL}}">{{::t.LB_FILTER_ALL_CITY}}</option>
                        <option ng-repeat="city in cities" value="{{ city.GeoId }}">{{ city.GeoName }}</option>
                      </select>
                    </div>

                    <div class="col-md-3 p5">
                      <select class="form-control" ng-model="filter.type" ng-change="filterByTypes(filter.type)" ng-init="filter.type=CONSTANTS.INVENTORY_LOCATION_TYPE.ALL">
                        <option value="{{::CONSTANTS.INVENTORY_LOCATION_TYPE.ALL}}">{{::t.LB_ALL_LOC_TYPE}}</option>
                        <option ng-repeat="(inventoryTypeId, inventoryTypeName) in CONSTANTS.INVENTORY_LOCATION_TYPE_NAME" value="{{inventoryTypeId}}">{{inventoryTypeName}}</option>
                      </select>
                    </div>

                    <!-- <div class="col-md-3 p5">
                      <div class="btn-group" dropdown is-open="allTypes.isopen">
                        <button id="all-status" type="button" class="btn btn-default inventory-btn-drop" dropdown-toggle ng-disabled="disabled">
                           {{selectedTypesFilter || t.LB_ALL_LOC_TYPE }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="all-status" style="box-shadow:none;">
                          <li role="menuitem">
                            <a href ng-click="filterByTypes(null)">{{ ::t.LB_ALL_LOC_TYPE }}</a>
                          </li>
                          <li class="divider"></li>
                          <li role="menuitem" ng-repeat="item in types">
                            <a href ng-click="filterByTypes(item)">{{ item.InventoryLocationTypeName }}</a>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-stripped table-bordered mm_table_border mm_table">
              <thead>
                <tr>
                  <th width="15%" class="sort ng-class:{ current: sortBy == 'LocationName', asc : !reverse, desc : reverse };" ng-click="sortTable('LocationName')">{{::t.LB_LOC_NAME}}</th>
                  <th width="12%" class="sort ng-class:{ current: sortBy == 'LocationExternalCode', asc : !reverse, desc : reverse };" ng-click="sortTable('LocationExternalCode')">{{::t.LB_LOCATION_EXTERNAL_CODE}}</th>
                  <th width="13%" class="sort ng-class:{ current: sortBy == 'Type', asc : !reverse, desc : reverse };" ng-click="sortTable('Type')">{{::t.LB_LOC_TYPE}}</th>
                  <th width="14%" class="sort ng-class:{ current: sortBy == 'Country', asc : !reverse, desc : reverse };" ng-click="sortTable('Country')">{{::t.LB_COUNTRY }}</th>
                  <th width="12%" class="sort ng-class:{ current: sortBy == 'Province', asc : !reverse, desc : reverse };" ng-click="sortTable('Province')">{{::t.LB_PROVINCE}}</th>
                  <th width="12%" class="sort ng-class:{ current: sortBy == 'City', asc : !reverse, desc : reverse };" ng-click="sortTable('City')">{{::t.LB_CITY}}</th>
                  <th width="10%" class="sort ng-class:{ current: sortBy == 'StatusId', asc : !reverse, desc : reverse };" ng-click="sortTable('StatusId')">{{::t.LB_LOCATION_STATUS}}</th>
                  <th width="13%" style="min-width: 120px">{{::t.LB_LOCATION_ACTION}}</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="item in filtered = (
                                  allData |
                                  filter: filterBySearch |
                                  filter: filterByTypes |
                                  filter: filterByCountry |
                                  filter: filterByProvince |
                                  filter: filterByCity |
                                  orderBy: sortBy : reverse
                                ) | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage" ng-click="onClick(item)">
                  <td>{{ item.LocationName }}</td>
                  <td>{{ item.LocationExternalCode }}</td>
                  <td>{{ item.InventoryLocationTypeName }}</td>
                  <td>{{ item.GeoCountryName }}</td>
                  <td>{{ item.GeoProvinceName }}</td>
                  <td>{{ item.GeoCityName }}</td>
                  <td><span class="label {{CONSTANTS.STATUS_CSS[item.StatusId]}}">{{CONSTANTS.STATUS_NAME[item.StatusId]}}</span></td>
                  <td ng-click="$event.stopPropagation()"> 
                    <select class="form-control" ng-model="item.rowActions" ng-change="selectAction(item.InventoryLocationId, item.rowActions, item)" ng-init="item.rowActions='None'">
                      <option value="None">{{::t.LB_ACTIONS}}</option>
                      <option ng-repeat="action in inventoryLocationActionsByStatus[item.StatusNameInvariant]" value="{{::action.value}}">{{::action.lable}}</option>
                    </select>
                  </td>
                </tr>

                <tr ng-show="filtered.length <= 0"><td colspan="8" class="text-center">{{::t.LB_LOCATION_NO_DATA}}</td></tr>
              </tbody>
            </table>
            <mm-pagination total-item-no="filtered.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
            </div>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>

  </div>
</div>
