<div class="container" style="margin-top:-68px;">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <img src="assets/images/bg_login_634x789.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4" style="text-align: center">
            <div style="height: 200px"><!-- spacing --></div>
            <div>
                <img src="assets/images/logo_MM_w52.png" />
            </div>
            <div>
                <h1 id="login-MM-login-header">{{t.LB_INVALID_TOKEN}}</h1>
            </div>
            <div style="height: 20px"><!-- spacing --></div>
            <div>
                {{t.MSG_ERR_INVALID_TOKEN}}
            </div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div style="height: 20px"><!-- spacing --></div>
            <div>
                <a ui-sref="login">{{t.LB_BACK_TO_LOGIN}}</a>
            </div>
        </div>
    </div>
    <hr>
</div>
