<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>

    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">
		{{::message.msg}}
		<span ng-repeat="user in message.users"><br/>
			<a ui-sref='userEdit({userKey: user.UserKey})'>{{::user.FirstName}} {{::user.LastName}}</a>
		<span>
	</alert>

    <!-- END PAGE HEADER-->

    <!-- BEGIN BUTTON GROUP-->
    <div class="row">
      <div class="col-md-6">
          <h2 ng-if="isMerchant===false && User.UserTypeId===CONSTANTS.USER_TYPE.MM" class="mm_color_black ng-binding" >{{::t.LB_TL_ALL_AC_USERS}}</h2>
		  <h2 ng-if="isMerchant===true || User.UserTypeId===CONSTANTS.USER_TYPE.MERCHANT" class="mm_color_black ng-binding" >{{::t.LB_TL_ALL_MC_USERS}}</h2>
      </div>
      <div class="col-md-6" style="top:16px">
        <button class="btn btn-primary pull-right btn-lg mm_large_btn" ng-click="openCreateUserDialog()">{{::t.LB_CREATE_USER}}</button>
      </div>
    </div>
    <!-- END BUTTON GROUP-->

    <div class="row">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box grey-cascade" style="margin-top:10px;">
					<div class="portlet-body">

						<div class="table-toolbar">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" class="form-control" id="searchUser" ng-model="userSearchTerm" ng-change="filterUserBySearch()" placeholder="{{::t.LB_AC_USER_LIST_SEARCH_PLACEHOLDER}}">
                    <span class="glyphicon glyphicon-search"></span>
                  </div>
								</div>

								<div class="pull-right col-md-4" style="padding-right:10px;">
									<div class="col-md-6 p5">
										<select class="form-control" ng-model="filter.role" ng-init="filter.role=filterRole;">
											<option value="{{::CONSTANTS.ROLE.ALL}}">{{::t.LB_ALL_ROLES}}</option>
											<option ng-repeat="item in SecurityGroupList" value="{{ item.SecurityGroupId }}">{{ item.SecurityGroupName }}</option>
										</select>
									</div>
                  <div class="col-md-6 p5">
                    <select class="form-control" ng-model="filter.status" ng-init="filter.status=filterStatus;">
                      <option value="{{::CONSTANTS.STATUS.ALL}}">{{::t.LB_ALL_STATUS}}</option>
                      <option ng-repeat="item in StatusList" value="{{ item.StatusId }}">{{getStatusDisplayName(item.StatusNameInvariant)}}</option>
                    </select>
                  </div>
								</div>
							</div>
						</div>

						<table class="table table-stripped table-bordered mm_table_border mm_table">
							<thead>
								<tr>
									<th style="width:11%;" class="sort ng-class:{ current: sortBy == 'FirstName', asc : !reverse, desc : reverse };" ng-click="sortTable('FirstName')">{{::t.LB_FIRSTNAME}}</th>
									<th style="width:11%;" class="sort ng-class:{ current: sortBy == 'LastName', asc : !reverse, desc : reverse };" ng-click="sortTable('LastName')">{{::t.LB_LASTNAME}}</th>
									<th style="width:17%;" class="sort ng-class:{ current: sortBy == 'Email', asc : !reverse, desc : reverse };" ng-click="sortTable('Email')">{{::t.LB_EMAIL}}</th>
									<th style="width:13%;" class="sort ng-class:{ current: sortBy == 'MobileNumber', asc : !reverse, desc : reverse };" ng-click="sortTable('MobileNumber')">{{::t.LB_MOBILE}}</th>
									<th style="width:12%;" class="sort ng-class:{ current: sortBy == 'LastLogin', asc : !reverse, desc : reverse };" ng-click="sortTable('LastLogin')">{{::t.LB_LLD}}</th>
									<th style="width:13%;" class="sort ng-class:{ current: sortBy == 'LastModified', asc : !reverse, desc : reverse };" ng-click="sortTable('LastModified')">{{::t.LB_LMD}}</th>
									<th style="width:11%;" class="sort ng-class:{ current: sortBy == 'StatusId', asc : !reverse, desc : reverse };" ng-click="sortTable('StatusId')">{{::t.LB_STATUS}}</th>
									<th style="width:12%; min-width: 120px">{{::t.LB_ACTIONS}}</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="userInfo in filtered = (allUserData | filter: filterUserBySearch | filter: filterUserByStatus | filter: filterUserByRole | orderBy:sortBy:reverse) | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage" ng-click="onDoubleClick(userInfo.UserKey)">
									<td>{{ userInfo.FirstName }}</td>
									<td>{{ userInfo.LastName  }}</td>
									<td><a ng-click="$event.stopPropagation();" ng-href="mailto:{{ userInfo.Email }}">{{ userInfo.Email }}</a></td>
									<td><a ng-click="$event.stopPropagation();" ng-href="tel:{{ userInfo.MobileCode + userInfo.MobileNumber }}">{{ userInfo.MobileCode + userInfo.MobileNumber }}</a></td>
									<td>{{ userInfo.LastLogin }}</td>
									<td>{{ userInfo.LastModified }}</td>
									<td><span class="label {{CONSTANTS.STATUS_CSS[userInfo.StatusId]}}">{{CONSTANTS.STATUS_NAME[userInfo.StatusId]}}</span></td>
									<td ng-click="$event.stopPropagation();">
										<!-- <span>{{userInfo.isMobileUser}}</span> -->
										<select ng-if="User.UserKey !== userInfo.UserKey" class="form-control" ng-model="userInfo.rowActions" ng-options="action.lable for action in userListActionsByStatus[userInfo.StatusNameInvariant] track by action.value" ng-change="selectAction(userInfo)">
											<option value="">{{::t.LB_ACTIONS}}<option>
										</select>
										<select ng-if="User.UserKey === userInfo.UserKey" class="form-control" ng-model="userInfo.rowActions" ng-options="action.lable for action in getSelfListActions(userInfo) track by action.value" ng-change="selectAction(userInfo)">
											<option value="">{{::t.LB_ACTIONS}}<option>
										</select>
									</td>
								</tr>

								<tr ng-show="filtered.length <= 0"><td colspan="8" class="text-center">{{::t.LB_SEARCH_NO_RESULT}}</td></tr>
							</tbody>
						</table>
                                                <mm-pagination total-item-no="filtered.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
  </div>
</div>
