<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="mm_modal_title mm_color_black">{{::t.LB_CREATE_USER}}
    <!--<div class="mm_header_desc_block">{{::t.LB_MC_REM_USER_PROF_CREATE}}</div>-->
  </h2>

</div>

<div class="modal-body" style="padding-top: 30px">
  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_PROFILE_PIC}}</label>
        <div class="col-md-8">
            <div class="pull-left" style="margin: -15px 0px 0px 0px">
              <!-- <img ng-src="/api/image/view?key={{form.ProfileImage}}&s=200" ng-if="form.ProfileImage" class="img-circle" style="width:66px"/> -->
              <img ng-src="/api/resizer/view?key={{form.ProfileImage}}&w=200&h=0&b=userimages&noresizer" ng-if="form.ProfileImage" class="img-circle" style="width:66px"/>
              <img src="assets/images/icon_profile_default.png" ng-if="!form.ProfileImage" class="img-circle" />
            </div>
            <div class="pull-left" style="margin-left: 8px">
              <button type="file" ng-model="ProfileImage" name="ProfileImage" class="btn btn-default" style="padding: 1px 20px; width:89px; height:24px"
                ngf-select="FileUploadService.uploadBis($files, form, 'userimages')" accept="image/*" ngf-max-size="{{CONSTANTS.FILE_UPLOAD_SIZE.IMAGE}}" ngf-min-height="60" ngf-resize="{width: 200, height: 200}">{{::t.LB_UPLOAD}}</button>
            </div>
            <div class="pull-left" style="margin-left: 8px">
              <span>{{::t.LB_OPTIONAL}}</span>
              <span class="login-error" ng-show="validationForm.ProfileImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
            </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_USERNAME}}</label>
        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.UserName.$error.required}">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_USERNAME}}" name="UserName" ng-model="form.UserName" required="">
          <div ng-show="validationForm.$submitted || validationForm.UserName.$touched" class="help-block login-error">
            <span ng-show="validationForm.UserName.$error.required">{{::t.MSG_ERR_USERNAME_NIL}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_FIRSTNAME}}</label>
        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.FirstName.$error.required}">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_FIRSTNAME}}" name="FirstName" ng-model="form.FirstName" required="">
          <div ng-show="validationForm.$submitted || validationForm.FirstName.$touched" class="help-block login-error">
            <span ng-show="validationForm.FirstName.$error.required">{{::t.MSG_ERR_FIRSTNAME_NIL}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_LASTNAME}}</label>
        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.LastName.$error.required}">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_LASTNAME}}" name="LastName" ng-model="form.LastName" required="">
          <div ng-show="validationForm.$submitted || validationForm.LastName.$touched" class="help-block login-error">
            <span ng-show="validationForm.LastName.$error.required">{{::t.MSG_ERR_LASTNAME_NIL}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_MIDDLE_NAME}}</label>
        <div class="col-md-8">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_MIDDLE_NAME}} {{::t.LB_OPTIONAL}}" ng-model="form.MiddleName">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_DISP_NAME}}</label>
        <div class="col-md-8">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_DISP_NAME}}" name="DisplayName" ng-model="form.DisplayName" required="">
          <div ng-show="validationForm.$submitted || validationForm.DisplayName.$touched" class="help-block login-error">
            <span ng-show="validationForm.DisplayName.$error.required">{{::t.MSG_ERR_DISP_NAME_NIL}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_EMAIL}}</label>
        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && (validationForm.Email.$error.required || validationForm.Email.$error.email)}">
          <input type="email" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_EMAIL}}" name="Email" ng-model="form.Email" required="">
          <div ng-show="validationForm.$submitted || validationForm.Email.$touched" class="help-block login-error">
            <span ng-show="validationForm.Email.$error.required">{{::t.MSG_ERR_EMAIL_PATTERN}}</span>
            <span ng-show="validationForm.Email.$error.email">{{::t.MSG_ERR_EMAIL_PATTERN}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_MOBILE}}</label>
        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && (validationForm.MobileNumber.$error.required || validationForm.MobileNumber.$error.pattern)}">
          <input type="text" intl-tel-input class="form-control mm_dialog_form_input_text" name="MobileNumber" ng-model="form.MobileNumber" mobile-code="form.MobileCode" placeholder="{{::t.LB_MOBILE}}" required="" >
          
          <div ng-show="validationForm.$submitted || validationForm.MobileNumber.$touched" class="help-block login-error">
            <span ng-show="validationForm.MobileNumber.$error.required">{{::t.MSG_ERR_MOBILE_PATTERN}}</span>
            <span ng-show="validationForm.MobileNumber.$error.pattern">{{::t.MSG_ERR_MOBILE_PATTERN}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_LANGUAGE}}</label>
        <div class="col-md-8">
          <select  ng-model="form.LanguageId" class="form-control mm_dialog_form_input_text" ng-options="item.LanguageId as item.LanguageName for item in generalTranslationService.UserReference.LanguageList" >
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_TIME_ZONE}}</label>
        <div class="col-md-8">
          <select  ng-model="form.TimeZoneId" class="form-control mm_dialog_form_input_text" ng-options="item.TimeZoneId as item.TimeZoneName for item in generalTranslationService.UserReference.TimeZoneList" >
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_ROLE}} <mm-tooltip tooltip-title="t.LB_MC_TT_USER_ROLE"></mm-tooltip></label>
        <div class="col-md-8">
          <div style="padding-left: 20px">
            <div class="checkbox" ng-repeat="item in SecurityGroupList">
              <label>
                <input type="checkbox" checklist-change="checkSecurity()" checklist-model="form.UserSecurityGroupArray" checklist-value="item.SecurityGroupId"> {{item.SecurityGroupName}}</input>
              </label>
            </div>
          </div>
          <div ng-init="isShowSecurityGroupError = false;" ng-show="isShowSecurityGroupError" class="help-block login-error">
            <span style="color:#a94442">{{::t.MSG_ERR_ROLE_NIL}}</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="showInventoryCheck" ng-if="pageSide == 'merchant'">
        <label class="col-md-2 control-label mm_dialog_form_label">{{::t.LB_LOC_SELECT}}</label>
        <div class="col-md-8">
          <div style="padding-left: 20px">
            <div class="checkbox" ng-repeat="item in inventoryLocations">
              <label>
                <input type="checkbox" checklist-model="form.UserInventoryLocationArray" checklist-value="item.InventoryLocationId"> {{item.LocationName}}</input>
              </label>
            </div>
          </div>
          <div ng-init="$parent.isShowInventoryLocationError = false;" ng-show="$parent.isShowInventoryLocationError" class="help-block login-error">
            <span>{{::t.MSG_ERR_LOC_NIL}}</span>
          </div>
        </div>
      </div>

    </div>
  </form>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-3" style="margin-left: 15px;">
      <div class="checkbox">
        <label class="">
          <input type="checkbox" ng-model="form.IsCreateAnother" name="ch1" value="1">{{::t.LB_CREATE_ANOTHER_USER}}
        </label>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1" style="padding-right:0px;">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
      <!-- todo: for form invalid focus, also do role or location -->
      <button class="btn btn-danger mm_form_btn" type="button" mm-form-validation is-button="true" ng-disabled="isConfirmBtnDisabled" ng-click="createUser(validationForm)">
        <span>{{::t.LB_CREATE}}</span>
        <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
      </button>
    </div>
  </div>
</div>
