<div class="modal-header">
  <h2 class="modal-title mm_modal_title mm_color_black">{{::t.LB_OOPS}}</h2>
</div>

<div class="modal-body mm_dialog_body" style="padding-top: 30px">
  <p>
    {{::t.MSG_PASSIVE_LOGOUT}}
  </p>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12 mm_dialog_btn_group">
      <button class="btn btn-danger mm_form_btn" type="button" ng-click="confirm()">{{::t.LB_OK}}</button>
    </div>
  </div>
</div>
