<div class="page-content-wrapper">
  <div class="page-content" dw-loading="loading">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <h3 class="mm_color_black">
      <span class="col-md-8">
        {{::t.LB_EDIT_PRODUCT_HEADER}} - {{style.SkuName}}
      </span>
      <span class="col-md-4 pull-right" style="padding-right:0px">
        <div class="col-md-7 col-md-offset-5 pull-right" style="width:55%; padding-right:0px; bottom:8px">
          <select class="form-control" ng-model="LanguageCode" ng-change="changeProductLangeuage(LanguageCode)" class="form-control" ng-options="item.LanguageNameInvariant as item.LanguageName for item in generalTranslationService.UserReference.LanguageList">
          </select>
        </div>
      </span>
    </h3>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12" style="padding-top: 20px;">
              <!--Product Category Information-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PRODUCT_CATEGORY_INFO}}</label>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_PRIMARY_CATEGORY}}</label>
                <span class="mm_text_span">{{buildCategoryText(style.PrimaryCategoryPathList)}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_MERCHANDISE_CATEGORY}}</label>
                <div class="col-md-10" style="padding-left:0px">
                  <span  class="mm_text_span" ng-repeat="Category in style.CategoryList" ng-if="Category.Priority!=0">
                    {{buildCategoryText(Category.CategoryPathList)}}<p>
                  </span>
                </div>
              </div>

              <!--Product Basic Information-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PRODUCT_BASIC_INFO}}</label>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_NAME}}</label>
                <span class="mm_text_span">{{style.SkuName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_MANFACTURER}}</label>
                <span class="mm_text_span">{{style.ManufacturerName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_BRAND}}</label>
                <span class="mm_text_span">{{style.BrandName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_COO}}</label>
                <span class="mm_text_span">{{style.GeoCountryName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_YEAR_LAUNCHED}}</label>
                <span class="mm_text_span">{{style.LaunchYear}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_SEASON_LAUNCHED}}</label>
                <span class="mm_text_span">{{style.SeasonName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_STYLE_CODE}}</label>
                <span class="mm_text_span">{{style.StyleCode}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_TAG_CODE}}</label>
                <span class="mm_text_span">{{style.BadgeName}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_RETAIL_PRICE}}</label>
                <span class="mm_text_span">{{style.PriceRetail | number}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_SALE_PRICE}}</label>
                <span class="mm_text_span">{{style.PriceSale | number}}</span>
              </div>
              <!-- <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_AVAILABLE_DATE_FROM}}</label>
                <span class="mm_text_span">{{style.AvailableFrom | date:'yyyy-MM-dd' }}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_AVAILABLE_TIME_FROM}}</label>
                <span class="mm_text_span">{{style.AvailableFrom | date:'hh:mm' }}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_AVAILABLE_DATE_TO}}</label>
                <span class="mm_text_span">{{style.AvailableTo| date:'yyyy-MM-dd' }}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_AVAILABLE_TIME_TO}}</label>
                <span class="mm_text_span">{{style.AvailableTo| date:'hh:mm' }}</span>
              </div> -->

              <!--Shipping Information-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PRODUCT_SHIPPING_INFO}}</label>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_WEIGHT}}</label>
                <span class="mm_text_span">{{sku.WeightKg}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_LENGTH}}</label>
                <span class="mm_text_span">{{sku.LengthCm}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_WIDTH}}</label>
                <span class="mm_text_span">{{sku.WidthCm}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_HEIGHT}}</label>
                <span class="mm_text_span">{{sku.HeightCm}}</span>
              </div>

              <!--Product Description-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PRODUCT_DESCRIPTION_AREA}}</label>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_DESCRIPTION}}</label>
                <span class="col-md-10 mm_text_span" style="padding-left:0px">{{style.SkuDesc}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_FEATURE}}</label>
                <span class="col-md-10 mm_text_span" style="padding-left:0px">{{style.SkuFeature}}</span>
              </div>

              <!--Product Variations-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PRODUCT_VARIATIONS}}</label>
              </div>
              <div class="form-group col-md-12">
                <table class="table table-stripped  mm_table_border mm_plain_table_list">
                  <thead>
                    <tr>
                      <th>{{::t.LB_PRODUCT_SKU}}</th>
                      <th>{{::t.LB_PRODUCT_BARCODE}}</th>
                      <th>{{::t.LB_COLOUR}}</th>
                      <th>{{::t.LB_PRODUCT_COLOUR_NAME}}</th>
                      <th>{{::t.LB_PRODUCT_SIZE}}</th>
                      <th>{{::t.LB_SKU_SAFETY_STOCK}}</th>
                      <th>{{::t.LB_SKU_TOTAL_LOCAT}}</th>
                      <th>{{::t.LB_INVENTORY_SKU_ATS}}</th>
                      <th>{{::t.LB_ACTIONS}}</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="skuObj in skuList">
                      <td>{{skuObj.SkuCode}}</td>
                      <td>{{skuObj.Bar}}</td>
                      <td>{{skuObj.ColorName}}</td>
                      <td>{{skuObj.SkuColor}}</td>
                      <td>{{skuObj.SizeName}}</td>
                      <td>{{skuObj.QtySafetyThreshold}}</td>
                      <td>{{skuObj.LocationCount}}</td>
                      <td>{{ skuObj.QtyAts=='Unlimited'?t.LB_INVENTORY_UNLIMITED:(skuObj.QtyAts || t.LB_NA) }}</td>
                      <td><a ui-sref="productInventory({skuid: skuObj.SkuId})">{{::t.LB_EDIT}}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!--Product Variations-->
              <div class="form-group col-md-12 mm_under_line">
                <label class="">{{::t.LB_PRODUCT_IMAGES}}</label>
                <!-- <div class="form-group col-md-10 col-md-push-7" style="height:24px">
                  <div class="btn-group">
                    <label class="btn btn-default" ng-model="radioImgDel" btn-radio="'undeletable'" uncheckable>ViewMode</label>
                    <label class="btn btn-default" ng-model="radioImgDel" btn-radio="'deletable'" uncheckable>ActionMode</label>
                  </div>
                </div> -->
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_FEATURED_IMAGES}}</label>
                <div class="col-md-10">
                  <div ng-repeat="image in style.FeaturedImageList" style="display:inline-block;">
                    <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Feature')"/>
                    <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.StyleImageId, '')">{{::t.BTN_IMG_DEL}}</button>
                  </div>
                  <!-- <img src="assets/images/icon_image_default.png" ng-if="style.FeaturedImageList.length==0" class="mm_product_img" /> -->
                  <span class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus" type="button"
                    ngf-select="uploadImage($files, '', 'Feature')"
                    ngf-multiple="true"
                    ngf-keep="false"
                    ngf-allow-dir="true"
                    accept="image/*"
                    ng-show="style.FeaturedImageList.length<5"
                    ></span>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_DESCRIPTION_IMAGES}}</label>
                <div class="col-md-10">
                  <div ng-repeat="image in style.DescriptionImageList" style="display:inline-block;">
                    <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Desc')"/>
                    <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.StyleImageId, 'DESC')">{{::t.BTN_IMG_DEL}}</button>
                  </div>
                  <!-- <img src="assets/images/icon_image_default.png" ng-if="style.DescriptionImageList.length==0" class="mm_product_img" /> -->
                  <span class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus" type="button"
                    ngf-select="uploadImage($files, '', 'Desc')"
                    ngf-multiple="true"
                    ngf-keep="false"
                    ngf-allow-dir="true"
                    accept="image/*"
                    ng-show="style.DescriptionImageList.length<15"
                    ></span>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_COLOUR_IMAGES}}</label>
                <div class="col-md-10">
                  <!-- <div ng-repeat="(colorKey, colorList) in colorImageListMap"> -->
                  <div ng-repeat="Color in style.ColorList">
                    <div ng-if="Color.ColorKey!=null&&Color.ColorKey!='DESC'">
                    <div>{{Color.SkuColor}}</div>
                      <div>
                        <div style="margin-bottom:10px">
                          <div ng-repeat="image in colorImageListMap[Color.ColorKey]" style="display:inline-block;">
                            <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Color', Color.ColorKey)"/>
                            <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.StyleImageId, Color.ColorKey)">{{::t.BTN_IMG_DEL}}</button>
                          </div>
                          <!-- <img src="assets/images/icon_image_default.png" ng-if="colorList.length==0" class="mm_product_img"/> -->
                          <span  class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus" type="button"
                            ngf-select="uploadImage($files, '{{Color.ColorKey}}', 'Color')"
                            ngf-multiple="true"
                            ngf-keep="false"
                            ngf-allow-dir="true"
                            accept="image/*"
                            ng-show="!colorImageListMap[Color.ColorKey]||colorImageListMap[Color.ColorKey].length<5"
                            ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--change status-->
              <div class="form-group col-md-12 mm_under_line">

              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_STATUS}}</label>
                <span class="col-md-3">{{ CONSTANTS.STATUS_NAME[style.StatusId] }}</span>
                <div class="col-md-7">
                  <a class="pull-right" ng-click="openChangeStatusDialog(style)">{{::t.LB_CHANGE}}</a>
                </div>
              </div>

            </div>
          </div>

          <!--footer button-->
          <div class="panel-footer" style="background-color: #FFF">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right" style="margin-right:20px">
                  <button class="btn btn-default mm_form_btn" style="border: none; color: #ccc" type="button" ng-click="back()">{{::t.LB_CANCEL}}</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
