<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="mm_color_black">
                    {{::t.LB_INVENTORY_UPDATE_HISTORY}} - {{data.Sku.SkuCode}}
                    <!-- <div class="mm_header_desc_block">{{::t.LB_INVENT_HIST_NOTE}}</div> -->
                </h2>
            </div>
        </div>


        <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)"><i class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i> {{message.msg}}</alert>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-12 mm_form_label control-label"><h3
                                        class="mm_text_black">{{data.Sku.SkuCode}}</h3></label>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_PRODUCT_NAME}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{data.Sku.SkuName}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_PRODUCT_STYLECODE}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{data.Sku.StyleCode}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_SIZE}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{data.Sku.SizeName}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_under_line">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label label-style-fix">{{::t.LB_COLOUR}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{data.Sku.SkuColor}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <p ng-if="!loading && data.InventoryJournalList.length === 0" class="bg-info text-center"
                                       style="padding: 15px">
                                        {{::t.MSG_NO_INVENTORY_HISTORY}}
                                    </p>

                                    <table ng-if="!loading && data.InventoryJournalList.length > 0"
                                           class="table table-stripped table-bordered mm_table mm_table_border">
                                        <thead>
                                        <tr>
                                            <th width="10%">{{::t.LB_EVENT_LOG}}</th>
                                            <th width="20%">{{::t.LB_ACTION_BY}}</th>
                                            <th width="10%">{{::t.LB_PLATFORM}}</th>
                                            <th width="15%">{{::t.LB_DATE_TIME}}</th>
                                            <th width="7%">{{::t.LB_INVENTORY_ALLOCATION}}</th>
                                            <th width="7%">{{::t.LB_INVENTORY_QUANTITY_ORDERED}}</th>
                                            <th width="7%">{{::t.LB_INVENTORY_QUANTITY_EXPORTED}}</th>
                                            <th width="8%">{{::t.LB_LOCATION_SAFETY_STOCK}}</th>
                                            <th width="8%">{{::t.LB_SKU_SAFETY_STOCK}}</th>
                                            <th width="8%">{{::t.LB_INVENTORY_SKU_ATS}}</th>
                                        </thead>
                                        </tr>
                                        <tbody>
                                        <tr ng-repeat="history in data.InventoryJournalList | orderBy: 'LastModified': true">
                                            <td>{{history.JournalEventName}}</td>
                                            <td>{{history.UserName}}</td>
                                            <td>{{history.UserTypeName}}</td>
                                            <td>{{history.LastModified | momentFilter}}</td>
                                            <td>{{history.IsPerpetual ? t.LB_INVENTORY_UNLIMITED : history.QtyAllocated}}</td>
                                            <td>{{history.QtyOrdered}}</td>
                                            <td>{{history.QtyExported}}</td>
                                            <td>{{history.QtySafetyThresholdLocation}}</td>
                                            <td>{{history.QtySafetyThresholdSku}}</td>
                                            <td>{{inventoryCtrl.InventoryService.getATS({
                                                QtyAts: history.QtyAts,
                                                IsPerpetual: history.IsPerpetual
                                                })}}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    
                </div>
            </div>

        </div>
    </div>
</div>
