<div class="page-content-wrapper">
    <div class="page-content" dw-loading="loading" >
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="mm_color_black">{{::t.LB_INVENTORY_LIST}} - {{sku.SkuCode}}</h2>
            </div>
        </div>
        <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)">
            {{::message.msg}}
        </alert>
        <!-- END PAGE HEADER-->


        <!-- BEGIN TABLE-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PRODUCT LIST TABLE-->
                <div class="portlet box grey-cascade" style="margin-top:10px;">
                    <div class="portlet-body">
                        <!-- BEGIN TABLE TOOL-->
                        <div class="table-toolbar">
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-12 mm_form_label control-label"><h3 class="mm_text_black">{{sku.SkuCode}}</h3></label>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_PRODUCT_NAME}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{sku.SkuName}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_PRODUCT_STYLECODE}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{sku.StyleCode}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_form_compact">
                                <label class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label">{{::t.LB_SIZE}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{sku.SizeName}}</span>
                            </div>
                            <div class="mm_no_padding_left form-group col-md-12 col-sm-12 col-xs-12 mm_under_line">
                                <label style="font-weight: normal;" class="mm_no_padding_left col-md-2 col-sm-3 col-xs-4 mm_form_label control-label label-style-fix">{{::t.LB_COLOUR}}</label>
                                <span class="col-md-3 col-sm-9 col-xs-8">{{sku.SkuColor||'---'}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="searchKeyword"
                                               ng-model="query"
                                               ng-change="resetPage()"
                                               placeholder="{{::t.LB_LOCATION_SEARCH}}">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                                <div class="pull-right col-md-6 p5" style="margin-right:5px">
                                    <div class="col-md-offset-8 col-md-4 p5">
                                        <select class="form-control" ng-model="statusId"
                                                ng-change="inventoryCtrl.filter()" ng-init="statusId='-1'">
                                            <option value="{{::CONSTANTS.INVENTORY_STATUS.ALL}}">{{::t.LB_ALL_STATUS}}</option>
                                            <option ng-repeat="(statusId, statusName) in CONSTANTS.INVENTORY_STATUS_NAME" value="{{statusId}}">
                                                {{statusName}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END TABLE TOOL-->
                        <!-- BEGIN PRODUCT LIST-->
                        <table class="table table-stripped table-bordered mm_table_border">
                            <thead>
                            <tr>
                                <th class="sort" ng-class="{current:predicate=='LocationName', asc : !reverse, desc : reverse }" ng-click="order('LocationName')" width="12%">{{::t.LB_LOC_NAME}}</th>
                                <th class="sort" ng-class="{current:predicate=='LocationExternalCode', asc : !reverse, desc : reverse }" ng-click="order('LocationExternalCode')" width="10%">{{::t.LB_LOC_ID}}</th>
                                <th class="sort" ng-class="{current:predicate=='QtyAllocated', asc : !reverse, desc : reverse }" ng-click="order('QtyAllocated')" width="10%">{{::t.LB_INVENTORY_ALLOCATION}}</th>
                                <th class="sort" ng-class="{current:predicate=='LastModified', asc : !reverse, desc : reverse }" ng-click="order('LastModified')" width="15%">{{::t.LB_INVENTORY_RESETTIME}}</th>
                                <th class="sort" ng-class="{current:predicate=='QtyExported', asc : !reverse, desc : reverse }" ng-click="order('QtyExported')" width="10%">{{::t.LB_INVENTORY_QUANTITY_EXPORTED}}</th>
                                <th class="sort" ng-class="{current:predicate=='QtyOrdered', asc : !reverse, desc : reverse }" ng-click="order('QtyOrdered')" width="10%">{{::t.LB_INVENTORY_QUANTITY_ORDERED}}</th>
                                <th class="sort" ng-class="{current:predicate=='QtyAts', asc : !reverse, desc : reverse }" ng-click="order('QtyAts')" width="12%">{{::t.LB_INVENTORY_ATS}}</th>
                                <th class="sort" ng-class="{current:predicate=='InventoryStatusId', asc : !reverse, desc : reverse }" ng-click="order('InventoryStatusId')" width="8%">{{::t.LB_STATUS}}</th>
                                <th width="8%">{{::t.LB_ACTIONS}}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="inventory in filteredinventories=(inventories | filter:filterInventory | filter: filterStatus | orderBy:predicate:reverse) | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage" ng-click="viewInventory(inventory.InventoryId)">
                                <td><a ui-sref="editInventoryLocation({merchantId:merchantId, inventorylocationid:inventory.InventoryLocationId})">{{ inventory.LocationName }}</a>
                                </td>
                                <td>{{ inventory.LocationExternalCode }}</td>
                                
                                <td>{{ ::!inventory.SkuId?t.LB_NA: (inventory.IsPerpetual?t.LB_INVENTORY_UNLIMITED: inventory.QtyAllocated) }}</td>
                                <td>{{ inventory.SkuId?(inventory.LastModified | momentFilter):t.LB_NA}}</td>
                                <td>{{ inventory.SkuId && inventory.QtyExported>=0 ? inventory.QtyExported :t.LB_NA }}</td>
                                <td>{{ inventory.SkuId && inventory.QtyOrdered>=0 ? inventory.QtyOrdered :t.LB_NA }}</td>
                                <td>{{ inventory.SkuId?inventoryCtrl.InventoryService.getATS(inventory):t.LB_NA}}</td>
                                <td><span class="{{::CONSTANTS.INVENTORY_STATUS_CSS[inventory.InventoryStatusId]}}">{{::CONSTANTS.INVENTORY_STATUS_NAME[inventory.InventoryStatusId] }}</span></td>
                                <td ng-click="$event.stopPropagation();">
                                    <span ng-init="showCreate = !inventory.SkuId && sku.StatusId === CONSTANTS.STATUS.ACTIVE;
                                    showEdit = inventory.SkuId && sku.StatusId !== CONSTANTS.STATUS.PENDING && sku.StatusId !== CONSTANTS.STATUS.DELETED"></span>
                                    <span ng-if="!showEdit && !showCreate">--</span>
                                    <a ng-if="showEdit" ng-click="inventoryCtrl.InventoryService.editInventory(inventory)">{{::t.LB_EDIT}}</a>
                                    <a ng-if="showCreate" ng-click="inventoryCtrl.InventoryService.createInventory({SkuId: skuId, InventoryLocationId: inventory.InventoryLocationId})">{{::t.LB_CREATE}}</a>
                                </td>
                            </tr>

                            <tr ng-show="filteredinventories.length <= 0">
                                <td colspan="9" class="text-center">{{::t.LB_LOCATION_NO_DATA}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <mm-pagination total-item-no="inventories.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
                    </div>
                </div>
            </div>
            <!-- END TABLE-->
        </div>
    </div>
</div>
