<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">
      {{::message.msg}}
    </alert>
    <!-- END PAGE HEADER-->

    <h2 class="mm_color_black">
      {{::t.LB_UPLOAD_IMAGE}}
      <!--<div class="mm_header_desc_block">{{::t.LB_MC_REM_PROD_IMG_UPLOAD}}</div>-->
    </h2>

    <p class="mm_info_block">
      <i class="fa fa-cloud-download text-primary"></i>
      {{::t.LB_GUIDELINE}}
      <a ng-href="/assets/docs/product_image_guideline.pdf" download>{{::t.LB_GUIDELINE_DL}}</a></p>
    <p class="mm_info_block">
      <i class="fa fa-list text-primary"></i>
      {{::t.LB_MISSING_IMG_REPORT_GUIDELINE}}
      <a ui-sref="productMissingImgReport({merchantId: MerchantId})" target="_blank">{{::t.LB_MISSING_IMG_REPORT_VIEW}} <i class="fa fa-external-link"></i></a></p>
    <!-- BEGIN FORM -->
    <div class="row">
			<div class="col-md-12">
        <h4>{{::t.BTN_ADD_IMAGES}}</h4>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
  				<div class="panel-body">
						<div class="col-md-8">
							<form class="form-horizontal" name="validationForm" novalidate="true">
						    <div class="form-body">
						      <div class="form-group">
                    <label class="col-md-12 mm_form_label">{{::t.LB_UPL_IMG_SELECT_OPTION}}</label>
						        <div class="col-md-12">
                      <div class="radio" ng-repeat="item in options.existsAction">
                        <label>
                          <input type="radio" ng-model="form.existsAction" value="{{item.value}}"> {{item.label}}</input>
                        </label>
                      </div>
						        </div>
						      </div>
						    </div>
						  </form>
						</div>
            <!-- BEGIN DROP AREA-->
            <div class="droparea"
              ng-model="files"
              ngf-drop
              ngf-drag-over-class="dragover"
              ngf-multiple="true"
              ngf-keep="false"
              ngf-allow-dir="true"
              ngf-pattern="'.jpg,.jpeg,.png,.zip'"
              accept=".jpg,.jpeg,.png,.zip"
              ng-disabled="loading"
              >
              <ul class="files" ng-show="files && files.length">
                <li class="file"
                  ng-repeat="file in files"
                  ng-init="upload(file, $index)"
                  ng-class="{error: !!file.error, done: !!file.result}"
                  >
                  <div class="thumb">
                    <div class="loading"
                      ng-show="!!file.upload"
                      ng-style="{height: (100 - (file.progress || 0)) + '%'}"
                      ></div>
                    <img ngf-src="filePreview(file)" />
                  </div>
                  <p>
                    {{::file.name}}
                  </p>
                  <p ng-show="!file.error && !file.result" >
                    {{ file.progress || 0 }}%
                  </p>
                  <p ng-show="!!file.error" style="color: red;">
                    Failed
                  </p>
                  <p ng-show="!!file.result">
                    <button class="btn btn-default" type="button"
                      style="padding: 5px 10px 0 10px;"
                      ng-disabled="loading"
                      ng-click="remove($index)">{{::t.BTN_IMG_DEL}}</button>
                  </p>
                </li>
              </ul>
            </div>
            <!-- END DROP AREA-->
					</div>  <!-- end panel-body -->

					<div class="panel-footer" style="background-color: #FFF">
						<div class="row">
					    <div class="col-md-6">
                <mm-image-upload
                  tag="button"
                  tag-class="btn btn-danger mm_form_btn"
                  model="files"
                  pattern="product"
                  transclude='<span>{{::t.BTN_ADD_IMAGES}}</span>
                  <i class="fa fa-spinner fa-spin" ng-show="loading"></i>'>
                </mm-image-upload>
              </div>
					    <!-- <div class="col-md-6">
                <div class="pull-right" style="margin-right:20px">
  					      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ui-sref="productList({merchantId: MerchantId})">{{::t.LB_CANCEL}}</button>
                </div>
					    </div> -->
					  </div>
					</div>
				</div>  <!-- end panel -->
			</div>
		</div>
    <!-- END FORM -->

    <!-- BEGIN TABLE-->
    <div class="row"
      ng-show="successFiles.length || failedFiles.length">
      <div class="col-md-12">
        <h4>{{::t.LB_UPLOAD_RESULT}}</h4>
        <p><a href="javascript:;" ng-click="scrollTo('uploaded')">{{Util.format(t.LB_UPLOAD_SUCCESS, [successFiles.length])}}</a></p>
        <p><a href="javascript:;" ng-click="scrollTo('not-uploaded')">{{Util.format(t.LB_UPLOAD_IMAGE_FAILED, [failedFiles.length])}}</a></p>
      </div>
      <div class="col-md-12">
        <div class="portlet box grey-cascade">
          <div class="portlet-body">
            <h5 id="uploaded">{{Util.format(t.LB_UPLOAD_SUCCESS, [successFiles.length])}}</h5>
            <table class="table table-stripped table-bordered">
              <thead>
                <tr>
                  <th>{{::t.LB_UPL_SUC_IMAGE_NAME}}</th>
                  <th>{{::t.LB_UPL_SUC_PROD_NAME}}</th>
                  <th>{{::t.LB_PRODUCT_STYLE_CODE}}</th>
                  <th>{{::t.LB_UPL_SUC_IMG_TYPE}}</th>
                  <th>{{::t.LB_UPL_IMG_COL_TYPE}}</th>
                  <th>{{::t.LB_UPL_IMG_IMG_RANK}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in successFiles = (files | filter: successFilter)" >
                  <th scope="row">{{::file.name}}</th>
                  <td>{{
                    ::file.result.SkuCulture[language].SkuName
                  }}</td>
                  <!-- <td>{{file.result.StyleImage.MerchantId}}</td> -->
                  <td><a ui-sref="productEdit({merchantId:merchantId,stylecode: file.result.StyleImage.StyleCode})" target="_blank">{{::file.result.StyleImage.StyleCode }}</a></td>
                  <td>{{::file.result.StyleImage.ImageTypeCode }}</td>
                  <td>{{::file.result.StyleImage.ColorKey || '--' }}</td>
                  <td>{{::file.result.StyleImage.Position}}</td>
                </tr>
              </tbody>
            </table>
            <h5 id="not-uploaded">{{Util.format(t.LB_UPLOAD_IMAGE_FAILED, [failedFiles.length])}}</h5>
            <table class="table table-stripped table-bordered">
              <thead>
                <tr>
                  <th>{{::t.LB_UPL_FAIL_IMAGE_NAME}}</th>
                  <th>{{::t.LB_UPL_FAIL_REASON}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in failedFiles = (files | filter: failedFilter)">
                  <th scope="row">{{::file.name}}</th>
                  <td>{{t[file.error.AppCode] || file.error.Message}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
