<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="mm_color_black">
                    <span ng-if="route === 'edit'">{{::t.LB_EDIT_PRODUCT_INVENTORY}} - {{inventory.Sku.SkuCode}}
                    <!-- <div class="mm_header_desc_block">{{::t.LB_MC_REM_SKU_INVENTORY_EDIT}}</div>-->
                    </span>
                    <span ng-if="route === 'create'">{{::t.LB_PRODUCT_NEW_INVENTRY}} - {{inventory.Sku.SkuCode}}
                    <!-- <div class="mm_header_desc_block">{{::t.LB_MC_REM_SKU_INVENTORY_CREATE}}</div> -->
                    </span>
                </h2>
            </div>
        </div>


        <p>
            <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)"><i
                    class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i>
                {{message.msg}}
            </alert>
        </p>



        <form class="form-horizontal" name="validationForm" novalidate="true"
              ng-submit="validationForm.$valid && save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body" style="background-color:#eee; padding: 20px; font-size: 15px">
                            <i class="fa fa-exclamation-circle" style="color: #337ab7;"></i>
                            {{::t.LB_VIEW}} <a ng-click="listHistory()">{{::t.LB_INVENTORY_UPDATE_HISTORY}}</a>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-12" style="padding-top: 20px;">
                                <!--Product Basic Information-->
                                <div class="form-group col-md-12 mm_under_line">
                                    <label>{{::t.LB_PRODUCT_BASIC_INFO}}</label>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_PRODUCT_NAME}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.SkuName}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_PRODUCT_SKU}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.SkuCode}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_PRODUCT_BARCODE}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.Bar}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_COLOUR}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.SkuColor}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_PRODUCT_SIZE}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.SizeName}}</label></span>
                                </div>
                                <!--Inventory-->
                                <div class="form-group col-md-12 mm_under_line">
                                    <label>{{::t.LB_PRODUCT_INVENTORY_INFORMATION}}</label>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_LOCATION}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.InventoryLocation.LocationName}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_LOC_ID}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.InventoryLocation.LocationExternalCode}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_UNLIMITED}}</label>

                                    <div class="col-md-9 col-sm-8 col-xs-7">
                                        <label class="radio-inline">
                                            <input type="radio" name="perpetual"
                                                   ng-model="isPerpetual"
                                                   value="{{::CONSTANTS.PERPETUAL.TRUE}}"> {{::t.LB_YES}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="perpetual"
                                                   ng-model="isPerpetual"
                                                   value="{{::CONSTANTS.PERPETUAL.FALSE}}"> {{::t.LB_NO}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_ALLOCATION}}
                                        <mm-tooltip tooltip-title="t.LB_MC_TT_INVENTORY_ALLOCATION"></mm-tooltip>
                                    </label>

                                    <div class="col-md-3 col-sm-4 col-xs-5"
                                         ng-class="{'has-error': validationForm.QtyAllocated.$error.required || validationForm.QtyAllocated.$error.max}">
                                        <input type="text" class="form-control"
                                               id="allocation"
                                               name="QtyAllocated"
                                               mm-number-validation allow-decimal="false" min="0"
                                               ng-required="isPerpetual==CONSTANTS.PERPETUAL.FALSE"
                                               placeholder="{{t.LB_INVENTORY_ALLOCATION_NOTE}}"
                                               ng-disabled="isPerpetual==CONSTANTS.PERPETUAL.TRUE"
                                               ng-model="qtyAllocated"/>
                                    </div>

                                    <div ng-show="validationForm.QtyAllocated.$invalid && (validationForm.$submitted || validationForm.QtyAllocated.$touched)"
                                         class="help-block login-error col-md-offset-3 col-sm-offset-4 col-xs-offset-5 col-md-8 col-sm-8 col-xs-8">
                                        <span ng-show="validationForm.QtyAllocated.$error.required">{{::t.MSG_ERR_ALLO_FORMAT}}</span>
                                        <span ng-show="validationForm.QtyAllocated.$error.max">{{::Util.format(t.MSG_ERR_NUM_GREATER_THAN, [CONSTANTS.NUMBER_INPUT.DEFAULT_MAX])}}</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_RESETTIME}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Inventory
                                        && inventory.Inventory.LastModified ? (inventory.Inventory.LastModified |
                                        momentFilter) : t.LB_NA}}</label></span>
                                </div>

                                <!--Product ATS-->
                                <div class="form-group col-md-12 mm_under_line">
                                    <label>{{::t.LB_INVENTORY_ATS_RESULT}}</label>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_ALLOCATION}}</label>
                                <span class="col-md-9 col-sm-8 col-xs-7">
                                    <label class="mm_form_label control-label">
                                    <span ng-if="isNewInventory">
                                        {{::t.LB_NA}}
                                    </span>
                                    <span ng-if="!isNewInventory">
                                        <span ng-if="inventory.Inventory.IsPerpetual">
                                            {{::t.LB_INVENTORY_UNLIMITED}}
                                        </span>
                                        <span ng-if="!inventory.Inventory.IsPerpetual">
                                            {{inventory.Inventory.QtyAllocated}}
                                        </span>
                                    </span>
                                    </label>
                                </span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_QUANTITY_EXPORTED}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{isNewInventory
                                        ? t.LB_NA : inventory.Inventory.QtyExported}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_QUANTITY_ORDERED}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{isNewInventory
                                        ? t.LB_NA : inventory.Inventory.QtyOrdered}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_LOCATION_SAFETY_STOCK}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.InventoryLocation.QtySafetyThreshold
                                        !== null ? inventory.InventoryLocation.QtySafetyThreshold :
                                        t.LB_NA}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_SKU_SAFETY_STOCK}}</label>
                                    <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventory.Sku.QtySafetyThreshold
                                        !== null ? inventory.Sku.QtySafetyThreshold : t.LB_NA}}</label></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_INVENTORY_ATS}}</label>
                                <span class="col-md-9 col-sm-8 col-xs-7"><label class="mm_form_label control-label">{{inventoryCtrl.InventoryService.getATS({
                                    QtyAts: inventory.Inventory.QtyAts,
                                    IsPerpetual: inventory.Inventory.IsPerpetual
                                    })}}</label></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-md-3 col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_STATUS}}</label>

                                    <div class="col-md-9 col-sm-8 col-xs-7">
                                        <label class="mm_form_label control-label">
                                            <span ng-if="isNewInventory">{{::t.LB_NA}}</span>
                                    <span ng-if="!isNewInventory"
                                          class="{{CONSTANTS.INVENTORY_STATUS_CSS[inventory.Inventory.InventoryStatusId]}}">
                                        {{CONSTANTS.INVENTORY_STATUS_NAME[inventory.Inventory.InventoryStatusId]}}
                                    </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--footer button-->
                        <div class="panel-footer" style="background-color: #FFF">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="pull-left" style="margin-right:20px">
                                        <!--
                                        <button class="btn btn-danger mm_form_btn" ng-if="!isNewInventory"
                                                type="button" ng-click="openDeleteDialog(inventory)">{{::t.LB_DELETE}}
                                        </button>
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="pull-right" style="margin-right:20px">
                                        <button class="btn btn-default mm_form_btn" style="border: none; color: #ccc"
                                                type="button" ng-click="back(true)">{{::t.LB_CANCEL}}
                                        </button>
                                        <button class="btn btn-danger mm_form_btn"
                                                mm-form-validation is-button="true"
                                                type="submit">{{isEdit ? t.LB_SAVE :
                                            t.LB_CREATE}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
