<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="mm_modal_title mm_color_black">{{::t.LB_MC_COLORS_SIZE_TITLE}} <mm-tooltip tooltip-title="t.LB_TT_PROD_CREATE_SKU" placement="bottom"></mm-tooltip></h2>
</div>

<div class="col-md-12" style="margin:0 0 0 30px">
  <label class="col-md-6 control-label">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-click="checkInit()" ng-model="isNoColorSize" ng-true-value="1" ng-false-value="0">
        {{::t.LB_CREATE_SKU_WITHOUT_COLOR_SIZE}}
      </label>
    </div>
  </label>
</div>

<div class="row" ng-show="isNoColorSize==0" style="margin:20px 0 0 20px">
  <div class="col-md-6" style="padding-left:20px;">
    <form class="form-horizontal" name="skuColorForm">
      <div ng-repeat="(colorCode, color) in colors">
        <mm-multilingual-inputs
                form-name="skuColorForm"
                label-class="col-md-3 control-label"
                input-div-class="col-md-9"
                wrapper-class="form-group"
                prop="ColorName"
                prop-prefix="colorCode"
                model="color['name' + language]"
                disable="color.isChoose==0"
                required="true"
                constraints="[{validator: 'required', message: 'MSG_ERR_SKU_COLOR_NIL'}]"
                label-transclude="<label class='pull-left'>
                  <input type='checkbox' ng-click='operateColor(colorCode, color.isChoose)' ng-init='color.isChoose = 0'
                  ng-model='color.isChoose' ng-true-value='1' ng-false-value='0'> {{color.ColorName}}
                  </label>"
        ></mm-multilingual-inputs>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="form-group col-md-12">
      <label class="col-md-5 mm_form_label control-label" style="margin-top: 8px;">{{::t.LB_MC_SIZE_SELECTOR}}</label>
      <div class="col-md-7">
        <select class="form-control" ng-model="sizeList" ng-change="clearChoosedSizeList()" ng-options="SizeGroupName for (SizeGroupName,SizeList) in SizeGroupMap">
          <option value="">{{::t.LB_MC_SIZE_SELECTOR }}</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-12 col-md-offset-2">
      <div class="checkbox" ng-repeat="size in sizeList">
        <label>
          <input type="checkbox" ng-click="operateSize(size.SizeId)"> {{size.SizeName}}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:20px 20px 0 20px">
  <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>

  <div class="pull-right" style="margin:20px">
    <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CLOSE}}</button>
    <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" mm-form-validation is-button="true" form-name="skuColorForm" ng-click="generateSkus()">
      <span>{{::t.LB_GENERATE}}</span>
      <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
    </button>
  </div>
</div>
