<div class="page-content-wrapper">
  <div class="page-content" dw-loading="loading">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>

    <div class="row">
      <div class="col-md-12">
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}
          <span style="cursor: pointer" ng-if="message.hash" ng-click="closeMessage($index); jumpToSection(message.hash);" class="fa fa-angle-double-down"></span>
        </alert>
        <h2 class="mm_color_black mm_title_font_size">
          <div ng-if="saveMode">
            <h2 class="mm_color_black">{{::t.LB_PROD_CREATE}}
              <!--<div class="mm_header_desc_block">{{::t.LB_REM_PROD_CREATE}}</div>-->
            </h2>
          </div>
          <div ng-if="!saveMode">
            <h2 class="mm_color_black">{{Util.format(t.LB_PROD_EDIT_TITLE,[(style.SkuName===undefined)?'':style.SkuName])}}
              <!--<div class="mm_header_desc_block">{{::t.LB_REM_PROD_EDIT}}</div>-->
            </h2>
          </div>
        </h2>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal" name="validationForm" novalidate="true">
              <div class="col-md-12" style="padding-top: 20px;">
                <!--Product Basic Information-->
                <div class="form-group col-md-12 mm_under_line">
                  <a name="productName"></a>
                  <label>{{::t.LB_PRODUCT_BASIC_INFO}} <mm-tooltip tooltip-title="t.LB_TT_PROD_INFO"></mm-tooltip> </label>
                </div>

                <mm-multilingual-inputs
                        label="LB_PRODUCT_NAME"
                        prop="SkuName"
                        model="style['SkuName' + language]"
                        required="true"
                        max-length="100"
                        placeholder-language="true"
                        constraints="[{validator: 'required', message: 'MSG_ERR_PROD_NAME_LONG'},
                                        {validator: 'maxlength', message: 'MSG_ERR_PROD_NAME_LONG'}]"
                ></mm-multilingual-inputs>

                  <div class="form-group col-md-12">
                      <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_MANFACTURER}}</label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" placeholder="{{::t.LB_PRODUCT_MANFACTURER}} {{::t.LB_OPTIONAL}}" name="ManufacturerName" ng-model="style.ManufacturerName"/>
                      </div>
                  </div>



                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_BRAND}}</label>
                  <div ng-if="Brands.length>1" class="col-md-6">
                    <select class="form-control"  name="BrandId" ng-model="style.BrandId" ng-options="brand.BrandId as brand.BrandName for brand in Brands" required="">
                      <option value="">{{::t.LB_PROD_SELECT_BRAND }}</option>
                    </select>
                    <div ng-show="validationForm.$submitted || validationForm.BrandId.$touched" class="help-block login-error">
                      <span ng-show="validationForm.BrandId.$error.required">{{::t.MSG_ERR_BRAND_CODE_NIL}}</span>
                    </div>
                  </div>
                  <div ng-if="Brands.length==1" class="col-md-6">
                    <span style="display: inline-block; margin-top: 9px;">{{Brands[0].BrandName}}</span>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_COO}}</label>
                  <div class="col-md-6">
                    <select class="form-control" name="GeoCountryId" ng-model="style.GeoCountryId" ng-options="c.GeoCountryId as c.GeoCountryName for c in geoCountries">
                      <option value="">{{::t.LB_SELECT_COUNTRY }}</option>
                    </select>
                  </div>
                </div>

                <a name="styleCode"></a>
                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_YEAR_LAUNCHED}}</label>
                  <div class="col-md-6">
                    <select class="form-control" name="LaunchYear" ng-model="style.LaunchYear" ng-options="c.key as c.value for c in LaunchYears">
                      <option value="">{{::t.LB_PROD_SELECT_YEAR }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_SEASON_LAUNCHED}}</label>
                  <div class="col-md-6">
                    <select class="form-control" name="SeasonId" ng-model="style.SeasonId" ng-options="c.SeasonId as c.SeasonName for c in Seasons">
                      <option value="">{{::t.LB_PROD_SELECT_SEASON }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_STYLE_CODE}}</label>
                  <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.StyleCode.$error.required}">
                    <input type="text" class="form-control" placeholder="{{::t.LB_PRODUCT_STYLE_CODE}}" name="StyleCode" ng-model="style.StyleCode" ng-pattern="/^[a-zA-Z0-9-_.]*$/i" required="" maxlength="100">
                    <div ng-show="validationForm.$submitted || validationForm.StyleCode.$touched" class="help-block login-error">
                      <span ng-show="validationForm.StyleCode.$error.required">{{::t.MSG_ERR_STYLECODE_INVALID}}</span>
                      <span ng-show="validationForm.StyleCode.$error.pattern">{{::t.MSG_ERR_STYLECODE_INVALID}}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_TAG_CODE}}</label>
                  <div class="col-md-6">
                    <select class="form-control" name="BadgeId" ng-model="style.BadgeId" ng-options="c.BadgeId as c.BadgeName for c in Badges">
                      <option value="">{{::t.LB_PROD_SELECT_BADGE }}</option>
                    </select>
                    <!-- <div ng-show="validationForm.$submitted || validationForm.BadgeId.$touched" class="help-block login-error">
                      <span ng-show="validationForm.BadgeId.$error.required">{{::t.MSG_ERR_BADGE_CODE_NIL}}</span>
                    </div> -->
                  </div>
                </div>

                  <mm-number-input
                          input-class="col-md-6"
                          input-style="width: 100%"
                          label="LB_PRODUCT_RETAIL_PRICE"
                          placeholder="LB_PRODUCT_RETAIL_PRICE"
                          model="style.PriceRetail"
                          prop="PriceRetail"
                          allow-decimal="true"
                          required="true"
                          required-err-msg="MSG_ERR_RETAIL_PRICE_INVALID"
                          min="style.PriceSale"
                          min-err-msg="MSG_ERR_RETAIL_PRICE_INVALID"
                  ></mm-number-input>

                  <mm-number-input
                          input-class="col-md-6"
                          input-style="width: 100%"
                          label="LB_PRODUCT_SALE_PRICE"
                          placeholder="LB_PRODUCT_SALE_PRICE"
                          model="style.PriceSale"
                          prop="PriceSale"
                          allow-decimal="true"
                          min-err-msg="MSG_ERR_SALE_PRICE_INVALID"
                          is-optional="true"
                  ></mm-number-input>

                  <mm-from-to-datepicker
                          tooltip-title="LB_TT_PROD_AVAIL_FROM_TO"
                          label="LB_PRODUCT_AVAILABLE_FROM"
                          start-time="style.AvailableFrom"
                          end-time="style.AvailableTo"
                          start-max-time="style.AvailableTo"
                          end-min-time="style.AvailableFrom">
                  </mm-from-to-datepicker>

                  <input type="text" class="hide-on-focus" name="SalesTimeError" ng-model="salesTimeError" required>

                  <mm-from-to-datepicker
                          is-error="salesTimeError"
                          label="LB_PROD_SALE_AVAIL_FROM"
                          start-time="style.SaleFrom"
                          start-min-time="style.AvailableFrom"
                          end-time="style.SaleTo"
                          end-max-time="style.AvailableTo"
                          start-min-time-error="MSG_ERR_SALE_AVAIL_FROM_NIL"
                          end-max-time-error="MSG_ERR_SALE_AVAIL_TO_NIL">
                  </mm-from-to-datepicker>

                  <div class="form-group col-md-12">
                      <label class="col-md-2 mm_form_label control-label">{{::t.LB_IS_FEATURE}}</label>
                      <div class="col-md-6" style="top: 6px;">
                          <label>
                              <input type="checkbox" ng-model="style.IsFeatured"
                                     ng-checked="style.IsFeatured" ng-init="style.IsFeatured=0" ng-true-value="1" ng-false-value="0">
                              {{::t.LB_YES}}
                          </label>
                      </div>
                  </div>

                <!--Product Category Information-->
                <div class="form-group col-md-12 mm_under_line">
                  <label>{{::t.LB_PRODUCT_CATEGORY_INFO}} <mm-tooltip tooltip-title="t.LB_TT_PROD_CAT"></mm-tooltip></label>
                </div>
                <div class="form-group col-md-12">
                  <table class="table table-stripped  mm_table_border mm_plain_table_list">
                    <thead>
                      <tr>
                        <th width="40%">{{::t.LB_PROD_CAT_TYPE}}</th>
                        <th width="40%">{{::t.LB_PROD_SELECTED_CAT}}</th>
                        <th width="20%">{{::t.LB_ACTIONS}}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr ng-repeat="productCategory in productCategoryList">
                        <td>{{Util.format(productCategory.CategoryType,[$index])}}</td>
                        <td>{{productCategory.CategoryName}}</td>
                        <td>
                          <a ng-click="openCategoryDialog(productCategory)">{{::t.LB_SELECT}}</a>
                          <span ng-if="productCategory.CategoryId!=''&&productCategory.Priority!=0"> | <a ng-click="resetCategory(productCategory)">{{::t.LB_DELETE}}</a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <input type="text" class="hide-on-focus" name="requireCategory" ng-model="productCategoryList[0].CategoryId" required>
                            <span class="btn btn-primary sub-btn" ng-if="isShowAddMerchanCategory" ng-click="addMerchandizeCategory()">{{::t.LB_PROD_ADD_CATEGORY}}</span>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr ng-show="validationForm.$submitted" class="has-error">
                        <td colspan="3" class="login-error">
                            <span ng-show="validationForm.requireCategory.$error.required">{{::t.MSG_ERR_CATEGORY_CODE_NIL ||'MSG_ERR_CATEGORY_CODE_NIL'}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                </div>


                <!--Shipping Information-->
                <div class="form-group col-md-12 mm_under_line">
                  <label>{{::t.LB_PRODUCT_SHIPPING_INFO}} <mm-tooltip tooltip-title="t.LB_TT_PROD_SHIP_INFO"></mm-tooltip></label>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4" style="margin-left: 15px">
                        <mm-number-input
                            label-class="col-md-6"
                            input-class="col-md-6"
                            input-style="width: 120px"
                            label="LB_PRODUCT_LENGTH"
                            placeholder="LB_OPTIONAL"
                            model="style.LengthCm"
                            prop="LengthCm"
                            allow-decimal="true"
                        ></mm-number-input>
                    </div>
                    <div class="col-md-4">
                        <mm-number-input
                                label-class="col-md-6"
                                input-class="col-md-6"
                                input-style="width: 120px"
                                label="LB_PRODUCT_WIDTH"
                                placeholder="LB_OPTIONAL"
                                model="style.WidthCm"
                                prop="WidthCm"
                                allow-decimal="true"
                        ></mm-number-input>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4" style="margin-left: 15px">
                        <mm-number-input
                                label-class="col-md-6"
                                input-class="col-md-6"
                                input-style="width: 120px"
                                label="LB_PRODUCT_HEIGHT"
                                placeholder="LB_OPTIONAL"
                                model="style.HeightCm"
                                prop="HeightCm"
                                allow-decimal="true"
                        ></mm-number-input>
                    </div>
                    <div class="col-md-4">
                        <mm-number-input
                                label-class="col-md-6"
                                input-class="col-md-6"
                                input-style="width: 120px"
                                label="LB_PRODUCT_WEIGHT"
                                placeholder="LB_OPTIONAL"
                                model="style.WeightKg"
                                prop="WeightKg"
                                allow-decimal="true"
                        ></mm-number-input>
                    </div>
                </div>

                <!--Product Description-->
                <div class="form-group col-md-12 mm_under_line">
                  <label>{{::t.LB_PRODUCT_DESCRIPTION_AREA}}</label>
                </div>

                <mm-multilingual-inputs
                        label="LB_PRODUCT_DESCRIPTION"
                        prop="SkuDesc"
                        model="style['SkuDesc' + language]"
                        is-optional="true"
                        is-text-area="true"
                        constraints="[]"
                ></mm-multilingual-inputs>

                <mm-multilingual-inputs
                        label="LB_PRODUCT_FEATURE"
                        prop="SkuFeature"
                        model="style['SkuFeature' + language]"
                        is-optional="true"
                        is-text-area="true"
                        constraints="[]"
                ></mm-multilingual-inputs>

                <mm-multilingual-inputs
                        label="LB_PRODUCT_MATERIAL"
                        prop="SkuMaterial"
                        model="style['SkuMaterial' + language]"
                        is-optional="true"
                        is-text-area="true"
                        constraints="[]"
                ></mm-multilingual-inputs>

                <mm-multilingual-inputs
                        label="LB_PRODUCT_SIZE_COMMENT"
                        prop="SkuSizeComment"
                        model="style['SkuSizeComment' + language]"
                        is-optional="true"
                        is-text-area="true"
                        constraints="[]"
                ></mm-multilingual-inputs>

                <!--Product Variations-->
                <div class="form-group col-md-12 mm_under_line">
                  <label>{{::t.LB_PRODUCT_VARIATIONS}} <mm-tooltip tooltip-title="t.LB_TT_PROD_SKU"></mm-tooltip></label>
<!--                  <div class="pull-right" style="margin-right:20px">
                    <a ng-click="openCreateSkuDialog(style)">{{::t.LB_PROD_ADD_SKU}}</a>
                  </div>-->
                </div>
                <div class="form-group col-md-12">
                  <input type="text" class="hide-on-focus sku-list">
                  <table class="table table-stripped mm_table mm_table_border mm_plain_table_list">
                    <thead>
                      <tr>
                        <th width="6%">{{::t.LB_PRODUCT_COLOUR_CODE}}</th>
                        <th width="10%">{{::t.LB_PROD_COLOR_NAME_EN}}</th>
                        <th width="10%">{{::t.LB_PROD_COLOR_NAME_CHS}}</th>
                        <th width="10%">{{::t.LB_PROD_COLOR_NAME_CHT}}</th>
                        <th width="5%">{{::t.LB_PRODUCT_SIZE}}</th>
                        <th width="10%">{{::t.LB_PRODUCT_SKU}}</th>
                        <th width="10%">{{::t.LB_PRODUCT_BARCODE}}</th>
                        <th width="9%">{{::t.LB_SKU_SAFETY_STOCK}}</th>
                        <th width="8%">{{::t.LB_INVENTORY_SKU_ATS}}</th>
                        <th width="8%">{{::t.LB_SKU_TOTAL_LOCAT}}</th>
                        <th width="8%">{{::t.LB_ACTIONS}}</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="(key,skuObj) in style.SkuList">
                            <td>{{skuObj.ColorCode==0?'---':skuObj.ColorCode}}</td>
                            <td>{{(skuObj.SkuColorEN=='')?'---':skuObj.SkuColorEN}}</td>
                            <td>{{(skuObj.SkuColorCHS=='')?'---':skuObj.SkuColorCHS}}</td>
                            <td>{{(skuObj.SkuColorCHT=='')?'---':skuObj.SkuColorCHT}}</td>
                            <td>{{(skuObj.SizeName==undefined)?'---':skuObj.SizeName}}</td>
                            <td ng-class="{'has-error': validationForm.$submitted && (validationForm['SkuCode_'+key].$error.required || validationForm['SkuCode_'+key].$error.maxlength || validationForm['SkuCode_'+key].$error.minlength)}">
                              <input style="width:100%" type="text" class="form-control" style="width:100px" name="SkuCode_{{key}}" ng-model="skuObj.SkuCode" required ng-maxlength="12" ng-minlength="1"/>
                            </td>
                            <td ng-class="{'has-error': validationForm.$submitted && (validationForm['Bar_'+key].$error.required || validationForm['Bar_'+key].$error.pattern)}">
                              <input style="width:100%" type="text" class="form-control" style="width:100px" name="Bar_{{key}}" ng-model="skuObj.Bar" ng-pattern="/^[0-9]{1,12}$/i"/>
                            </td>
                            <td ng-class="{'has-error': validationForm.$submitted && validationForm['QtySafetyThreshold_'+key].$error.required}">
                              <input style="width:100%" type="number" class="form-control" style="width:70px" name="QtySafetyThreshold_{{key}}" ng-model="skuObj.QtySafetyThreshold" required/>
                            </td>
                            <td>{{ skuObj.QtyAts===CONSTANTS.PERPETUAL_ALLOCATION_NO?t.LB_INVENTORY_UNLIMITED:(skuObj.QtyAts || t.LB_NA) }}</td>
                            <td>
                              <span ng-show="skuObj.SkuId==''">{{skuObj.LocationCount}}</span>
                              {{skuObj.LocationCount||0}}
                            </td>
                            <td>
                                <span ng-show="skuObj.SkuId && skuObj.StatusId !== CONSTANTS.STATUS.PENDING">
                                <a ui-sref="productInventory({skuid: skuObj.SkuId, merchantId:merchantId})">{{::t.LB_DETAILS}}</a>
                                | </span> <a ng-click="deleteSku($index)">{{::t.LB_DELETE}}</a>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td ng-show="validationForm.$submitted && 
                                        (validationForm['SkuCode_'+key].$error.required || 
                                        validationForm['SkuCode_'+key].$error.maxlength ||
                                        validationForm['SkuCode_'+key].$error.minlength ||
                                        validationForm['Bar_'+key].$error.pattern ||
                                        validationForm['QtySafetyThreshold_'+key].$error.required 
                                        )" colspan="11" class="login-error">
                                <div ng-show="validationForm.$submitted || validationForm['SkuCode_'+key].$touched">
                                    <!--<span ng-show="validationForm.$submitted && validationForm['SkuCode_'+key].$error.required">{{::t.MSG_ERR_SKU_SKUCODE_NIL || 'MSG_ERR_SKU_SKUCODE_NIL'}}</span>-->
                                    <span ng-show="validationForm.$submitted && validationForm['SkuCode_'+key].$error.required">{{::t.MSG_ERR_SKU_INVALID || 'MSG_ERR_SKU_NIL'}}</span>
                                    <span ng-show="validationForm.$submitted && (validationForm['SkuCode_'+key].$error.maxlength || validationForm['SkuCode_'+key].$error.minlength)">{{::t.MSG_ERR_SKU_INVALID || 'MSG_ERR_SKU_INVALID'}}</span>
                                </div>
                                <div ng-show="validationForm.$submitted || validationForm['Bar_'+key].$touched">
                                    <span ng-show="validationForm.$submitted && validationForm['Bar_'+key].$error.pattern">{{::t.MSG_ERR_BAR_INVALID || 'MSG_ERR_BAR_INVALID'}}</span>
                                </div>
                                <div ng-show="validationForm.$submitted || validationForm['QtySafetyThreshold_'+key].$touched">
                                    <span ng-show="validationForm.$submitted && validationForm['QtySafetyThreshold_'+key].$error.required">{{::t.MSG_ERR_SKU_QTYATS_NIL || 'MSG_ERR_SKU_QTYATS_NIL'}}</span>
                                </div>
                            </td>
                        </tr>
                      
                      <tr ng-show="validationForm.$submitted" class="has-error">
                          <td colspan="11" class="login-error">
                              <!--{{::t.MSG_ERR_PRODUCT_CATEGORY_INVALID ||'Product category is a mandatory field'}}-->
                                  <span ng-show="style.SkuList.length===0">{{::t.MSG_ERR_SKU_LIST_NIL ||'MSG_ERR_SKU_LIST_NIL'}}</span>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                    
                    <div class="pull-left">
                    <button class="btn btn-primary sub-btn" type="button" ng-click="openCreateSkuDialog(style)">
                        <span>{{::t.LB_PROD_ADD_SKU}}</span>
                    </button>
                </div>
                </div>
                
                

                <!--Product Variations-->
                <div class="form-group col-md-12 mm_under_line">
                  <label class="">{{::t.LB_PRODUCT_IMAGES}} <mm-tooltip tooltip-title="t.LB_TT_PROD_IMG"></mm-tooltip></label>
                </div>

                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_FEATURED_IMAGES}}</label>
                  <div class="col-md-10">
                    <div ng-repeat="image in style.FeaturedImageList" style="display:inline-block;">
                      <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Feature')"
                      />
                      <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.ImageKey, 'Feature')">{{::t.BTN_IMG_DEL}}</button>
                    </div>
                    <!-- <img src="assets/images/icon_image_default.png" ng-if="style.FeaturedImageList.length==0" class="mm_product_img" /> -->
                      <mm-image-upload
                              tag="span"
                              name="FeaturedImage"
                              on-select="uploadImage($files, 'Feature', '')"
                              tag-class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus"
                              model="FeaturedImage"
                              pattern="product"
                              override-pattern="{{CONSTANTS.FILE_FORMAT.IMG}}"
                              is-form="true"
                              is-show="style.FeaturedImageList.length<5">
                      </mm-image-upload>
                  </div>
                  <span class="col-md-offset-2 col-md-10 login-error" ng-show="validationForm.FeaturedImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                </div>

                <div class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_DESCRIPTION_IMAGES}}</label>
                  <div class="col-md-10">
                    <div ng-repeat="image in style.DescriptionImageList" style="display:inline-block;">
                      <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Desc')"
                      />
                      <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.ImageKey, 'Desc')">{{::t.BTN_IMG_DEL}}</button>
                    </div>
                    <!-- <img src="assets/images/icon_image_default.png" ng-if="style.DescriptionImageList.length==0" class="mm_product_img" /> -->
                      <mm-image-upload
                              tag="span"
                              name="DescriptionImage"
                              on-select="uploadImage($files, 'Desc', '')"
                              tag-class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus"
                              model="DescriptionImage"
                              pattern="product"
                              override-pattern="{{CONSTANTS.FILE_FORMAT.IMG}}"
                              is-form="true"
                              is-show="style.DescriptionImageList.length<5">
                      </mm-image-upload>
                  </div>
                  <span class="col-md-offset-2 col-md-10 login-error" ng-show="validationForm.DescriptionImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                </div>

                <div ng-if="style.ColorList.length>0" class="form-group col-md-12">
                  <label class="col-md-2 mm_form_label control-label">{{::t.LB_PRODUCT_COLOUR_IMAGES}}</label>
                  <div class="col-md-10">
                    <!-- <div ng-repeat="(colorKey, colorList) in style.ColorImageListMap"> -->
                    <div ng-repeat="Color in style.ColorList">
                      <div ng-if="Color.ColorKey!=null&&Color.ColorKey!='DESC'">
                        <div>{{Color.SkuColor}}</div>
                        <div>
                          <div style="margin-bottom:10px">
                            <div ng-repeat="image in style.ColorImageListMap[Color.ColorKey]" style="display:inline-block;">
                              <img ng-src="/api/resizer/view?key={{image.ImageKey}}&w=200&h=0&b=productimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data, 'Color', Color.ColorKey)"
                              />
                              <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.ImageKey, 'Color', Color.ColorKey)">{{::t.BTN_IMG_DEL}}</button>
                            </div>
                            <!-- <img src="assets/images/icon_image_default.png" ng-if="colorList.length==0" class="mm_product_img"/> -->
                              <mm-image-upload
                                      tag="span"
                                      name="{{Color.ColorKey}}"
                                      on-select="uploadImage($files, 'Color', '{{Color.ColorKey}}')"
                                      tag-class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus"
                                      model="ColorImage"
                                      pattern="product"
                                      override-pattern="{{CONSTANTS.FILE_FORMAT.IMG}}"
                                      is-form="true"
                                      is-show="!style.ColorImageListMap[Color.ColorKey]||style.ColorImageListMap[Color.ColorKey].length<5">
                              </mm-image-upload>
                              <span class=" col-md-12 login-error" style="padding-left:0px" ng-show="validationForm[Color.ColorKey].$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>


          <!--footer button-->
          <div class="panel-footer" style="background-color: #FFF">
            <div class="row">
              <div class="col-md-12">
                <div ng-show="saveMode" class="pull-left" style="margin-left:20px; padding-top:10px">
                  <label>
                    <input type="checkbox" ng-model="isCreateOther" ng-true-value="1" ng-false-value="0"></input>
                    {{::t.LB_PROD_CREATE_ANOTHER}}
                  </label>
                </div>

                <div class="pull-right" style="margin-right:20px" ng-if="!isPendingMerchant(Merchant)">
                  <button ng-show="saveMode" class="btn btn-danger mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" custom-validations="customValidations" ng-click="saveProduct(validationForm)">
                    <span>{{::t.LB_CREATE_PUBLISH}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>
                <div class="pull-right" style="margin-right:20px">
                  <button ng-show="!saveMode" class="btn btn-danger mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" custom-validations="customValidations" ng-click="saveProduct(validationForm)">
                    <span>{{::t.LB_SAVE}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>
                <div class="pull-right" style="margin-right:20px" >
                  <button ng-show="saveMode" class="btn btn-default mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled"  mm-form-validation is-button="true" custom-validations="customValidations" ng-click="saveProduct(validationForm, true)">
                    <span>{{::t.LB_PROD_CREATE_DRAFT}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>

                <div class="pull-right" style="margin-right:20px">
                  <button class="btn btn-default mm_form_btn" style="border: none; color: #ccc" type="button" ng-click="back()">{{::t.LB_CANCEL}}</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div ng-if="!saveMode" class="col-md-12">
          <div class="panel panel-default">
              <!-- List group -->
              <ul class="list-group mm_ul">
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col-md-2 ng-binding">
                              {{::t.LB_STATUS}}
                          </div>
                          <div class="col-md-3 col-md-offset-1 ng-binding">
                              {{ CONSTANTS.STATUS_NAME[style.StatusId] }}
                          </div>
                          <div class="col-md-6">
                            <a class="pull-right" ng-click="openChangeStatusDialog(style)">{{::t.LB_CHANGE}}</a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>

  </div>
</div>
