<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="mm_modal_title mm_color_black">{{::category.CategoryTypeTitle}}
    <mm-tooltip tooltip-title="t.LB_PROD_SELECT_MER_CAT === category.CategoryTypeTitle ? t.LB_TT_PROD_MERC_CAT_CREATE : t.LB_TT_PROD_PRIM_CAT_CREATE" placement="bottom"></mm-tooltip></h2>
</div>

<div class="modal-body" style="padding:20px; max-height: 300px; overflow: auto;">
  <ul ng-repeat="node in data" class="tree-options"
    ng-include="'nodes_renderer'">
  </ul>
</div>

<div class="modal-footer">
  <div class="mm_dialog_btn_group" >
    <!-- <button ng-show="category.CategoryId" class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="reset()">{{::t.LB_RESET}}</button> -->
    <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
    <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" ng-click="confirm()">
      <span>{{::t.LB_SAVE}}</span>
      <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
    </button>
  </div>
</div>

<script type="text/ng-template" id="nodes_renderer">
<li>
  <a class="btn btn-xs toggle item" ng-if="node.CategoryList && node.CategoryList.length > 0" data-nodrag ng-click="node.expanded = !node.expanded;">
    <span class="glyphicon" ng-class="{
        'glyphicon-plus': !node.expanded,
        'glyphicon-minus':node.expanded
        }">
    </span>
  </a>
  <div class="inner">
    <div ng-click="select(node)" class="item" ng-class="{ selected: selected === node }">
      {{node.CategoryName}}
    </div>
    <div
      ng-if="node.hasOwnProperty('expanded')"
      ng-show="node.expanded"
      >
      <ul ng-repeat="node in node.CategoryList"
        ng-include="'nodes_renderer'">
      </ul>
    </div>
  </div>
</li>
</script>
