<div class="page-content-wrapper">
  <div class="page-content" dw-loading="loading">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">
      {{::message.msg}}
    </alert>
    <!-- END PAGE HEADER-->

    <!-- BEGIN BUTTON GROUP-->
    <div class="row">
      <div class="col-md-3">
        <h2 class="mm_color_black">{{::t.LB_ALL_PRODUCTS}}</h2>
      </div>
      <div class="col-md-9" style="top:16px">
        <button id="btnCreateNewProduct" class="btn btn-primary pull-right btn-lg mm_large_btn" ui-sref="productCreate({merchantId: merchantId})" style="background: #ED2446; margin-left:5px">{{::t.LB_PROD_CREATE}}</button>
        <button id="btnActivePendingProduct" ng-if="!isPendingMerchant(Merchant)" class="btn btn-default pull-right btn-lg" ng-click="activatePending()" style="font-size: 14px;">{{::t.LB_ACTIVATE_ALL_PENDING_PRODUCTS}}</button>
        <button id="btnImportProduct" class="btn btn-default pull-right btn-lg" ng-click="importInit(merchantId)" style="font-size: 14px;">{{::t.LB_IMPORT}}</button>
        <button ng-disabled="styles.length <= 0" id="btnExportProduct" class="btn btn-default pull-right btn-lg" ng-click="openExportDialog()" style="font-size: 14px;">{{::t.LB_EXPORT}}</button>
        <button id="btnUploadImage" class="btn btn-default pull-right btn-lg" ng-click="uploadImage(merchantId)" style="font-size: 14px;">{{::t.LB_UPLOAD_IMAGE}}</button>
      </div>
    </div>
    <!-- END BUTTON GROUP-->

    <!-- BEGIN TABLE-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PRODUCT LIST TABLE-->
        <div class="portlet box grey-cascade" style="margin-top:10px;">
          <div class="portlet-body">
            <!-- BEGIN TABLE TOOL-->
            <div class="table-toolbar">
              <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-4">
                  <div class="input-group">
                      <input type="text" class="form-control" id="searchKeyword" ng-model="productSearchTerm" ng-keypress="$event.which === 13&&filterProductBySearch()" placeholder="{{::t.LB_SEARCH_PRODUCTS}}">
                      <span class="input-group-btn">
                          <button id="btnSearch" class="btn btn-default" ng-click="filterProductBySearch()">{{::t.LB_SEARCH}}</button>
                      </span>
                  </div>
                </div>
                <div class="pull-right col-md-8" style="padding-right:10px;">
                  <div class="col-md-offset-3 col-md-3 p5">
                    <select class="form-control" ng-model="missingImgType" ng-change="filterProductByMissingImgType()" ng-init="missingImgType='-1'">
                      <option value="-1">{{::t.LB_ALL_PRODUCTS}}</option>
                      <option ng-repeat="item in missingImgTypeList" value="{{ item.value }}">{{item.label}}</option>
                    </select>
                  </div>
                  <div class="col-md-3 p5">
                    <!--Using ui-select component since there are lots of category need to be filter by typing. have talked to UX team KOGI-->
                    <!-- <ui-select ng-model="categoryId">
                      <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item.id as item in (categories | filter: $select.search) track by item.id">
                        <span ng-bind="item.name"></span>
                      </ui-select-choices>
                    </ui-select> -->
                    <select class="form-control" ng-model="categoryId" ng-change="filterProductByCategory()" ng-init="categoryId='-1'">
                      <option value="-1">{{::t.LB_ALL_CATEGORY}}</option>
                      <option ng-repeat="item in categoryList" value="{{ item.CategoryId }}">{{item.CategoryName}}</option>
                    </select>
                  </div>
                  <div class="col-md-3 p5">
                    <!--Using ui-select component in order to make consistency with category's-->
                    <!-- <ui-select ng-model="statusId" ng-init="statusId=-1">
                      <ui-select-match>
                        <span ng-bind="getStatusDisplayNameByInvariantName($select.selected.StatusNameInvariant)"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item.StatusId as item in (statusList) track by item.StatusId">
                        <span ng-bind="getStatusDisplayNameByInvariantName(item.StatusNameInvariant)"></span>
                      </ui-select-choices>
                    </ui-select> -->
                    <select class="form-control" ng-model="statusId" ng-change="filterProductByStatus()" ng-init="statusId='-1'">
                      <option value="-1">{{::t.LB_ALL_STATUS}}</option>
                      <option ng-repeat="item in statusList" value="{{ item.StatusId }}">{{CONSTANTS.STATUS_NAME[item.StatusId]}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>



            <!-- END TABLE TOOL-->
            <!-- BEGIN PRODUCT LIST-->
            <table class="table table-stripped table-bordered mm_table_border mm_table">
              <thead>
                <tr>
                  <th width="10%"></th>
                  <th width="17%">{{::t.LB_PRODUCT_NAME}}</th>
                  <th width="12%">{{::t.LB_CATEGORY}}</th>
                  <th width="8%">{{::t.LB_PRODUCT_STYLECODE}}</th>
                  <th width="10%">{{::t.LB_CA_BRAND}}</th>
                  <th width="11%">{{::t.LB_NUMBER_OF_INVENTORY}}</th>
                  <th width="10%">{{::t.LB_STATUS}}</th>
                  <th width="12%" style="min-width: 120px">{{::t.LB_ACTIONS}}</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-click="editProduct(style.StyleCode, merchantId)" ng-repeat="style in styles" ng-click="viewProduct(style.StyleCode, merchantId)">
                  <td>
                    <img ng-src="/api/resizer/view?key={{style.ImageDefault}}&w=200&h=0&b=productimages" ng-if="style.ImageDefault!='00000000000000000000000000000000'" style="width:66px" />
                    <img src="assets/images/icon_image_default.png" ng-if="style.ImageDefault=='00000000000000000000000000000000'" style="width:66px"  />
                  </td>
                  <td>{{ style.SkuName }}</td>
                  <td>{{ buildCategoryText(style.CategoryPriorityList) }}</td>
                  <td>{{ style.StyleCode }}</td>
                  <td>{{ style.BrandName }}</td>
                  <td>{{style.TotalLocationCount}}</td>
                  <td><span class="label {{CONSTANTS.STATUS_CSS[style.StatusId]}}">{{CONSTANTS.STATUS_NAME[style.StatusId] }}</span></td>
                  <td ng-click="$event.stopPropagation();">
                    <select ng-if="style.StatusId===CONSTANTS.STATUS.ACTIVE" class="form-control" ng-model="style.rowAction" ng-options="action.lable for action in inactivateActions track by action.value" ng-change="selectAction(style)">
                      <option value="">{{::t.LB_ACTIONS}}
                        <option>
                    </select>
                    <select ng-if="style.StatusId!==CONSTANTS.STATUS.ACTIVE" class="form-control" ng-model="style.rowAction" ng-options="action.lable for action in activateActions track by action.value" ng-change="selectAction(style)">
                      <option value="">{{::t.LB_ACTIONS}}
                        <option>
                    </select>
                  </td>
                </tr>

                <tr ng-show="styles.length <= 0">
                  <td colspan="8" class="text-center">{{::t.LB_SEARCH_NO_RESULT}}</td>
                </tr>
              </tbody>
            </table>
            
            <mm-pagination storage="{session: 'ProductList', filterModels: ['productSearchTerm', 'missingImgType', 'categoryId', 'statusId']}" page-count="PageTotal" current-page="currentPage" items-per-page="itemsPerPage" get-list="getSkuList" /></mm-pagination>
        </div>
      </div>
    </div>
    <!-- END TABLE-->
  </div>
</div>
