<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <h2 class="mm_color_black">
            {{::t.LB_AC_PROD_MISSING_IMG_REPORT}}
            <!--<div class="mm_header_desc_block">{{::t.LB_MC_MISSING_IMG_NOTE}}</div>-->
        </h2>

        <alert ng-repeat="message in messages" type="danger" close="messages.splice($index, 1)">
            {{::message.Message}}
        </alert>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default hidden-print">
                    <form class="form-horizontal" name="validationForm" novalidate="true">
                        <div class="panel-body">
                            <div class="row">
                                <!-- <label class="col-md-1 mm_form_label control-label">{{::t.LB_FILES}}</label> -->

                                <div class="col-md-4">
                                    <div style="padding-left: 20px">
                                        <div class="checkbox" ng-repeat="item in filters.files">
                                            <label>
                                                <input type="checkbox" checklist-model="form.filefilter"
                                                       ng-disabled="item.disabled"
                                                       checklist-value="item.value"> {{item.label}}</input>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- <label class="col-md-1 mm_form_label control-label">{{::t.LB_STATUS}}</label> -->

                                <div class="col-md-4">
                                    <select ng-model="form.status" class="form-control"
                                            ng-options="item.value as item.label for item in filters.status">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer" style="background-color: #FFF">
                            <div class="row">

                                <div class="col-md-8">
                                    <button class="pull-left btn btn-danger mm_form_btn" type="button"
                                            ng-disabled="loading"
                                            ng-click="run()">
                                        <span>{{::t.BTN_AC_PROD_MISSING_IMG_REPORT_RUN}}</span>
                                        <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                                    </button>
                                    <!-- <div class="pull-right">
                                        <button class="btn btn-default mm_form_btn" type="button"
                                                style="border: none; color: #ccc; margin-right: 10px;"
                                                ui-sref="productList">{{::t.LB_CANCEL}}
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <p ng-if="isReportAvailable && (!report || report.length === 0)" class="bg-info text-center"
                   style="padding: 15px">
                    {{::t.LB_AC_PROD_MISSING_IMG_REPORT_NO_RESULT}}
                </p>

                <div class="panel panel-default hidden-print" style="border: none; background-color: transparent"
                     ng-if="isReportAvailable && report.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2 class="mm_color_black">{{::t.LB_MISSING_IMG_RESULT}}</h2>
                            </div>
                            <div class="pull-right" style="margin-top:12px">
                                <button type="button" class="btn btn-default pull-right btn-lg" style="font-size: 14px;"
                                        ng-show="isReportAvailable"
                                        ng-disabled="loading"
                                        ng-click="print()">
                                    <span>{{::t.BTN_AC_PROD_MISSING_IMG_REPORT_PRINT}}</span>
                                    <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="panel panel-default clearfix" ng-if="isReportAvailable">

                    <table class="table table-stripped table-bordered" ng-if="report.length > 0">
                        <thead>
                        <tr>
                            <th>{{::t.LB_PRODUCT_STYLE_CODE}}</th>
                            <th ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.FEATURE)">{{::t.LB_FEATURE_IMAGE}}</th>
                            <th ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.DESC)">{{::t.LB_DESCRIPTION_IMAGE}}</th>
                            <th ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.COLOR)">{{::t.LB_COLOR_IMAGE}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in report">
                            <td><a ui-sref="productEdit({stylecode:data.StyleCode})" target="_blank">{{data.StyleCode}}</a>
                            </td>
                            <td ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.FEATURE)"><i
                                    class="fa fa-{{data.TotalFeature === 0 ? 'times text-danger' : 'check text-success'}}"></i>
                                <span ng-if="data.TotalFeature > 0">({{data.TotalFeature}})</span>
                                <a ng-if="!data.TotalFeature" clipboard-error="onCopyError()"
                                   clipboard-success="onCopySuccess()"
                                   mm-clipboard data-clipboard-text="{{data.StyleCode + '_1'}}">{{data.StyleCode}}_1</a>
                            </td>
                            <td ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.DESC)"><i
                                    class="fa fa-{{data.TotalDesc === 0 ? 'times text-danger' : 'check text-success'}}"></i>
                                <span ng-if="data.TotalDesc > 0">({{data.TotalDesc}})</span>
                                <a ng-if="!data.TotalDesc" clipboard-error="onCopyError()"
                                   clipboard-success="onCopySuccess()"
                                   mm-clipboard data-clipboard-text="{{data.StyleCode + '_DESC_1'}}">{{data.StyleCode}}_DESC_1</a>
                            </td>
                            <td ng-if="fileFilterExists(CONSTANTS.PRODUCT_IMG_TYPE.COLOR)">
                                <div ng-if="data.MissingColors.length === 0"><i class="fa fa-check text-success"></i>
                                </div>
                                <div ng-if="data.MissingColors.length > 0">
                                    <ul class="list-unstyled">
                                        <li ng-repeat="color in data.MissingColors">{{color.UserColorName}}
                                            ({{color.SystemColorName}})
                                            <a clipboard-error="onCopyError()"
                                               clipboard-success="onCopySuccess()"
                                               mm-clipboard
                                               data-clipboard-text="{{data.StyleCode + '_' + color.ColorKey + '_1'}}">{{data.StyleCode}}_{{color.ColorKey}}_1</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
