<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1>{{::t.LB_TL_CONFIRMATION}}</h1>
      </div>
      <div class="panel-footer" style="background-color: #FFF;">
        <div style="height: 150px;">
          {{::t.LB_RESET_PW_SUC_DESC}} <a ui-sref="login">{{::t.LB_LOGIN_LOWERCASE}}</a>.
        </div>
      </div>
    </div>
    </div>
  </div>
  <hr>
</div>
