<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div style="text-align: center; white-space: nowrap">
        <h1>{{::t.LB_TL_RESET_PASSWORD}}</h1>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="height: 20px"><!-- spacing --></div>
          <form name="validationForm" class="form" novalidate="true">
            <div class="form-group" ng-class="{'has-error': validationForm.$submitted && validationForm.password.$error}">
              <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="{{::t.LB_ENTER_PW}}" required
              ng-pattern="PASSWORD_REGEX">
              <div ng-show="validationForm.$submitted" class="help-block login-error">
                <span ng-show="validationForm.password.$error.required">{{::t.MSG_ERR_PASSWORD_NIL}}</span>
                <span ng-show="validationForm.password.$error.pattern">{{::t.MSG_ERR_PW_FORMAT || t.LB_PASSWORD_CHARACTER}}</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': validationForm.$submitted && user.password && (user.password !== user.confirmPassword)}">
              <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" placeholder="{{::t.LB_REENTER_PASSWORD}}" required>
              <div ng-show="validationForm.$submitted && user.password && (user.password !== user.confirmPassword)" class="help-block login-error">
                <span>{{::t.MSG_ERR_PASSWORD_REENTER_NOT_MATCH}}</span>
              </div>
            </div>

            <div class="form-group">
              <p class="help-block login-error" ng-show="errMsg && validationForm.$submitted">
                <img src="assets/images/icon_error_w12.png" />
                <span>{{errMsg}}</span>
              </p>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-danger form-control" mm-form-validation is-button="true" ng-click="resetPassword(validationForm)">{{::t.LB_RESET}}</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <hr>
</div>
