<style>
    table th:last-child, table td:last-child{
        width: 145px;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-6">
                <h1>{{::t.LB_AC_SYNONYMS}}</h1>
            </div>
        </div>

        <br />
    
        <div class="portlet light" style="border:1px solid #e0e0e0;">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <div class="input-group">
                            <input ng-model="search" type="text" class="form-control" placeholder="{{::t.LB_AC_SEARCH_SYNONYM}}">
                            <span class="input-group-btn">
                                <button ng-disabled="search == ''" ng-click="filterBySearch()" class="btn btn-default" type="button">{{::t.LB_AC_SEARCH}}</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="input-group">
                            <input ng-model="searchTerm" type="text" class="form-control" placeholder="{{::t.LB_AC_ADD_SYNONYMS}}">
                            <span class="input-group-btn">
                                <button ng-disabled="searchTerm == ''" ng-click="addSearchTerm()" class="btn green" type="button">{{::t.LB_ADD}}</button>
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th class="sort ng-class:{ current: sortBy == 'SearchTerm', asc : !reverse, desc : reverse };" ng-click="sortTable('SearchTerm')">{{::t.LB_AC_SYNONYM_GROUP}}</th>
                        <th>{{::t.LB_AC_ACTION}}</th>
                    </tr>

                    <tbody>
                        <tr ng-repeat="item in allData | orderBy:sortBy:reverse | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                            <td>
                                <input class="form-control col-md-12" type="text" ng-model="item.SearchTerm" />
                            </td>
                            <td ng-click="$event.stopPropagation()">
                                <button ng-click="save(item)" class="btn btn-sm btn-success">{{::t.LB_SAVE}}</button>
                                <button ng-click="delete(item, $index)" class="btn btn-sm btn-danger">{{::t.LB_DELETE}}</button>
                            </td>
                        </tr>

                        <tr ng-show="allData.length <= 0"><td colspan="2" class="text-center">{{::t.LB_NO_AVAILABLE_DATA}}</td></tr>
                    </tbody>
                </table>
                <mm-pagination total-item-no="allData.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>

<!--                <div class="row clearfix" style="margin:0px;">
                    <ul class="pagination pagination-sm col-md-6">
                        <li ng-class="prevPageDisabled()">
                          <a href ng-click="prevPage()"> <i class="fa fa-angle-double-left"></i> </a>
                        </li>
                      <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                          <a href>{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                          <a href ng-click="nextPage()"> <i class="fa fa-angle-double-right"></i> </a>
                        </li>
                    </ul>

                    <div class="col-md-5" style="text-align: right;margin-top: 15px;font-size: 13px;">
                      {{::t.LB_LOCATION_SHOWING_PAGE}} <strong>{{ currentPage + 1 }}</strong> of <strong>{{ pageCount() + 1 }}</strong>
                    </div>


                     <div class="col-md-1" style="padding:0px;">
                      <div style="width: 75px;float:right;margin-top:8px;">
                        <select class="form-control" ng-model="itemsPerPage" ng-change="setItemsPerPage(itemsPerPage)" ng-init="itemsPerPage='25'">
                           <option value="3">3</option> 
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
</div>





