<style>
    table th:last-child, table td:last-child{
        width: 145px;
    }
    .no-padding{
        padding: 0px;
        padding-left: 5px;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-6">
                <h1>{{::t.LB_AC_PINYIN_AUTO_COMPLETION}}</h1>
            </div>
        </div>

        <br />
    
        <div class="portlet light" style="border:1px solid #e0e0e0;">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <div class="input-group">
                            <input ng-model="search" type="text" class="form-control" placeholder="{{::t.LB_AC_SEARCH_PINYIN_AUTO_COMP}}">
                            <span class="input-group-btn">
                                <button ng-disabled="search == ''" ng-click="filterBySearch()" class="btn btn-default" type="button">{{::t.LB_AC_SEARCH}}</button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="row">
                            <div class="col-md-5 no-padding">
                                <input ng-model="SearchTermIn" type="text" class="form-control" placeholder="{{::t.LB_AC_PINYIN_INPUT}}">
                            </div>
                            <div class="col-md-5 no-padding">
                                <input ng-model="searchTerm" type="text" class="form-control" placeholder="{{::t.LB_AC_PINYIN_OUTPUT}}">
                            </div>
                            <div class="col-md-2 no-padding">
                                <button ng-disabled="searchTerm == '' && SearchTermIn == ''" ng-click="addSearchTerm()" class="btn green" type="button">{{::t.LB_ADD}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th class="sort ng-class:{ current: sortBy == 'SearchTermIn', asc : !reverse, desc : reverse };" ng-click="sortTable('SearchTermIn')">{{::t.LB_AC_PINYIN_INPUT}}</th>
                        <th class="sort ng-class:{ current: sortBy == 'SearchTerm', asc : !reverse, desc : reverse };" ng-click="sortTable('SearchTerm')">{{::t.LB_AC_PINYIN_OUTPUT}}</th>
                        <th>{{::t.LB_AC_ACTION}}</th>
                    </tr>

                    <tbody>
                        <tr ng-repeat="item in allData | orderBy:sortBy:reverse | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                            <td>
                                <input class="form-control col-md-12" type="text" ng-model="item.SearchTermIn" />
                            </td>
                            <td>
                                <input class="form-control col-md-12" type="text" ng-model="item.SearchTerm" />
                            </td>
                            <td ng-click="$event.stopPropagation()">
                                <button ng-click="save(item)" class="btn btn-sm btn-success">{{::t.LB_SAVE}}</button>
                                <button ng-click="delete(item, $index)" class="btn btn-sm btn-danger">{{::t.LB_DELETE}}</button>
                            </td>
                        </tr>

                        <tr ng-show="allData.length <= 0"><td colspan="2" class="text-center">{{::t.LB_NO_AVAILABLE_DATA}}</td></tr>
                    </tbody>
                </table>
                <mm-pagination total-item-no="allData.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
            </div>
        </div>
    </div>
</div>





