<style>
    table th:last-child, table td:last-child{
        width: 250px;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <h1>{{::t.LB_AC_TRENDING_SEARCH_TERMS}}</h1>
            </div>
        </div>

        <br />
    
        <div class="portlet light" style="border:1px solid #e0e0e0;">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <div class="input-group">
                            <input ng-model="searchTerm" type="text" class="form-control" placeholder="{{::t.LB_AC_ADD_SEARCH_TERM}}">
                            <span class="input-group-btn">
                                <button ng-disabled="searchTerm == ''" ng-click="addSearchTerm()" class="btn green" type="button">{{::t.LB_ADD}}</button>
                            </span>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <!--<th class="sort ng-class:{ current: sortBy == 'SearchTerm', asc : !reverse, desc : reverse };" ng-click="sortTable('SearchTerm')">{{::t.LB_AC_TRENDING_SEARCH_TERMS}}</th>-->
                        <th>{{::t.LB_AC_TRENDING_SEARCH_TERMS}}</th>
                        <th>{{::t.LB_AC_ACTION}}</th>
                    </tr>

                    <tbody>
                        <tr ng-repeat="item in allData | orderBy:sortBy:reverse | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                            <td class="wrap"><span>{{ item.SearchTerm }}</span></td>
                            <td ng-click="$event.stopPropagation()">
                                <button ng-disabled="moving || item.Priority >= allData.length - 1" ng-click="moveUp(item)" class="btn btn-sm"><i class="fa fa-arrow-up"></i></button>
                                <button ng-disabled="moving || item.Priority <= 0" ng-click="moveDown(item)" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                                <button ng-click="edit(item)" class="btn btn-sm btn-success">{{::t.LB_EDIT}}</button>
                                <button ng-click="delete(item, $index)" class="btn btn-sm btn-danger">{{::t.LB_DELETE}}</button>
                            </td>
                        </tr>

                        <tr ng-show="allData.length <= 0"><td colspan="2" class="text-center">{{::t.LB_NO_AVAILABLE_DATA}}</td></tr>
                    </tbody>
                </table>
                <mm-pagination total-item-no="allData.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
            </div>
        </div>
    </div>
</div>
