
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <h1>{{::t.LB_AC_SEARCH}}</h1>
            </div>
        </div>

        <div class="portlet light" style="border:1px solid #e0e0e0;">
            <div class="portlet-body">
                <div class="tabbable-line">
                    <h4><a href="#/terms/trending">{{::t.LB_AC_TRENDING_SEARCH_TERMS}}</a></h4>
                    <h4><a href="#/terms/synonym">{{::t.LB_AC_SYNONYMS}}</a></h4>
                    <h4><a href="#/terms/custom">{{::t.LB_AC_CUSTOM_AUTO_COMPLETION}}</a></h4>
                    <h4><a href="#/terms/pinyin">{{::t.LB_AC_PINYIN_AUTO_COMPLETION}}</a></h4>
                    <h4><a href="#/terms/indexes">{{::t.LB_AC_SEARCH_INDEXES}}</a></h4>
                </div>
            </div>
        </div>
        
    </div>
</div>
