<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>

    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
    <!-- END PAGE HEADER-->
    <h2 class="mm_color_black">
      {{Util.format(t.LB_USER_EDIT_PROFILE,[displayName])}}
    </h2>

    <div class="row">
			<div class="col-md-12">
				<h4>{{::t.LB_BASIC_PROFILE}}
					<!--<div class="mm_header_desc_block">{{::t.LB_MC_REM_USER_PROF_EDIT}}</div>-->
				</h4>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
  				<div class="panel-body">
					<div class="col-md-8 col-md-pull-1" style="padding-top: 20px;">
						<form class="form-horizontal" name="validationForm" novalidate="true">
							<div class="form-body">

								<div class="form-group">
									<label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_PROFILE_PIC}}</label>
									<div class="col-md-8">
										<div class="pull-left" style="margin: -15px 0px 0px 0px">
											<img ng-src="/api/resizer/view?key={{form.ProfileImage}}&w=200&h=0&b=userimages&noresizer"
												 ng-if="form.ProfileImage" class="img-circle" style="width:66px"/>
											<img src="assets/images/icon_profile_default.png" ng-if="!form.ProfileImage"
												 class="img-circle"/>
										</div>
										<div class="pull-left" style="margin-left: 8px">
											<mm-image-upload
													tag="button"
													name="ProfileImage"
													on-select="FileUploadService.uploadBis($files, form, 'userimages')"
													tag-class="btn btn-default"
													tag-style="padding: 1px 20px; width:89px; height:24px"
													model="ProfileImage"
													pattern="general"
													transclude="{{::t.LB_UPLOAD}}">
											</mm-image-upload>
										</div>
										<div class="pull-left" style="margin-left: 8px; margin-top: 4px">
											<span>{{::t.LB_OPTIONAL}}</span>
											<span class="login-error" ng-show="validationForm.ProfileImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_USERNAME}}</label>
									<div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.UserName.$error.required}">
										<input type="text" class="form-control" placeholder="{{::t.LB_USERNAME}}" name="UserName" ng-model="form.UserName" required="">
										<div ng-show="validationForm.$submitted || validationForm.UserName.$touched" class="help-block login-error">
											<span ng-show="validationForm.UserName.$error.required">{{::t.MSG_ERR_USERNAME_NIL}}</span>
										</div>
									</div>
								</div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_FIRSTNAME}}</label>
						        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.FirstName.$error.required}">
						          <input type="text" class="form-control" placeholder="{{::t.LB_FIRSTNAME}}" name="FirstName" ng-model="form.FirstName" required="">
						          <div ng-show="validationForm.$submitted || validationForm.FirstName.$touched" class="help-block login-error">
						            <span ng-show="validationForm.FirstName.$error.required">{{::t.MSG_ERR_FIRSTNAME_NIL}}</span>
						          </div>
						        </div>
						      </div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_LASTNAME}}</label>
						        <div class="col-md-8" ng-class="{'has-error': validationForm.$submitted && validationForm.LastName.$error.required}">
						          <input type="text" class="form-control" placeholder="{{::t.LB_LASTNAME}}" name="LastName" ng-model="form.LastName" required="">
						          <div ng-show="validationForm.$submitted || validationForm.LastName.$touched" class="help-block login-error">
						            <span ng-show="validationForm.LastName.$error.required">{{::t.MSG_ERR_LASTNAME_NIL}}</span>
						          </div>
						        </div>
						      </div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_MIDDLE_NAME}}</label>
						        <div class="col-md-8">
						          <input type="text" class="form-control" placeholder="{{::t.LB_MIDDLE_NAME}} {{t.LB_OPTIONAL}}" ng-model="form.MiddleName">
						        </div>
						      </div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_DISP_NAME}}</label>
						        <div class="col-md-8">
									<input type="text" class="form-control" placeholder="{{t.LB_DISP_NAME}}" name="DisplayName" ng-model="form.DisplayName" required="">
									<div ng-show="validationForm.$submitted || validationForm.DisplayName.$touched" class="help-block login-error">
										<span ng-show="validationForm.DisplayName.$error.required">{{::t.MSG_ERR_DISP_NAME_NIL}}</span>
									</div>
								</div>
						      </div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_LANGUAGE}}</label>
						        <div class="col-md-8">
						          <select ng-model="form.LanguageId" class="form-control" ng-options="item.LanguageId as item.LanguageName for item in generalTranslationService.UserReference.LanguageList" >
						            <option value="">---</option>
						          </select>
						        </div>
						      </div>

						      <div class="form-group">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_TIME_ZONE}}</label>
						        <div class="col-md-8">
						          <select ng-model="form.TimeZoneId" class="form-control" ng-options="item.TimeZoneId as item.TimeZoneName for item in generalTranslationService.UserReference.TimeZoneList" >
						            <option value="">---</option>
						          </select>
						        </div>
						      </div>

						      <div class="form-group" ng-show="role_checker">
						        <label class="col-md-3 col-md-offset-1 mm_form_label control-label">{{::t.LB_ROLE}} <mm-tooltip tooltip-title="t.LB_MC_TT_USER_ROLE"></mm-tooltip></label>
						        <div class="col-md-8">
						          <div style="padding-left: 20px">
						            <div class="checkbox" ng-repeat="item in SecurityGroupList">
						              <label>
						                <input type="checkbox" checklist-model="form.UserSecurityGroupArray" checklist-value="item.SecurityGroupId" checklist-change="checkSecurity()"> {{item.SecurityGroupName}}</input>
						              </label>
						            </div>
						          </div>
									<div ng-init="isShowSecurityGroupError = false;" ng-show="isShowSecurityGroupError" class="help-block login-error">
						            <span>{{::t.MSG_ERR_ROLE_NIL}}</span>
						          </div>
						        </div>
						      </div>

						      <div class="form-group"  ng-show="showInventoryCheck" ng-if="pageSide == 'merchant'">
						        <label class="col-md-3 col-md-offset-1 control-label mm_form_label">{{::t.LB_LOC_SELECT}}</label>
						        <div class="col-md-8">
						          <div style="padding-left: 20px">
						            <div class="checkbox" ng-repeat="item in inventoryLocations">
						              <label>
						                <input type="checkbox" checklist-model="form.UserInventoryLocationArray" checklist-value="item.InventoryLocationId"> {{item.LocationName}}</input>
						              </label>
						            </div>
						          </div>
						          <div ng-init="$parent.isShowInventoryLocationError = false;" ng-show="$parent.isShowInventoryLocationError" class="help-block login-error">
						            <span>{{::t.MSG_ERR_LOC_NIL}}</span>
						          </div>
						        </div>
						      </div>

						    </div>
						  </form>
						</div>
					</div>  <!-- end panel-body -->
					<div class="panel-footer" style="background-color: #FFF">
						<div class="row">
					    <div class="col-md-12">
                <div class="pull-right" style="margin-right:20px">
  					      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
							<!-- todo: for form invalid focus, also do role or location -->
  					      <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" ng-click="saveUser(validationForm)">
  									<span>{{::t.LB_SAVE}}</span>
  									<i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
  								</button>
                </div>
					    </div>
					  </div>
					</div>
				</div>  <!-- end panel -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4>{{::t.LB_ACCOUNT}}</h4>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
				  <!-- List group -->
				  <ul class="list-group mm_ul">
				    <li class="list-group-item">
							<div class="row">
								<div class="col-md-2">
									{{::t.LB_EMAIL}}
								</div>
								<div class="col-md-3 col-md-offset-1">
									{{form.Email}}
								</div>
								<div class="col-md-6">
									<a ng-click="openChangeEmailDialog(form)" class="pull-right">{{::t.LB_CHANGE}}</a>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-2">
									{{::t.LB_MOBILE}}
								</div>
								<div class="col-md-3 col-md-offset-1">
									{{form.MobileCode + " " + form.MobileNumber}}
								</div>
								<div class="col-md-6">
									<a ng-click="openChangeMobileDialog(form)" class="pull-right">{{::t.LB_CHANGE}}</a>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-2">
									{{::t.LB_PASSWORD}}
								</div>
								<div class="col-md-3 col-md-offset-1">
									******
								</div>
								<div class="col-md-6">
									<a ng-hide="form.StatusNameInvariant === 'Inactive'" ng-click="openResetPasswordDialog(form)" class="pull-right">{{::t.LB_RESET}}</a>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-2">
									{{::t.LB_STATUS}}
								</div>
                                                            
								<div class="col-md-3 col-md-offset-1">
                                                                    <div>{{CONSTANTS.STATUS_NAME[form.StatusId]}}</div>
								</div>
								<div class="col-md-6">
									<div class="pull-right" ng-if="form.StatusId !== CONSTANTS.STATUS.PENDING && isAdmin && form.UserKey !== User.UserKey">
										<a ng-click="openChangeStatusDialog(form)" class="pull-right">{{::t.LB_CHANGE}}</a>
									</div>

								</div>
							</div>
						</li>
				  </ul>
				</div>
			</div>
		</div>

    <div style="height: 100px">

  </div>
</div>
