<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"></button>
    <h2 class="modal-title mm_modal_title mm_color_black">{{::t.LB_PRODUCT_INVENTORY_DELETE}}</h2>
</div>

<div class="modal-body mm_dialog_body" style="padding-top: 30px">
    <div>
      {{inventory.LocationName}} ({{inventory.LocationId}})
    </div>
    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-12 mm_dialog_btn_group">
            <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
            <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" ng-click="confirm()">
                <span>{{::t.LB_CONFIRM}}</span>
                <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
            </button>
        </div>
    </div>
</div>
