<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" href="<%= proxyDir %>/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="<%= proxyDir %>/css/custom.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="mmtranslation" ng-controller="MainCtrl" data-proxy="<%= proxyDir %>">

	<div class="loader" ng-show="isLoading">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>

    <!-- Begin page content -->
    <div class="container" ng-cloak>
      	<div class="page-header">
      		<img src="<%= proxyDir %>/images/logo.png" alt="">
        	<h1>List of Available Translations</h1>
      	</div>

      	<div ng-repeat="msg in messages" class="alert alert-{{ msg.type }}">
		  	<button type="button" class="close" ng-click="removeMessage(msg)"><span aria-hidden="true">&times;</span></button>
		  	<strong>{{ msg.data.TranslationCode }}</strong>{{ msg.message }}
		</div>

      	<div class="login" ng-if="!loginUser">
      		<form name="loginForm" novalidate ng-submit="loginForm.$valid && login()">
				<div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
			    	<label>Username</label>
			    	<input name="username" type="text" class="form-control" ng-model="user.username"  placeholder="Username / Account Info" required>
			    	<span ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Username is required.</span>
			  	</div>
			  	<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
			    	<label>Password</label>
			    	<input name="password" type="password" class="form-control" ng-model="user.password"  placeholder="************" required>
			    	<span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</span>
			  	</div>
				<button class="btn btn-primary btn-lg" type="submit" ng-disabled="loginForm.$invalid"><i class="fa fa-download"></i> Login</button>
      		</form>
      	</div>

		<div ng-if="loginUser">
	      	<div class="table-toolbar">
	            <div class="row">
	              	<div class="col-md-1">
	                  	<select class="form-control" ng-model="itemsPerPage" ng-change="setItemsPerPage(itemsPerPage)" ng-init="itemsPerPage='25'">
		                    <option value="5">5</option>
		                    <option value="10">10</option>
		                    <option value="25">25</option>
		                    <option value="100">100</option>
	                  	</select>
	                </div>

	                <div class="col-md-3">
	                  	<div class="form-group">
	                    	<input type="text" class="form-control" ng-model="translationSearchTerm" ng-change="filterBySearch(translationSearchTerm)" placeholder="Enter search term.">
	                  	</div>
	                </div>

	                <div class="col-md-3">
	                	<div class="checkbox">
						    <label>
						      	<input type="checkbox" ng-model="showMissing" ng-click="filterCheck(showMissing)">
						      	Show Only Missing Translation
						    </label>
						</div>
					</div>

	                <div class="col-md-5">
	                	<div class="pull-right">
		                	<button class="btn btn-default" ng-click="addTranslation()">Add New Translation</button>
		                	<div class="dropdown" style="display:inline-block;">
							  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Tools
							    <span class="caret"></span>
							  	</button>
							  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li ngf-select="uploadXLSX($file)" ng-model="file" name="file" ngf-pattern="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"><a href="javascript:;">Import XLSX</a></li>
								    <li role="separator" class="divider"></li>
								    <li ng-click="export()">
								    	<a href="javascript:;">
								    		Export 
									    	<span ng-show="exportAll"> All </span> 
									    	<span ng-hide="exportAll"> Selected </span>
									    	SQL
								    	</a>
								    </li>
								    <li ng-click="exportXLSX()"><a href="javascript:;">Export XLSX</a></li>
							  	</ul>
							</div>

		                	<!-- <button class="btn btn-default" ng-click="export()">
		                		Export <span ng-show="exportAll"> All</span>
		                			   <span ng-hide="exportAll"> Selected</span>
		                	</button>
		                	<button class="btn btn-default" ng-click="exportXLSX()">XLSX</button> -->
		                	<button class="btn btn-default" ng-click="reloadData()"><i class="fa fa-refresh"></i></button>
		                	<button class="btn btn-danger" ng-click="logout()"><i class="fa fa-power-off"></i></button>
	                	</div>
					</div>
	           	</div>
	        </div>

	      	<table class="table table-striped table-hover">
		    	<thead>
			    	<tr>
			    		<th><input type="checkbox" ng-model="toggleAll" ng-click="clickToggleAll(toggleAll)"></th>
			    		<th class="sort ng-class:{ current: sortBy == 'TranslationCode', asc : !reverse, desc : reverse };" ng-click="sortTable('TranslationCode')">Translation Code</th>
			    		<th class="sort ng-class:{ current: sortBy == 'EN', asc : !reverse, desc : reverse };" ng-click="sortTable('EN')">English</th>
			    		<th class="sort ng-class:{ current: sortBy == 'CHS', asc : !reverse, desc : reverse };" ng-click="sortTable('CHS')">Chinese Simplified</th>
			    		<th class="sort ng-class:{ current: sortBy == 'CHT', asc : !reverse, desc : reverse };" ng-click="sortTable('CHT')">Chinese Traditional</th>
		    			<th>Actions</th>
		    		</tr>
		    	</thead>

		    	<tbody>
		    		<tr ng-repeat="item in allData | orderBy:sortBy:reverse | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" ng-hide="allData.length <= 0" ng-click="editTranslation(item)">
		    			<td ng-click="$event.stopPropagation()"><input type="checkbox" ng-model="toggle" ng-change="toggleCheck(toggle, item)"></td>
		    			<td>{{ item.TranslationCode }}</td>
		    			<td>{{ item.EN }}</td>
		    			<td>{{ item.CHS }}</td>
		    			<td>{{ item.CHT }}</td>
		    			<td ng-click="$event.stopPropagation()">
		    				<button class="btn btn-xs btn-info" ng-click="editTranslation(item)">Edit</button>
		    				<button class="btn btn-xs btn-danger" ng-click="deleteTranslation(item)">Delete</button>
		    			</td>
		    		</tr>

		    		<tr ng-show="allData.length <= 0"><td colspan="6" class="text-center">{{ tableMessage }}</td></tr>
		    	</tbody>
		    </table>

		    <div class="row clearfix" style="margin:0px;">
	            <ul class="pagination pagination-sm col-md-6">
	                <li ng-class="prevPageDisabled()">
	                  	<a href ng-click="prevPage()"> <i class="fa fa-angle-double-left"></i> </a>
	                </li>
	              	<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
	                  	<a href>{{n+1}}</a>
	                </li>
	                <li ng-class="nextPageDisabled()">
	                  	<a href ng-click="nextPage()"> <i class="fa fa-angle-double-right"></i> </a>
	                </li>
	            </ul>

	            <div class="col-md-6 pull-right" style="text-align: right;margin-top: 15px;font-size: 13px;">
	            	Showing Page <strong>{{ currentPage + 1 }}</strong> of <strong>{{ pageCount() + 1 }}</strong>
	            </div>
	        </div>
        </div>
    </div>

	<div class="modal fade" id="confirm">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Confirm Delete!</h4>
				</div>

				<div class="modal-body">
					<p>Are you sure you want to delete <strong>{{ item.TranslationCode }}</strong>?</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="confirmDelete()">Confirm</button>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="translation">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="translationForm" novalidate ng-submit="translationForm.$valid && saveChanges()">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><span ng-if="!update">Create New </span><span ng-if="update">Edit <strong>{{ item.TranslationCode }}</strong> </span>Translation!</h4>
					</div>

					<div class="modal-body">
					  	<div class="form-group" ng-class="{ 'has-error' : translationForm.TranslationCode.$invalid && !translationForm.TranslationCode.$pristine }">
					    	<label>Translation Code</label>
					    	<input ng-disabled="update" name="TranslationCode" type="text" class="form-control" ng-model="item.TranslationCode"  placeholder="TRANSLATION_CODE" required>
					    	<span ng-show="translationForm.TranslationCode.$invalid && !translationForm.TranslationCode.$pristine" class="help-block">Translation Code is required.</span>
					  	</div>
					  	<div class="form-group">
					    	<label>English</label>
					    	<textarea class="form-control" ng-model="item.EN" rows="3" placeholder="English Translation"></textarea>
					  	</div>
					  	<div class="form-group">
					    	<label>Chinese Simplified</label>
					    	<textarea class="form-control" ng-model="item.CHS" rows="3" placeholder="Chinese Simplified Translation"></textarea>
					  	</div>
					  	<div class="form-group">
					    	<label>Chinese Traditional</label>
					    	<textarea class="form-control" ng-model="item.CHT" rows="3" placeholder="Chinese Traditional Translation"></textarea>
					  	</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>

	<script src="<%= proxyDir %>/js/jquery-2.1.4.min.js"></script>
	<script src="<%= proxyDir %>/js/bootstrap.min.js"></script>
	<script src="<%= proxyDir %>/js/angular/angular.js"></script>
	<script src="<%= proxyDir %>/js/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="<%= proxyDir %>/js/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="<%= proxyDir %>/js/lodash.min.js"></script>
	<script src="<%= proxyDir %>/js/app.js"></script>
</html>