<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>
        <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)">
            <i class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i>
            {{::message.msg}}
        </alert>
        <!-- END PAGE HEADER-->

        <!-- BEGIN BUTTON GROUP-->
        <div class="row">
            <div class="col-md-6">
                <h2 class="mm_color_black ng-binding">{{::t.LB_AC_ALL_BRANDS}}</h2>
            </div>
            <div class="col-md-6" style="top:16px">
                <button class="btn btn-primary pull-right btn-lg mm_large_btn" ng-click="go('brand-create')">
                    {{::t.LB_AC_CREATE_BRAND}}
                </button>
            </div>
        </div>
        <!-- END BUTTON GROUP-->

        <!-- BEGIN TABLE-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PRODUCT LIST TABLE-->
                <div class="portlet box grey-cascade" style="margin-top:10px;">
                    <div class="portlet-body">
                        <!-- BEGIN TABLE TOOL-->
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="searchKeyword"
                                               ng-model="searchString"
                                               ng-change="refresh()"
                                               placeholder="{{::t.LB_AC_BRAND_SEARCH}}">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                                <!--<div class="col-md-2" style="margin-left:-26px">
                                    <div class="form-group">
                                        <button class="btn btn-default" ng-click="filterProductBySearch()">
                                            {{::t.LB_SEARCH}}
                                        </button>
                                    </div>
                                  </div>-->
                                <div class="pull-right col-md-4 p5">
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="brandCriteria"
                                                ng-change="refresh()">
                                            <option value="">{{::t.LB_AC_ALL_BRANDS}}</option>
                                            <option value="IsListedBrand">{{::t.LB_AC_FILTER_LISTED}}</option>
                                            <option value="IsFeaturedBrand">{{::t.LB_AC_FILTER_FEATURED}}</option>
                                            <option value="IsRecommendedBrand">{{::t.LB_AC_FILTER_RECOMMEND}}</option>
                                            <option value="IsSearchableBrand">{{::t.LB_AC_SEARCH_SUGGEST}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="criteria.StatusId"
                                                ng-change="refresh()">
                                            <option value="">{{::t.LB_ALL_STATUS}}</option>
                                            <option value="{{::CONSTANTS.STATUS.ACTIVE}}">{{::t.LB_ACTIVE}}</option>
                                            <option value="{{::CONSTANTS.STATUS.PENDING}}">{{::t.LB_PENDING}}</option>
                                            <option value="{{::CONSTANTS.STATUS.INACTIVE}}">{{::t.LB_INACTIVE}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TABLE TOOL-->
                        <!-- BEGIN PRODUCT LIST-->
                        <table class="table table-stripped table-bordered mm_table_border mm_table">
                            <thead>
                            <tr>
                                <th width="20%" class="sort"
                                    ng-class="{ current: sortBy === 'BrandCode', asc: !reverse, desc: reverse}"
                                    ng-init="sortBy = 'BrandCode'"
                                    ng-click="sortTable('BrandCode')"
                                        >{{::t.LB_BRAND_CODE}}
                                </th>
                                <th width="20%" class="sort"
                                    ng-class="{ current: sortBy === 'BrandName', asc: !reverse, desc: reverse}"
                                    ng-click="sortTable('BrandName')"
                                        >{{::t.LB_AC_BRAND}}
                                </th>
                                <th width="15%" class="sort"
                                    ng-class="{ current: sortBy === 'MerchantCount', asc: !reverse, desc: reverse}"
                                    ng-click="sortTable('MerchantCount')"
                                        >{{::t.LB_AC_NUM_MERCHANT}}
                                </th>
                                <th width="15%" class="sort"
                                    ng-class="{ current: sortBy === 'StyleCount', asc: !reverse, desc: reverse}"
                                    ng-click="sortTable('StyleCount')"
                                        >{{::t.LB_AC_NUM_STYLE}}
                                </th>
                                <th width="15%"
                                    class="sort ng-class:{ current: sortBy == 'StatusId', asc : !reverse, desc : reverse };"
                                    ng-click="sortTable('StatusId')">{{::t.LB_STATUS}}
                                </th>
                                <th width="15%" style="width: 15%; min-width: 120px">{{::t.LB_ACTIONS}}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="
                                item in filtered = (
                                  items |
                                  filter: searchString |
                                  filter: brandFilter |
                                  filter: criteria |
                                  orderBy: sortBy : reverse
                                ) | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage"
                                ng-click="onDoubleClick(item.BrandId)">
                                <td>{{ item.BrandCode }}</td>
                                <td>{{ item.BrandName }}</td>
                                <td>{{ item.MerchantCount }}</td>
                                <td>{{ item.StyleCount }}</td>
                                <td>
                                    <span class="label {{::CONSTANTS.STATUS_CSS[item.StatusId]}}">{{::CONSTANTS.STATUS_NAME[item.StatusId]}}</span>
                                </td>
                                <td ng-click="$event.stopPropagation();">
                                    <select class="form-control" ng-init="item.rowAction = ''" ng-change="selectAction(item)" ng-model="item.rowAction" ng-options="action.lable for action in brandListActionsByStatus[item.StatusId] track by action.value">
                                        <option value="">{{::t.LB_ACTIONS}}<option>
                                    </select>
                                </td>
                            </tr>

                            <tr ng-show="!filtered.length && !loading">
                                <td colspan="8" class="text-center">{{::t.LB_LOCATION_NO_DATA}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <mm-pagination total-item-no="filtered.length" current-page="currentPage"
                                       items-per-page="itemsPerPage"></mm-pagination>
                    </div>
                </div>
            </div>
            <!-- END TABLE-->
        </div>
    </div>
</div>
