<div class="page-content-wrapper">
    <div class="page-content" dw-loading="loading">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <p>
            <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)"><i
                    class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i>
                {{message.msg}}
            </alert>
        </p>

        <h2 class="mm_color_black" style="margin-bottom: 20px;">
            <span ng-if="!isEdit">
                <h2 class="mm_color_black">{{::t.LB_AC_CREATE_BRAND}}</h2>
                <!--<div class="mm_header_desc_block">{{::t.LB_AC_REM_BRAND_CREATE}}</div>-->
            </span>
            <span ng-if="isEdit">
                <h2 class="mm_color_black">{{::t.LB_AC_EDIT_BRAND}} - {{BrandName}}</h2>
                <!-- <div class="mm_header_desc_block">{{::t.LB_AC_REM_BRAND_EDIT}}</div> -->
            </span>

        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-11">
                            <i class="fa fa-cloud-download text-primary"></i>
                            {{::t.LB_AC_BRAND_IMG_GUIDE}}
                            <a ng-href="/assets/docs/merchant_brand_logo_guideline.pdf"
                               download>{{::t.LB_GUIDELINE_DL}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form mm-form-validation class="form-horizontal" name="validationForm" novalidate="true"
                      ng-submit="validationForm.$valid && save(validationForm)">
                    <div class="form-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12" style="padding-top: 20px;">
                                    <!--Basic Profile-->
                                    <div class="form-group col-md-12 mm_under_line">
                                        <label>{{::t.LB_BASIC_BRAND_PROFILE}}</label>
                                    </div>

                                    <mm-multilingual-inputs
                                            label="LB_DISP_NAME"
                                            prop="DisplayName"
                                            model="brand.DisplayName[language]"
                                            required="true"
                                            max-length="25"
                                            placeholder-language="true"
                                            constraints="[{validator: 'required', message: 'MSG_ERR_BRAND_DISPLAY_NAME'},
                                    {validator: 'maxlength', message: 'MSG_ERR_BRAND_DISPLAY_NAME'}]"
                                    ></mm-multilingual-inputs>

                                    <mm-subdomain-input
                                            prop="BrandSubdomain"
                                            model="brand.BrandSubdomain"
                                            tooltip-title="LB_AC_TT_BRAND_SUBDOMAIN"
                                    ></mm-subdomain-input>


                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_BRAND_CODE}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5"
                                             ng-class="{'has-error': validationForm.$submitted && validationForm.BrandCode.$error.required}">
                                            <input type="text" class="form-control" placeholder="{{::t.LB_BRAND_CODE}}"
                                                   ng-model="brand.BrandCode"
                                                   name="BrandCode" required=""
                                                   ng-pattern="/^([a-zA-Z0-9-]){0,25}$/"/>
                                        </div>
                                        <div ng-show="validationForm.BrandCode.$invalid && (validationForm.$submitted || validationForm.BrandCode.$touched)"
                                             class="help-block login-error col-md-offset-2 col-sm-offset-4 col-xs-offset-5 col-md-8 col-sm-8 col-xs-8">
                                            <span ng-show="validationForm.BrandCode.$error.required">{{::t.MSG_ERR_BRAND_CODE_FORMAT}}</span>
                                            <span ng-show="validationForm.BrandCode.$error.pattern">{{::t.MSG_ERR_BRAND_CODE_FORMAT}}</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_LISTED}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <label>
                                                <input type="checkbox" ng-model="brand.IsListedBrand"
                                                       ng-checked="brand.IsListedBrand" value="1">
                                                {{::t.LB_YES}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_FEATURED}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <label>
                                                <input type="checkbox" ng-model="brand.IsFeaturedBrand"
                                                       ng-checked="brand.IsFeaturedBrand" value="1">
                                                {{::t.LB_YES}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_RECOMMEND}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <label>
                                                <input type="checkbox" ng-model="brand.IsRecommendedBrand"
                                                       ng-checked="brand.IsRecommendedBrand">
                                                {{::t.LB_YES}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_SEARCH_SUGGEST}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <label>
                                                <input type="checkbox" ng-model="brand.IsSearchableBrand"
                                                       ng-checked="brand.IsSearchableBrand" value="1">
                                                {{::t.LB_YES}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_HEADER}}
                                            <mm-tooltip tooltip-title="t.LB_AC_TT_BRAND_LOGO"></mm-tooltip>
                                        </label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                                <img ng-src="/api/resizer/view?key={{brand.HeaderLogoImage}}&w=200&h=0&b=brandimages"
                                                     ng-if="brand.HeaderLogoImage" style="width:150px"/>
                                                <img src="assets/images/icon_image_default.png"
                                                     ng-if="!brand.HeaderLogoImage"/>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px">
                                                <mm-image-upload
                                                        tag="a"
                                                        name="HeaderLogoImage"
                                                        on-select="FileUploadService.uploadBisCommon($files, brand, 'HeaderLogoImage', 'HeaderLogoImageProgress', 'brandimages')"
                                                        tag-class="btn btn-default"
                                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                                        model="HeaderLogoImage"
                                                        pattern="general"
                                                        transclude="{{::t.LB_UPLOAD}}">
                                                </mm-image-upload>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                                <span>{{::t.LB_OPTIONAL}}</span>
                                                <span class="login-error"
                                                      ng-show="validationForm.HeaderLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_SMALL}}
                                            <mm-tooltip tooltip-title="t.LB_AC_TT_BRAND_LOGO"></mm-tooltip>
                                        </label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                                <img ng-src="/api/resizer/view?key={{brand.SmallLogoImage}}&w=200&h=0&b=brandimages"
                                                     ng-if="brand.SmallLogoImage" style="width:150px"/>
                                                <img src="assets/images/icon_image_default.png"
                                                     ng-if="!brand.SmallLogoImage"/>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px">
                                                <mm-image-upload
                                                        tag="a"
                                                        name="SmallLogoImage"
                                                        on-select="FileUploadService.uploadBisCommon($files, brand, 'SmallLogoImage', 'SmallLogoImageProgress', 'brandimages')"
                                                        tag-class="btn btn-default"
                                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                                        model="SmallLogoImage"
                                                        pattern="general"
                                                        transclude="{{::t.LB_UPLOAD}}">
                                                </mm-image-upload>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                                <span>{{::t.LB_OPTIONAL}}</span>
                                                <span class="login-error"
                                                      ng-show="validationForm.SmallLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_LARGE}}
                                            <mm-tooltip tooltip-title="t.LB_AC_TT_BRAND_LOGO"></mm-tooltip>
                                        </label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                                <img ng-src="/api/resizer/view?key={{brand.LargeLogoImage}}&w=200&h=0&b=brandimages"
                                                     ng-if="brand.LargeLogoImage" style="width:150px"/>
                                                <img src="assets/images/icon_image_default.png"
                                                     ng-if="!brand.LargeLogoImage"/>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px">
                                                <mm-image-upload
                                                        tag="a"
                                                        name="LargeLogoImage"
                                                        on-select="FileUploadService.uploadBisCommon($files, brand, 'LargeLogoImage', 'LargeLogoImageProgress', 'brandimages')"
                                                        tag-class="btn btn-default"
                                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                                        model="LargeLogoImage"
                                                        pattern="general"
                                                        transclude="{{::t.LB_UPLOAD}}">
                                                </mm-image-upload>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                                <span>{{::t.LB_OPTIONAL}}</span>
                                                <span class="login-error"
                                                      ng-show="validationForm.LargeLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_AC_BRAND_PROFILE_BANNER}}</label>

                                        <div class="col-md-6 col-sm-4 col-xs-5">
                                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                                <img ng-src="/api/resizer/view?key={{brand.ProfileBannerImage}}&w=200&h=0&b=brandimages"
                                                     ng-if="brand.ProfileBannerImage" style="width:200px"/>
                                                <img src="assets/images/icon_image_default.png"
                                                     ng-if="!brand.ProfileBannerImage" style="width:150px"/>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px">
                                                <mm-image-upload
                                                        tag="a"
                                                        name="ProfileBannerImage"
                                                        on-select="FileUploadService.uploadBisCommon($files, brand, 'ProfileBannerImage', 'ProfileBannerImageProgress', 'brandimages')"
                                                        tag-class="btn btn-default"
                                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                                        model="ProfileBannerImage"
                                                        pattern="general"
                                                        transclude="{{::t.LB_UPLOAD}}">
                                                </mm-image-upload>
                                            </div>
                                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                                <span>{{::t.LB_OPTIONAL}}</span>
                                                <span class="login-error"
                                                      ng-show="validationForm.ProfileBannerImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-2 text-right col-sm-4 col-xs-5 mm_form_label control-label">{{::t.LB_DESCRIPTION_IMAGE}}</label>

                                        <div class="col-md-10 col-sm-4 col-xs-5">
                                            <div ng-repeat="image in BrandImageList" style="display:inline-block;">
                                                <img ng-src="/api/resizer/view?key={{image.BrandImage}}&w=200&h=0&b=brandimages"
                                                     class="mm_product_img" ui-draggable="true"
                                                     drag-hover-class="mm_product_img_drop_hover" drag="image"
                                                     drag-channel="A" drop-channel="A"
                                                     accept="{{CONSTANTS.FILE_FORMAT.IMG}}"
                                                     ngf-max-size="{{CONSTANTS.FILE_UPLOAD_SIZE.IMAGE}}"
                                                     ui-on-drop="onDrop(image, $data)"/>
                                                <button class="btn btn-default mm_product_img_del_btn" type="button"
                                                        ng-disabled="loading" ng-click="deleteImage(image.BrandImage)">
                                                    {{::t.BTN_IMG_DEL}}
                                                </button>
                                            </div>
                                            <!-- <img src="assets/images/icon_image_default.png" ng-if="style.FeaturedImageList.length==0" class="mm_product_img" /> -->
                                            <mm-image-upload
                                                    tag="span"
                                                    name="DescImage"
                                                    on-select="uploadImage($files)"
                                                    tag-class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus"
                                                    model="DescImage"
                                                    pattern="general"
                                                    options="true"
                                                    is-show="BrandImageList.length<5">
                                            </mm-image-upload>
                                        </div>
                                        <span class="col-md-offset-2 col-md-10 login-error"
                                              ng-show="validationForm.DescImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                                    </div>

                                    <mm-multilingual-inputs
                                            label="LB_COMP_DESC"
                                            prop="BrandDesc"
                                            model="brand.BrandDesc[language]"
                                            is-text-area="true"
                                            is-optional="true"
                                            placeholder-language="true"
                                            max-length="1000"
                                            constraints="[{validator: 'maxlength', message: 'MSG_ERR_BRAND_COMP_DESC_FORMAT'}]"
                                    ></mm-multilingual-inputs>

                                </div>
                            </div>

                            <div class="panel-footer" style="background-color: #FFF">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right" style="margin-right:20px">

                                            <button class="btn btn-default mm_form_btn" type="button"
                                                    style="border: none; color: #ccc" ui-sref="brand">
                                                {{::t.LB_CANCEL}}
                                            </button>

                                            <button ng-disabled="loading" class="btn btn-default mm_form_btn"
                                                    type="submit" ng-if="!isEdit"
                                                    mm-form-validation is-button="true" ng-click="brand.isDraft = true">
                                                <span>{{::t.LB_SAVE_DRAFT}}</span>
                                                <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                                            </button>

                                            <button class="btn btn-danger mm_form_btn" type="submit"
                                                    ng-click="brand.isDraft = false"
                                                    is-button="true" mm-form-validation
                                                    ng-disabled="loading">
                                                <span ng-if="isEdit">{{::t.LB_SAVE}}</span>
                                                <span ng-if="!isEdit">{{::t.LB_CREATE}}</span>
                                                <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                                            </button>

                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <div ng-if="isEdit">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!-- List group -->
                        <ul class="list-group mm_ul">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2 ng-binding">
                                        {{::t.LB_STATUS}}
                                    </div>
                                    <div class="col-md-3 col-md-offset-1 ng-binding">
                                        {{CONSTANTS.STATUS_NAME[brand.StatusId]}}
                                    </div>
                                    <div class="col-md-6">
                                        <a ng-click="openChangeStatusDialog()"
                                           class="pull-right ng-binding">{{::t.LB_CHANGE}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
