<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
        <h2 class="mm_color_black mm_title_font_size">
          <div ng-if="!saveMode">
            <h2 class="mm_color_black">{{::t.LB_EDIT_CATEGORY}} - {{CategoryName}}</h2>
            <!-- <div class="mm_header_desc_block">{{::t.LB_AC_REM_CATEGORY_EDIT}}</div> -->
          </div>
          <div ng-if="saveMode">
            <h2 class="mm_color_black">{{::t.LB_CREATE_NEW_CATEGORY}}</h2>
            <!--<div class="mm_header_desc_block">{{::t.LB_AC_REM_CATEGORY_CREATE}}</div>-->
          </div>
        </h2>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12" style="padding-top: 20px;">
              <form class="form-horizontal" name="validationForm" novalidate="true">
                <div class="form-body">

                  <mm-multilingual-inputs
                          label="LB_CATEGORY_NAME"
                          prop="CategoryName"
                          model="Category['CategoryName' + language]"
                          required="true"
                          max-length="25"
                          placeholder-language="true"
                          constraints="[{validator: 'required', message: 'MSG_ERR_CATEGORY_NAME_LONG'},
                                        {validator: 'maxlength', message: 'MSG_ERR_CATEGORY_NAME_LONG'}]"
                  ></mm-multilingual-inputs>


                  <div class="form-group col-md-12">
                    <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_AC_CATEGORY_CODE}}
                    <mm-tooltip tooltip-title="t.LB_AC_TT_CATEGORY_CODE"></mm-tooltip></label>
                    <div class="col-md-6 col-sm-6 col-xs-6" ng-class="{'has-error': validationForm.$submitted && validationForm.CategoryCode.$error.required}">
                      <div>

                        <div class="col-md-12 input-group">
                          <span class="input-group-addon" style="padding:0 11px 0 10px">{{Category.ParentCategoryCode}}.</span>
                          <input type="text" class="form-control" placeholder="{{::t.LB_AC_CATEGORY_CODE}}" name="CategoryCode" ng-model="Category.CategoryCode" required="" ng-pattern="/^[A-Za-z0-9-]{0,25}$/" />
                        </div>
                      </div>
                      <div ng-show="validationForm.$submitted || validationForm.CategoryCode.$touched" class="help-block login-error">
                        <span ng-show="validationForm.CategoryCode.$error.required">{{::t.MSG_ERR_CATEGORY_CODE_FORMAT}}</span>
                        <span ng-show="validationForm.CategoryCode.$error.pattern">{{::t.MSG_ERR_CATEGORY_CODE_FORMAT}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_IS_INCLUDE_AUTOCOMPLETE}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="Category.IsSearchableCategory" ng-init="Category.IsSearchableCategory=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_MERCHANT_SELECT}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="Category.IsMerchCanSelect" ng-init="Category.IsMerchCanSelect=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_BANNER}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="pull-left" style="margin: -8px 0px 0px 0px">
                        <img ng-src="/api/resizer/view?key={{Category.CategoryImage}}&w=200&h=0&b=categoryimages" ng-if="Category.CategoryImage" style="width:200px" />
                        <img src="assets/images/icon_image_default.png" ng-if="!Category.CategoryImage" />
                      </div>
                      <div class="pull-left" style="margin-left: 8px">
                          <mm-image-upload
                              tag="a"
                              name="CategoryImage"
                              on-select="FileUploadService.uploadBisCommon($files, Category, 'CategoryImage', 'CategoryImageProgress', 'categoryimages')"
                              tag-class="btn btn-default"
                              tag-style="padding: 1px 20px; width:89px; height:24px"
                              model="CategoryImage"
                              pattern="general"
                              transclude="{{::t.LB_UPLOAD}}">
                          </mm-image-upload>
                      </div>
                      <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                        <span>{{::t.LB_OPTIONAL}}</span>
                        <span class="login-error" ng-show="validationForm.CategoryImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                      </div>
                    </div>
                  </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_CAT_SIZEGRID}}({{CONSTANTS.LANGUAGE['CHS']}})</label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                <img ng-src="/api/resizer/view?key={{Category.SizeGridImageCHS}}&w=200&h=0&b=categoryimages" ng-if="Category.SizeGridImageCHS" style="width:200px" />
                                <img src="assets/images/icon_image_default.png" ng-if="!Category.SizeGridImageCHS" />
                            </div>
                            <div class="pull-left" style="margin-left: 8px">
                                <mm-image-upload
                                        tag="a"
                                        name="SizeGridImageCHS"
                                        on-select="FileUploadService.uploadBisCommon($files, Category, 'SizeGridImageCHS', 'SizeGridImageCHSProgress', 'categoryimages')"
                                        tag-class="btn btn-default"
                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                        model="SizeGridImageCHS"
                                        pattern="general"
                                        transclude="{{::t.LB_UPLOAD}}">
                                </mm-image-upload>
                            </div>
                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                <span>{{::t.LB_OPTIONAL}}</span>
                                <span class="login-error" ng-show="validationForm.SizeGridImageCHS.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_CAT_SIZEGRID}}({{CONSTANTS.LANGUAGE['CHT']}})</label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                <img ng-src="/api/resizer/view?key={{Category.SizeGridImageCHT}}&w=200&h=0&b=categoryimages" ng-if="Category.SizeGridImageCHT" style="width:200px" />
                                <img src="assets/images/icon_image_default.png" ng-if="!Category.SizeGridImageCHT" />
                            </div>
                            <div class="pull-left" style="margin-left: 8px">
                                <mm-image-upload
                                        tag="a"
                                        name="SizeGridImageCHT"
                                        on-select="FileUploadService.uploadBisCommon($files, Category, 'SizeGridImageCHT', 'SizeGridImageCHTProgress', 'categoryimages')"
                                        tag-class="btn btn-default"
                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                        model="SizeGridImageCHT"
                                        pattern="general"
                                        transclude="{{::t.LB_UPLOAD}}">
                                </mm-image-upload>
                            </div>
                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                <span>{{::t.LB_OPTIONAL}}</span>
                                <span class="login-error" ng-show="validationForm.SizeGridImageCHT.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_CAT_SIZEGRID}}({{CONSTANTS.LANGUAGE['EN']}})</label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="pull-left" style="margin: -8px 0px 0px 0px">
                                <img ng-src="/api/resizer/view?key={{Category.SizeGridImageEN}}&w=200&h=0&b=categoryimages" ng-if="Category.SizeGridImageEN" style="width:200px" />
                                <img src="assets/images/icon_image_default.png" ng-if="!Category.SizeGridImageEN" />
                            </div>
                            <div class="pull-left" style="margin-left: 8px">
                                <mm-image-upload
                                        tag="a"
                                        name="SizeGridImageEN"
                                        on-select="FileUploadService.uploadBisCommon($files, Category, 'SizeGridImageEN', 'SizeGridImageENProgress', 'categoryimages')"
                                        tag-class="btn btn-default"
                                        tag-style="padding: 1px 20px; width:89px; height:24px"
                                        model="SizeGridImageEN"
                                        pattern="general"
                                        transclude="{{::t.LB_UPLOAD}}">
                                </mm-image-upload>
                            </div>
                            <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                                <span>{{::t.LB_OPTIONAL}}</span>
                                <span class="login-error" ng-show="validationForm.SizeGridImageEN.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                            </div>
                        </div>
                    </div>

                  <mm-multilingual-inputs
                          label="LB_CATEGORY_DESC"
                          prop="CategoryDesc"
                          model="Category['CategoryDesc' + language]"
                          is-optional="true"
                          is-text-area="true"
                          constraints="[]"
                  ></mm-multilingual-inputs>

                  <mm-multilingual-inputs
                          label="LB_META_KEYWORD"
                          prop="CategoryMetaKeyword"
                          model="Category['CategoryMetaKeyword' + language]"
                          is-optional="true"
                          is-text-area="true"
                          constraints="[]"
                  ></mm-multilingual-inputs>


                  <mm-multilingual-inputs
                          label="LB_META_DESC"
                          prop="CategoryMetaDesc"
                          model="Category['CategoryMetaDesc' + language]"
                          is-optional="true"
                          is-text-area="true"
                          constraints="[]"
                  ></mm-multilingual-inputs>


                    <mm-number-input
                        label="LB_COMMISSION_RATE"
                        model="Category.DefaultCommissionRate"
                        prop="DefaultCommissionRate"
                        is-percentage="true"
                        required="true"
                        required-err-msg="MSG_ERR_COMM_RATE_POSITIVE"
                    ></mm-number-input>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 col-sm-2 col-xs-2 mm_form_label control-label">{{::t.LB_FEATURED_BRAND}}</label>
                    <!--ui-select's ng-model must nested in a object-->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <ui-select multiple limit="5" tagging ng-model="Category.CategoryBrandMerchantList"  theme="select2" style="width: 100%;">
                        <ui-select-match placeholder="{{::t.LB_FEATURED_BRAND}} {{::t.LB_OPTIONAL}}">
                          {{$item.Name}}
                          <span ng-if="$item.Entity=='Merchant'">({{::t.LB_MERCHANT}})</span>
                          <span ng-if="$item.Entity=='Brand'">({{::t.LB_AC_BRAND}})</span>
                        </ui-select-match>
                        <ui-select-choices repeat="Entity in BrandMerchantSelectionList | filter: {Name: $select.search}">
                          {{Entity.Name}}
                          <span ng-if="Entity.Entity=='Merchant'">({{::t.LB_MERCHANT}})</span>
                          <span ng-if="Entity.Entity=='Brand'">({{::t.LB_AC_BRAND}})</span>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>

                    <mm-from-to-datepicker
                            tooltip-title="LB_AC_TT_CATEGORY_PUBLISH"
                            label="LB_PUBLISH"
                            start-time="Category.StartPublishTime"
                            end-time="Category.EndPublishTime"
                            is-forever="Category.IsForever">
                    </mm-from-to-datepicker>

                </div>
              </form>
            </div>
          </div>
          <!-- end panel-body -->

          <!-- for creating new category -->
          <div class="panel-footer" style="background-color: #FFF" ng-show="saveMode">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right" style="margin-right:20px">
                  <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
                  <button id="btnSaveAsDraft" class="btn btn-default mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" ng-click="saveCategory(validationForm, 3)">
                    <span>{{::t.LB_SAVE_DRAFT}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                  <button id="btnSave" class="btn btn-danger mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" ng-click="saveCategory(validationForm, 2)">
                    <span>{{::t.LB_CREATE}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- for editing category -->
          <div class="panel-footer" style="background-color: #FFF" ng-show="!saveMode">
            <div class="row">
              <div class="col-md-12">

                <div class="pull-right" style="margin-right:20px">
                  <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
                  <button id="btnSave" class="btn btn-danger mm_form_btn" type="button" mm-form-validation is-button="true" ng-disabled="isSaveBtnDisabled" ng-click="saveCategory(validationForm)">
                    <span>{{::t.LB_SAVE}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>
                <!-- MM-3127 [UI] remove delete button from within Category page
                <button class="btn btn-default mm_form_btn" type="button" style="color: red;" ng-click="openDeleteCategoryDialog()">{{::t.LB_DELETE}}</button> -->
              </div>
            </div>
          </div>

        </div>
        <!-- end panel -->
      </div>

      <div ng-if="!saveMode" class="col-md-12">
          <div class="panel panel-default">
              <!-- List group -->
              <ul class="list-group mm_ul">
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-2 ng-binding">
                              {{::t.LB_STATUS}}
                          </div>
                          <div class="col-md-3 col-md-offset-1 ng-binding">{{CONSTANTS.STATUS_NAME[Category.StatusId]}}
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <a class="pull-right" ng-click="openChangeCategoryStatusDialog(Category)">{{::t.LB_CHANGE}}</a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>

  </div>
</div>
