<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">
            <i class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i>
            {{::message.msg}}
        </alert>
        <!-- END PAGE HEADER-->

        <!-- BEGIN BUTTON GROUP-->
        <div class="row">
            <div class="col-md-6">
                <h2 class="mm_color_black">{{::t.LB_ALL_CATEGORY}}</h2>
            </div>
            <div class="col-md-6" style="top:16px">
                <button class="btn btn-primary pull-right btn-lg mm_large_btn" style="margin-left:5px;"
                        ng-click="go('categoryCreate', {parentCategoryId:0})">{{::t.BTN_AC_CREATE_CATEGORY}}
                </button>
                <button class="btn btn-default pull-right btn-lg" style="font-size: 14px;"
                        ng-click="openActivatePendingDialog()">{{::t.BTN_ACTIVATE_DRAFT_CATEGORY}}
                </button>
            </div>
        </div>
        <!-- END BUTTON GROUP-->

        <!-- BEGIN TABLE-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PRODUCT LIST TABLE-->
                <div class="portlet box grey-cascade" style="margin-top:10px;">
                    <div class="portlet-body">
                        <!-- BEGIN TABLE TOOL-->
                        <div class="table-toolbar">
                            <div class="row">
                                <!--<div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="searchKeyword"
                                               ng-model="searchString"
                                               ng-change="refresh()"
                                               placeholder="{{::t.LB_AC_BRAND_SEARCH}}">
                                    </div>
                                </div>
                                <div class="pull-right col-md-4 p5">
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="brandCriteria"
                                                ng-change="refresh()"  >
                                            <option value="">{{::t.LB_AC_ALL_BRANDS}}</option>
                                            <option value="IsListedBrand">{{::t.LB_AC_FILTER_LISTED}}</option>
                                            <option value="IsFeatureBrand">{{::t.LB_AC_FILTER_FEATURED}}</option>
                                            <option value="IsRecommendedBrand">{{::t.LB_AC_FILTER_RECOMMEND}}</option>
                                            <option value="IsSearchable">{{::t.LB_AC_SEARCH_SUGGEST}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 p5">
                                        <select class="form-control" ng-model="criteria.StatusId"
                                                ng-change="refresh()" >
                                            <option value="">{{::t.LB_ALL_STATUS}}</option>
                                            <option value="2">{{::t.LB_ACTIVE}}</option>
                                            <option value="4">{{::t.LB_INACTIVE}}</option>
                                        </select>
                                    </div>
                                  </div>-->
                            </div>
                        </div>
                        <!-- END TABLE TOOL-->
                        <!-- BEGIN PRODUCT LIST-->
                        <div style="width:100%">
                            <div>
                                <ul class="mm_table_list">
                                    <li style="width: 47%"><span
                                            style="padding-left: 25px">{{::t.LB_CATEGORY_NAME}}</span></li>
                                    <li style="width: 18%; text-align: center">{{::t.LB_AC_MERCHANT_SELECTABLE ||
                                        'Merchant
                                        Selectable'}}
                                    </li>
                                    <li style="width: 15%; text-align: center">{{::t.LB_AC_NUM_PRODUCTS}}</li>
                                    <li style="width: 10%">{{::t.LB_STATUS}}</li>
                                    <li style="width: 10%; min-width: 120px;">{{::t.LB_ACTIONS}}</li>
                                </ul>

                            </div>
                            <div ng-show="!data.length && !loading">{{::t.LB_LOCATION_NO_DATA}}</div>
                            <div ui-tree="treeOptions"
                                 ui-tree-nodes
                                 ng-model="data">
                                <div ui-tree="treeOptions"
                                     ui-tree-nodes
                                     ng-model="data">
                                    <div ng-repeat="node in data"
                                         ui-tree-node
                                         ng-include="'nodes_renderer'">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/ng-template" id="nodes_renderer">
                            <ul class="mm_table_list" ui-tree-handle>
                                <li style="width: 47%">
                                    <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}">
                                        <a class="btn btn-xs" ng-if="node.CategoryList && node.CategoryList.length > 0"
                                           data-nodrag
                                           ng-click="expanded[node.CategoryId] = !expanded[node.CategoryId];">
                                      <span class="glyphicon" ng-class="{
                                          'glyphicon-plus': !expanded[node.CategoryId],
                                          'glyphicon-minus': expanded[node.CategoryId]
                                          }">
                                      </span>
                                        </a>
                                        <a class="btn btn-xs ng-scope" style="visibility: hidden"
                                           ng-if="!node.CategoryList || !node.CategoryList.length">
                                            <span class="glyphicon glyphicon-plus">
                                      </span></a>
                                        <span>{{ ::node.CategoryName }}</span>
                                    </div>
                                </li>
                                <li style="width: 18%; text-align: center;">{{ ::node.IsMerchCanSelect ? t.LB_YES :
                                    t.LB_NO }}
                                </li>
                                <li style="width: 15%; text-align: center;">{{ ::node.SkuCount }}</li>
                                <li style="width: 10%">
                                    <span class="label {{::CONSTANTS.STATUS_CSS[node.StatusId]}}">{{::CONSTANTS.STATUS_NAME[node.StatusId]}}</span>
                                </li>
                                <li style="width: 10%; min-width: 120px;" ng-click="$event.stopPropagation();">
                                    <select class="form-control"
                                            ng-init="node.rowAction = ''"
                                            ng-model="node.rowAction"
                                            ng-change="selectAction(node, this)">
                                        <option value="">{{::t.LB_ACTIONS}}</option>
                                        <option value="{{::CONSTANTS.ROWACTION.EDIT}}">{{::t.LB_EDIT}}</option>
                                                ng-show="!node.SkuCount && (!node.CategoryList || !node.CategoryList.length)">
                                            {{::t.LB_DELETE}}
                                        </option>
                                        <option value="{{::CONSTANTS.ROWACTION.CREATE_CATEGORY}}">
                                            {{::t.LB_AC_CREATE_SUB_CATEGORY}}
                                        </option>
                                    </select>
                                </li>
                            </ul>

                            <div ng-if="node.CategoryList && node.CategoryList.length > 0 && expanded.hasOwnProperty(node.CategoryId)"
                                    ng-show="expanded[node.CategoryId]"
                                    ui-tree-nodes=""
                                    ng-model="node.CategoryList"
                                    style="background: white; "
                            >
                                <div ng-repeat="node in node.CategoryList"
                                     ui-tree-node
                                     ng-include="'nodes_renderer'"></div>
                            </div>

                        </script>
                    </div>
                </div>
            </div>
            <!-- END TABLE-->
        </div>
    </div>
</div>
