<div class="row login_container">
    <div class="col-md-8 col-sm-6 col-xs-6 mm_bg_logo"
         style="height: 100%;
    background-size: cover;
    background-image: url('assets/images/bg_login_634x789.jpg');">
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6" style="padding-left:60px;padding-right:60px;">
        <div class="login_container_space"><!-- spacing --></div>
        <div style="text-align: center">
            <img src="assets/images/logo_MM_w52.png"/>
        </div>
        <div style="text-align: center">
            <h1 id="login-MM-login-header">{{t.LB_MM_LOGIN}}</h1>
        </div>
        <div style="height: 20px"><!-- spacing --></div>
        <form class="form" mm-form-validation name="validationForm" ng-submit="login(validationForm)" novalidate="true">
            <!-- validation rule for username: RID_TB_EMAIL_OR_MOBILE_PATTERN -->
            <div class="form-group"
                 ng-class="{'has-error': validationForm.$submitted && (validationForm.email.$error.required || validationForm.email.$error.pattern)}">
                <input type="text" name="email" class="form-control mm_login_input"
                       ng-pattern="/(^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*$)|(^(\+\d{1,4}(\S?-\S?))\d{1,12}$)/"
                       ng-model="user.email" placeholder="{{t.LB_EMAIL_OR_MOBILE}}" required>
                <div ng-show="validationForm.$submitted" class="help-block login-error">
                    <span ng-show="validationForm.email.$error.required">{{t.MSG_ERR_EMAIL_OR_MOBILE_NIL}}</span>
                    <span ng-show="validationForm.email.$error.pattern">{{t.MSG_ERR_EMAIL_OR_MOBILE_PATTERN}}</span>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': validationForm.$submitted && validationForm.password.$error.required}">
                <input type="password" name="password" class="form-control mm_login_input" ng-model="user.password"
                       placeholder="{{t.LB_PASSWORD}}" required>
                <div ng-show="validationForm.$submitted" class="help-block login-error">
                    <span ng-show="validationForm.password.$error.required">{{t.MSG_ERR_PASSWORD_NIL}}</span>
                </div>
            </div>

            <div class="form-group">
                <p class="help-block login-error" ng-show="errCode && validationForm.$submitted">
                    <img src="assets/images/icon_error_w12.png"/>
                    <span>{{Util.format((t[errCode]===undefined)?errCode:t[errCode], errParams)}}</span>
                </p>
                <p class="help-block login-error" ng-show="paramErr && !validationForm.$submitted">
                    <img src="assets/images/icon_error_w12.png"/>
                    {{t[paramErr]}}
                </p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger form-control mm_login_btn"
                        ng-disabled="isConfirmBtnDisabled" ng-click="login">
                    <span>{{t.LB_LOGIN}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
                </button>
            </div>
            <div>
                <a href="#" class="login-forgot-password-link" ng-click="openForgotPasswordDialog()">{{t.LB_FORGOT_PASSWORD}}</a>
            </div>
        </form>
    </div>
</div>


