<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>

    <div class="row">
      <div class="col-md-6">
         <h2 class="mm_color_black ng-binding" >{{::t.LB_MERCHANTS}}</h2>
      </div>

      <div class="col-md-6" style="top:16px">
        <button class="btn btn-primary pull-right btn-lg mm_large_btn" ng-click="openCreateUserDialog()">{{::t.LB_CREATE_MERCHANT}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade" style="margin-top:10px;">
          <div class="portlet-body">

            <div class="table-toolbar">
              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" id="searchUser" ng-model="userSearchTerm" ng-change="filterUserBySearch()" placeholder="{{::t.LB_AC_MERCHANT_LIST_SEARCH_PLACEHOLDER}}">
                    <span class="glyphicon glyphicon-search"></span>
                  </div>
                </div>

                <div class="pull-right col-md-8" style="padding-right:10px;">
                  <div class="col-md-4 p5">
                    <select class="form-control" ng-model="filter.merchantTypes" ng-change="filterUserByMerchantTypes(filter.merchantTypes)" ng-init="filter.merchantTypes='-1'">
                        <option value="-1">{{::t.LB_ALL_MERCHANT_TYPES}}</option>
                        <option ng-repeat="item in MerchantTypeList" value="{{ item.MerchantTypeId }}">{{ item.MerchantTypeName }}</option>
                    </select>
                  </div>
                  <div class="col-md-4 p5">
                    <select class="form-control" ng-model="filter.country" ng-change="filterUserByCountry(filter.country)" ng-init="filter.country='-1'">
                        <option value="-1">{{::t.LB_ALL_COUNTRIES}}</option>
                        <option ng-repeat="item in CountryList" value="{{ item.GeoCountryId }}">{{ item.GeoCountryName }}</option>
                    </select>
                  </div>
                  <div class="col-md-4 p5">
                    <select class="form-control" ng-model="filter.status" ng-change="filterUserByStatus(filter.status)" ng-init="filter.status='-1'">
                      <option value="-1">{{::t.LB_ALL_STATUS}}</option>
                      <option ng-repeat="item in StatusList" value="{{ item.StatusId }}">{{::CONSTANTS.STATUS_NAME[item.StatusId]}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-stripped table-bordered mm_table_border mm_table">
              <thead>
                <tr>
                  <th style="width:20%;" class="sort ng-class:{ current: sortBy == 'MerchantName', asc : !reverse, desc : reverse };" ng-click="sortTable('MerchantName')">{{::t.LB_DISP_NAME}}</th>
                  <th style="width:20%;" class="sort ng-class:{ current: sortBy == 'MerchantCompanyName', asc : !reverse, desc : reverse };" ng-click="sortTable('MerchantCompanyName')">{{::t.LB_COMPANY_NAME}}</th>
                  <th style="width:20%;" class="sort ng-class:{ current: sortBy == 'MerchantTypeId', asc : !reverse, desc : reverse };" ng-click="sortTable('MerchantTypeId')">{{::t.LB_MERCHANT_TYPE}}</th>
                  <th style="width:18%;" class="sort ng-class:{ current: sortBy == 'GeoCountryName', asc : !reverse, desc : reverse };" ng-click="sortTable('GeoCountryName')">{{::t.LB_COUNTRY}}</th>
                  <th style="width:10%;" class="sort ng-class:{ current: sortBy == 'StatusId', asc : !reverse, desc : reverse };" ng-click="sortTable('StatusId')">{{::t.LB_STATUS}}</th>
                  <th style="width:12%; min-width: 120px;">{{::t.LB_ACTIONS}}</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="item in filtered = (
                                  allUserData |
                                  filter: filterUserBySearch |
                                  filter: filterUserByStatus |
                                  filter: filterUserByMerchantTypes |
                                  filter: filterUserByCountry |
                                  orderBy: sortBy : reverse
                                ) | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage" ng-click="onDoubleClick(item.MerchantId)">
                  <td>{{ ::item.MerchantName }}</td>
                  <td>{{ ::item.MerchantCompanyName  }}</td>
                  <td>{{ ::CONSTANTS.MERCHANT_TYPE_NAME[item.MerchantTypeId]  }}</td>
                  <td>{{ ::item.GeoCountryName  }}</td>
                  <td><span class="label {{CONSTANTS.STATUS_CSS[item.StatusId]}}">{{CONSTANTS.STATUS_NAME[item.StatusId]}}</span></td>
                  <td ng-click="$event.stopPropagation();">
                    <select ng-if="item.options === undefined" class="form-control" ng-model="rowActions" ng-options="action.lable for action in userListActionsByStatus[item.StatusNameInvariant] track by action.value" ng-change="selectAction(item.MerchantId, rowActions, item)" >
                      <option value="">{{::t.LB_ACTIONS}}<option>
                    </select>


                    <select ng-if="!(item.options === undefined)" class="form-control" ng-model="rowActions" ng-options="action.lable for action in item.options track by action.value" ng-change="selectAction(item.UserKey, rowActions, item)" >
                      <option value="">{{::t.LB_ACTIONS}}<option>
                    </select>

                  </td>
                </tr>

                <tr ng-show="filtered.length <= 0"><td colspan="8" class="text-center">{{::t.LB_SEARCH_NO_RESULT}}</td></tr>
              </tbody>
            </table>

              <mm-pagination total-item-no="filtered.length" current-page="currentPage" items-per-page="itemsPerPage"></mm-pagination>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>

  </div>
</div>