<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>

        <div style="margin-top:30px;">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a class="widget-box" tabindex="1" ui-sref="merchantEdit({ merchantId: MerchantId })">
                    <div class="left">
                        <!-- <img src="assets/images/icon_merchantManagement.png" /> -->
                        <div>
                            <i class="icon-home"></i>

                            <h3>{{::t.LB_MERCHANT_PROFILE}}</h3>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <p>{{::t.LB_MSG_MERCHANT_PROFILE_DESC}}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <a class="widget-box" tabindex="2" ui-sref="merchantUserListing({ merchantId: MerchantId })">
                    <div class="left">
                        <!-- <img src="assets/images/icon_merchantManagement.png" /> -->
                        <div>
                            <i class="icon-people"></i>

                            <h3>{{::t.LB_USERS}}</h3>
                        </div>
                    </div>
                    <div class="right">
                        <div><p>{{::t.LB_USERS_DESC}}</p></div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <a class="widget-box" tabindex="3" ui-sref="inventoryLocation({merchantId: MerchantId})">
                    <div class="left">
                        <!-- <img src="assets/images/icon_merchantManagement.png" /> -->
                        <div>
                            <i class="icon-map"></i>

                            <h3>{{::t.LB_INVENTORY_LOCATIONS}}</h3>
                        </div>
                    </div>
                    <div class="right">
                        <div><p>{{::t.LB_INVENTORY_LOCATIONS_DESC}}</p></div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4" style="margin: 25px 0;">
                <a class="widget-box" tabindex="3" ui-sref="productList({merchantId: MerchantId})">
                    <div class="left">
                        <!-- <img src="assets/images/icon_merchantManagement.png" /> -->
                        <div>
                            <i class="icon-tag"></i>

                            <h3>{{::t.LB_PRODUCTS}}</h3>
                        </div>
                    </div>
                    <div class="right">
                        <div><p>{{::t.LB_PRODUCTS_DESC}}</p></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
