<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{message.msg}}</alert>
        <h2 class="mm_color_black mm_title_font_size">
          <div ng-if="!saveMode">
            <h2 class="mm_color_black">{{::t.LB_EDIT_MERCHANT}} - {{MerchantName}}</h2>
            <!-- <div class="mm_header_desc_block">{{::t.LB_MC_REM_MERCHANT_EDIT}}</div> -->
          </div>
          <div ng-if="saveMode">
            <h2 class="mm_color_black">{{::t.LB_CREATE_MERCHANT}}</h2>
            <!--<div class="mm_header_desc_block">{{::t.LB_AC_TT_MERCHANT_CREATE}}</div>-->
        </div>
        </h2>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-11">
              <i class="fa fa-cloud-download text-primary"></i>
              {{::t.LB_AC_MERCHANT_IMG_GUIDE}}
              <a ng-href="/assets/docs/merchant_brand_logo_guideline.pdf" download>{{::t.LB_GUIDELINE_DL}}</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12" style="padding-top: 20px;">
              <form class="form-horizontal" name="validationForm" novalidate="true">
                <div class="form-body">

                  <!-- profile part -->
                  <div class="form-group mm_under_line">
                    <label>{{::t.LB_PROFILE_INFO}}</label>
                  </div>

                  <mm-multilingual-inputs
                          label="LB_DISP_NAME"
                          prop="MerchantName"
                          model="form.Merchant['MerchantName' + language]"
                          required="true"
                          max-length="25"
                          placeholder-language="true"
                          constraints="[{validator: 'required', message: 'MSG_ERR_MERCHANT_DISPLAY_NAME'},
                                        {validator: 'maxlength', message: 'MSG_ERR_MERCHANT_DISPLAY_NAME'}]"
                  ></mm-multilingual-inputs>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_SUBDOMAIN}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.MerchantSubdomain.$error.required}">
                      <div>

                        <div class="col-md-12 input-group">
                          <span class="input-group-addon" style="padding:0 11px 0 10px">http://</span>
                          <input type="text" class="form-control" placeholder="{{::t.LB_SUBDOMAIN}}" name="MerchantSubdomain" ng-model="form.Merchant.MerchantSubdomain" required="" ng-pattern="/^([a-zA-Z0-9]){0,25}$/">
                          <span class="input-group-addon" style="padding:0 11px 0 10px">.mymm.com</span>
                        </div>

                      </div>
                      <div ng-show="validationForm.$submitted || validationForm.MerchantSubdomain.$touched" class="help-block login-error">
                        <span ng-show="validationForm.MerchantSubdomain.$error.required">{{::t.MSG_ERR_SUBDOMAIN}}</span>
                        <span ng-show="validationForm.MerchantSubdomain.$error.pattern">{{::t.MSG_ERR_SUBDOMAIN}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_LISTED}}</label>
                    <div class="col-md-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="form.Merchant.IsListedMerchant" ng-init="form.Merchant.IsListedMerchant=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_FEATURED}}</label>
                    <div class="col-md-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="form.Merchant.IsFeaturedMerchant" ng-init="form.Merchant.IsFeaturedMerchant=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_RECOMMEND}}</label>
                    <div class="col-md-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="form.Merchant.IsRecommendedMerchant" ng-init="form.Merchant.IsRecommendedMerchant=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_SEARCH_SUGGEST}}</label>
                    <div class="col-md-6">
                      <div class="input-group" style="top:5px">
                        <label>
                          <input type="checkbox" ng-model="form.Merchant.IsSearchableMerchant" ng-init="form.Merchant.IsSearchableMerchant=0" ng-true-value="1" ng-false-value="0"> {{::t.LB_YES}} </input>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_HEADER}}
                      <mm-tooltip tooltip-title="Util.format(t.LB_COMPANY_LOGO_HEADER_NOTE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])"></mm-tooltip>
                    </label>
                    <div class="col-md-6">
                      <div class="pull-left" style="margin: -8px 0px 0px 0px">
                        <img ng-src="/api/resizer/view?key={{form.Merchant.HeaderLogoImage}}&w=200&h=0&b=merchantimages" ng-if="form.Merchant.HeaderLogoImage" style="width:150px" />
                        <img src="assets/images/icon_image_default.png" ng-if="!form.Merchant.HeaderLogoImage" />
                      </div>
                      <div class="pull-left" style="margin-left: 8px">
                        <mm-image-upload
                                tag="a"
                                name="HeaderLogoImage"
                                on-select="FileUploadService.uploadBisCommon($files, form.Merchant, 'HeaderLogoImage', 'HeaderLogoImageProgress', 'merchantimages')"
                                tag-class="btn btn-default"
                                tag-style="padding: 1px 20px; width:89px; height:24px"
                                model="HeaderLogoImage"
                                pattern="general"
                                transclude="{{::t.LB_UPLOAD}}">
                        </mm-image-upload>
                      </div>
                      <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                        <span>{{::t.LB_OPTIONAL}}</span>
                        <span class="login-error" ng-show="validationForm.HeaderLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_SMALL}}
                      <mm-tooltip tooltip-title="Util.format(t.LB_COMPANY_LOGO_SMALL_NOTE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])"></mm-tooltip>
                    </label>
                    <div class="col-md-6">
                      <div class="pull-left" style="margin: -8px 0px 0px 0px">
                        <img ng-src="/api/resizer/view?key={{form.Merchant.SmallLogoImage}}&w=200&h=0&b=merchantimages" ng-if="form.Merchant.SmallLogoImage" style="width:150px" />
                        <img src="assets/images/icon_image_default.png" ng-if="!form.Merchant.SmallLogoImage" />
                      </div>
                      <div class="pull-left" style="margin-left: 8px">
                        <mm-image-upload
                                tag="a"
                                name="SmallLogoImage"
                                on-select="FileUploadService.uploadBisCommon($files, form.Merchant, 'SmallLogoImage', 'SmallLogoImageProgress', 'merchantimages')"
                                tag-class="btn btn-default"
                                tag-style="padding: 1px 20px; width:89px; height:24px"
                                model="SmallLogoImage"
                                pattern="general"
                                transclude="{{::t.LB_UPLOAD}}">
                        </mm-image-upload>
                      </div>
                      <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                        <span>{{::t.LB_OPTIONAL}}</span>
                        <span class="login-error" ng-show="validationForm.SmallLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_LARGE}}
                      <mm-tooltip tooltip-title="Util.format(t.LB_COMPANY_LOGO_LARGE_NOTE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])"></mm-tooltip>
                    </label>
                    <div class="col-md-6">
                      <div class="pull-left" style="margin: -8px 0px 0px 0px">
                        <img ng-src="/api/resizer/view?key={{form.Merchant.LargeLogoImage}}&w=200&h=0&b=merchantimages" ng-if="form.Merchant.LargeLogoImage" style="width:150px" />
                        <img src="assets/images/icon_image_default.png" ng-if="!form.Merchant.LargeLogoImage" />
                      </div>
                      <div class="pull-left" style="margin-left: 8px">
                        <mm-image-upload
                                tag="a"
                                name="LargeLogoImage"
                                on-select="FileUploadService.uploadBisCommon($files, form.Merchant, 'LargeLogoImage', 'LargeLogoImageProgress', 'merchantimages')"
                                tag-class="btn btn-default"
                                tag-style="padding: 1px 20px; width:89px; height:24px"
                                model="LargeLogoImage"
                                pattern="general"
                                transclude="{{::t.LB_UPLOAD}}">
                        </mm-image-upload>
                      </div>
                      <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                        <span>{{::t.LB_OPTIONAL}}</span>
                        <span class="login-error" ng-show="validationForm.LargeLogoImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_PROFILE_BANNER}}</label>
                    <div class="col-md-6">
                      <div class="pull-left" style="margin: -8px 0px 0px 0px">
                        <img ng-src="/api/resizer/view?key={{form.Merchant.ProfileBannerImage}}&w=200&h=0&b=merchantimages" ng-if="form.Merchant.ProfileBannerImage" style="width:200px" />
                        <img src="assets/images/icon_image_default.png" ng-if="!form.Merchant.ProfileBannerImage" style="width:150px"/>
                      </div>
                      <div class="pull-left" style="margin-left: 8px">
                        <mm-image-upload
                                tag="a"
                                name="ProfileBannerImage"
                                on-select="FileUploadService.uploadBisCommon($files, form.Merchant, 'ProfileBannerImage', 'ProfileBannerImageProgress', 'merchantimages')"
                                tag-class="btn btn-default"
                                tag-style="padding: 1px 20px; width:89px; height:24px"
                                model="ProfileBannerImage"
                                pattern="general"
                                transclude="{{::t.LB_UPLOAD}}">
                        </mm-image-upload>
                      </div>
                      <div class="pull-left" style="margin-left: 8px; margin-top: 4px">
                        <span>{{::t.LB_OPTIONAL}}</span>
                        <span class="login-error" ng-show="validationForm.ProfileBannerImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_DESCRIPTION_IMAGE}}</label>
                    <div class="col-md-10">
                      <div ng-repeat="image in form.MerchantImageList" style="display:inline-block;">
                        <img ng-src="/api/resizer/view?key={{image.MerchantImage}}&w=200&h=0&b=merchantimages" class="mm_product_img" ui-draggable="true" drag-hover-class="mm_product_img_drop_hover" drag="image" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(image, $data)"/>
                        <button class="btn btn-default mm_product_img_del_btn" type="button" ng-disabled="loading" ng-click="deleteImage(image.MerchantImage)">{{::t.BTN_IMG_DEL}}</button>
                      </div>
                      <!-- <img src="assets/images/icon_image_default.png" ng-if="style.FeaturedImageList.length==0" class="mm_product_img" /> -->
                      <mm-image-upload
                              tag="span"
                              name="DescImage"
                              on-select="uploadImage($files)"
                              tag-class="btn mm_file_upload_btn mm_product_img glyphicon glyphicon-plus"
                              model="DescImage"
                              pattern="general">
                      </mm-image-upload>
                        <!--ng-show="style.FeaturedImageList.length<5"-->
                    </div>
                    <span class="col-md-offset-2 col-md-10 login-error" ng-show="validationForm.DescImage.$error.maxSize">{{::Util.format(t.MSG_ERR_GEN_IMG_SIZE, [CONSTANTS.FILE_UPLOAD_SIZE.IMAGE])}}</span>
                  </div>

                  <mm-multilingual-inputs
                          label="LB_COMP_DESC"
                          prop="MerchantDesc"
                          model="form.Merchant['MerchantDesc' + language]"
                          is-text-area="true"
                          is-optional="true"
                          placeholder-language="true"
                          constraints="[]"
                  ></mm-multilingual-inputs>

                  <!-- business registration info part -->
                  <div class="form-group  mm_under_line">
                    <label>{{::t.LB_AC_BR_INFO}}</label>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_COMPANY_NAME}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.MerchantCompanyName.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_COMPANY_NAME}}" name="MerchantCompanyName" ng-model="form.Merchant.MerchantCompanyName" required="" >
                      <div ng-show="validationForm.$submitted || validationForm.MerchantCompanyName.$touched" class="help-block login-error">
                        <span ng-show="validationForm.MerchantCompanyName.$error.required">{{::t.MSG_ERR_COMPANY_NAME}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_BR_NUM}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.BusinessRegistrationNo.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_BR_NUM}}" name="BusinessRegistrationNo" ng-model="form.Merchant.BusinessRegistrationNo" required="">
                      <div ng-show="validationForm.$submitted || validationForm.BusinessRegistrationNo.$touched" class="help-block login-error">
                        <span ng-show="validationForm.BusinessRegistrationNo.$error.required"> {{::t.MSG_ERR_BUSINESS_REG_NUM}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_COUNTRY }}</label>
                    <div class="col-md-6">
                      <select class="form-control" name="GeoCountryId" ng-model="form.Merchant.GeoCountryId" ng-options="c.GeoCountryId as c.GeoCountryName for c in geoCountries | orderBy: countrySort" required="" ng-change="countrySelected()">
                        <option value="">{{::t.LB_SELECT_COUNTRY }}</option>
                      </select>
                      <div ng-show="validationForm.$submitted || validationForm.GeoCountryId.$touched" class="help-block login-error">
                        <span ng-show="validationForm.GeoCountryId.$error.required">{{::t.MSG_ERR_LOCATION_COUNTRY}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_PROVINCE }}</label>
                    <div class="col-md-6">
                      <select class="form-control" name="GeoIdProvince" ng-model="form.Merchant.GeoIdProvince" ng-options="p.GeoId as p.GeoName for p in geoProvinces" required="" ng-change="provinceSelected()">
                        <option value="">{{::t.LB_SELECT_PROVINCE}}</option>
                      </select>
                      <div ng-show="validationForm.$submitted || validationForm.GeoIdProvince.$touched" class="help-block login-error">
                        <span ng-show="validationForm.GeoIdProvince.$error.required">{{::t.MSG_ERR_LOCATION_PROVINCE}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_CITY }}</label>
                    <div class="col-md-6">
                      <select class="form-control" name="GeoIdCity" ng-model="form.Merchant.GeoIdCity" ng-options="c.GeoId as c.GeoName for c in geoCities" required="">
                        <option value="">{{::t.LB_SELECT_CITY }}</option>
                      </select>
                      <div ng-show="validationForm.$submitted || validationForm.GeoIdCity.$touched" class="help-block login-error">
                        <span ng-show="validationForm.GeoIdCity.$error.required">{{::t.MSG_ERR_LOCATION_CITY}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_DISTRICT }}</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="{{::t.LB_DISTRICT }}" name="District" ng-model="form.Merchant.District" required="">
                      <div ng-show="validationForm.$submitted || validationForm.District.$touched" class="help-block login-error">
                        <span ng-show="validationForm.District.$error.required">{{::t.MSG_ERR_LOCATION_DISTRICT}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_POSTAL_OR_ZIP}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.PostalCode.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_POSTAL_OR_ZIP_OPT}}" name="PostalCode" ng-model="form.Merchant.PostalCode">
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_FLAT}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.Apartment.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_FLAT_OPT}}" name="Apartment" ng-model="form.Merchant.Apartment">
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_FLOOR}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.Floor.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_FLOOR_OPT}}" name="Floor" ng-model="form.Merchant.Floor">
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_BLOCK_NUM}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.BlockNo.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_BLOCK_NUM_OPT}}" name="BlockNo" ng-model="form.Merchant.BlockNo">
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_BUILDING_NAME}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.Building.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_BUILDING_NAME_OPT}}" name="Building" ng-model="form.Merchant.Building">
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_STREET_NUM}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.StreetNo.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_STREET_NUM}}" name="StreetNo" ng-model="form.Merchant.StreetNo" required="">
                      <div ng-show="validationForm.$submitted || validationForm.StreetNo.$touched" class="help-block login-error">
                        <span ng-show="validationForm.StreetNo.$error.required">{{::t.MSG_ERR_LOCATION_STREET_NUMBER}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_STREET_NAME}}</label>
                    <div class="col-md-6" ng-class="{'has-error': validationForm.$submitted && validationForm.Street.$error.required}">
                      <input type="text" class="form-control" placeholder="{{::t.LB_STREET_NAME}}" name="Street" ng-model="form.Merchant.Street" required="">
                      <div ng-show="validationForm.$submitted || validationForm.Street.$touched" class="help-block login-error">
                        <span ng-show="validationForm.Street.$error.required">{{::t.MSG_ERR_LOCATION_STREET_NAME}}</span>
                      </div>
                    </div>
                  </div>

                  <!-- merchant type part -->
                  <div class="form-group mm_under_line">
                    <label>{{::t.LB_CHOOSE_MERCHANT_TYPE}}</label>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_MERCHANT_TYPE}} <mm-tooltip tooltip-title="t.LB_AC_TT_MERCHANT_TYPE"></mm-tooltip> </label>
                    <div class="col-md-6">
                      <select ng-model="form.Merchant.MerchantTypeId" ng-options="item.MerchantTypeId as item.MerchantTypeName for item in generalTranslationService.UserReference.MerchantTypeList" name="MerchantTypeId" ng-change="selectMerchantType()" class="form-control" required="">
                        <option value="">{{::t.LB_SELECT_MERCHANT_TYPE}}</option>
                      </select>
                      <div ng-show="validationForm.$submitted || validationForm.MerchantTypeId.$touched" class="help-block login-error">
                        <span ng-show="validationForm.MerchantTypeId.$error.required">{{::t.MSG_ERR_MERCHANT_TYPE}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_BRAND_S}}</label>
                    <div class="col-md-6">
                      <ui-select multiple ng-model="form.MerchantBrandIds" on-select="selectBrand($item.BrandId)" name="MerchantBrandIds" theme="select2" ng-disabled="disabled" style="width: 100%;" required>
                        <ui-select-match placeholder="{{::t.LB_SELECT_BRANDS}}">{{$item.BrandName}}</ui-select-match>
                        <ui-select-choices repeat="brand.BrandId as brand in Brands | filter: {BrandName: $select.search}">
                          {{brand.BrandName}}
                        </ui-select-choices>
                      </ui-select>
                      <div ng-show="validationForm.$submitted" class="help-block login-error">
                        <span ng-show="form.MerchantBrandIds.length===0">{{::t.MSG_ERR_MERCHANT_BRAND}}</span>
                      </div>
                    </div>
                  </div>

                  <!-- assgin user to merchant part -->
                  <div class="form-group col-md-12" ng-if="isAdmin()">
                    <label class="col-md-2 mm_form_label control-label">{{::t.LB_ASSIGN_MM_STAFF_TO_MERCHANT}}</label>
                    <div class="col-md-6">
                      <ui-select multiple ng-model="form.MerchantUserIds" theme="select2" ng-disabled="disabled" style="width: 100%;">
                        <ui-select-match placeholder="{{::t.LB_SELECT_STAFF}} {{::t.LB_OPTIONAL}}">{{$item.FirstName}} | {{$item.Email}}</ui-select-match>
                        <ui-select-choices repeat="user.UserId as user in mmUsers | filter: {FirstName: $select.search}">
                          {{user.FirstName}} | {{user.Email}}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>

                  <!-- billing part -->
                  <div class="form-group mm_under_line">
                    <label>{{::t.LB_ALL_CATEGORY}}</label>
                  </div>

                  <div class="col-md-12">
                    <div class="col-md-9">
                      <table class="table mm_plain_table_list">
                        <thead>
                          <tr>
                            <th class="col-md-6" style="border-bottom:none">{{::t.LB_CATEGORY}}</th>
                            <th class="col-md-2" style="border-bottom:none">{{::t.LB_DEFAULT_RATE}}</th>
                            <th class="col-md-2" style="border-bottom:none">{{::t.LB_NEWRATE}}</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr ng-repeat='BillingCatory in form.BillingCatory'>
                            <td>{{ BillingCatory.categoryString }}</td>
                            <td>{{ BillingCatory.defaultRate }} %</td>
                            <td>
                              <mm-number-input
                                      input-class="-"
                                      input-style="width: 70px; display:inline"
                                      model="BillingCatory.newRate"
                                      prop="Rate{{BillingCatory.categoryId}}"
                                      is-percentage="true"
                              ></mm-number-input>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- support documents part -->
                  <div class="form-group mm_under_line">
                    <label>{{::t.LB_SUPPORTING_DOC}}</label>
                  </div>
                  <div style="margin-left:6px">{{::t.LB_SUPPORTING_DOC_MSG}} {{::t.LB_OPTIONAL}}</div>
                  <div class="col-md-12" ng-repeat="Document in form.MerchantDocuments" style="color:red">
                    <div class="mm_badge col-md-8">
                      <a ng-click="downloadDocument(Document.DocumentKey, Document.DocumentOriginalName)">{{Document.DocumentOriginalName}}</a>
                      <span ng-click="deleteDocument(Document.DocumentKey)" class="glyphicon glyphicon-remove mm_link_action_cursor" style="float: right; top: 0px" aria-hidden="true"></span>
                      <span style="float:right; padding-right:180px;">  {{::Util.formatDate(Document.CreateTime)}}</span>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="col-md-12">
                      <div class="pull-left" style="margin-left: 8px; margin-top:4px">
                        <a type="file" class="btn btn-primary sub-btn" ngf-select="FileUploadService.uploadFile($files, form.MerchantDocuments, this)" accept="*" ngf-max-size="{{::CONSTANTS.FILE_UPLOAD_SIZE.DOCUMENT}}">
                          {{::t.LB_ADD_FILE}}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="col-md-12">
                      <div class="pull-left" style="margin-left: 8px; margin-top:4px; color:red;">
                          {{t[uploadError]?t[uploadError].replace("{CONST_DOC_FILE_SIZE}", CONSTANTS.FILE_UPLOAD_SIZE.DOCUMENT):uploadError}}
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
          <!-- end panel-body -->


          <div class="panel-footer" style="background-color: #FFF">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right" style="margin-right:20px">
                  <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
                  <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isSaveBtnDisabled" mm-form-validation is-button="true" custom-validations="customValidations" ng-click="saveMerchant(validationForm)">
                    <span ng-if="saveMode">{{::t.LB_CREATE}}</span>
                    <span ng-if="!saveMode">{{::t.LB_SAVE}}</span>
                    <i class="fa fa-spinner fa-spin" ng-show="isSaveBtnDisabled"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
      </div>

      <div ng-if="merchantId">
        <div class="col-md-12">
          <div class="panel panel-default">
            <!-- List group -->
            <ul class="list-group mm_ul">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-2 ng-binding">
                    {{::t.LB_STATUS}}
                  </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div>{{CONSTANTS.STATUS_NAME[form.Merchant.StatusId]}}</div>
                    </div>
                  <div class="col-md-6">
                    <a ng-click="openChangeStatusDialog()"
                       class="pull-right">{{::t.LB_CHANGE}}</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 100px">

    </div>
  </div>
