<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h2 class="mm_modal_title mm_color_black">{{::t.LB_CREATE_MERCHANT}}</h2>
</div>


<div class="modal-body mm_dialog_body">
  <form class="form-horizontal" name="validationForm" novalidate="true">
    <div class="form-body">
      <div class="form-group">
        <div class="col-md-9">
          <input type="text" class="form-control mm_dialog_form_input_text" placeholder="{{::t.LB_DISP_NAME}}" name="MerchantDisplayName" ng-model="form.MerchantDisplayName" required="" ng-pattern="/^((?![!！@#$%^&*]).){0,25}$/">
          <div ng-show="validationForm.$submitted || validationForm.MerchantDisplayName.$touched" class="help-block login-error">
            <span ng-show="validationForm.MerchantDisplayName.$error.required">{{::t.MSG_ERR_MERCHANT_DISPLAY_NAME}}</span>
            <span ng-show="validationForm.MerchantDisplayName.$error.pattern">{{::t.MSG_ERR_MERCHANT_DISPLAY_NAME}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10">
          <select class="form-control" name="GeoCountryId" ng-model="form.GeoCountryId" ng-options="c.GeoCountryId as c.GeoCountryName for c in geoCountries" required="">
            <option value="">{{::t.LB_SELECT_COUNTRY }}</option>
          </select>
          <div ng-show="validationForm.$submitted || validationForm.GeoCountryId.$touched" class="help-block login-error">
            <span ng-show="validationForm.GeoCountryId.$error.required">{{::t.MSG_ERR_LOCATION_COUNTRY}}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10">
          <select class="form-control" ng-model="form.MerchantTypeId" ng-options="item.MerchantTypeId as item.MerchantTypeName for item in generalTranslationService.UserReference.MerchantTypeList" name="MerchantTypeId" required="">
            <option value="">{{::t.LB_SELECT_MERCHANT_TYPE}}</option>
          </select>
          <div ng-show="validationForm.$submitted || validationForm.MerchantTypeId.$touched" class="help-block login-error">
            <span ng-show="validationForm.MerchantTypeId.$error.required">{{::t.MSG_ERR_MERCHANT_TYPE}}</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <alert ng-repeat="alert in messages" type="{{alert.type}}" close="closeMessage($index)">{{alert.msg}}</alert>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-7 col-md-offset-4" style="padding-right:0px;">
      <button class="btn btn-default mm_form_btn" type="button" style="border: none; color: #ccc" ng-click="cancel()">{{::t.LB_CANCEL}}</button>
      <button class="btn btn-danger mm_form_btn" type="button" ng-disabled="isConfirmBtnDisabled" ng-click="createMerchant(validationForm)">
        <span>{{::t.LB_SAVE}}</span>
        <i class="fa fa-spinner fa-spin" ng-show="isConfirmBtnDisabled"></i>
      </button>
    </div>
  </div>
</div>
