<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
        </div>
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">
            <i class="fa {{message.type !== 'danger' ? 'fa fa-check-circle' : 'fa-times-circle'}}"></i>
            {{::message.msg}}
        </alert>
        <!-- END PAGE HEADER-->

        <!-- BEGIN BUTTON GROUP-->
        <div class="row" style="height:100px">
            <div class="col-md-6" style="top:28px">
              <h2 class="mm_color_black">Trending Search Terms</h2>
            </div>
          
        </div>
        <!-- END BUTTON GROUP-->

        <!-- BEGIN TABLE-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PRODUCT LIST TABLE-->
                <div class="portlet box grey-cascade" style="margin-top:10px;">
                    <div class="portlet-body">
                        <!-- BEGIN TABLE TOOL-->
                        <div class="table-toolbar">
                            <div class="row">
                               <!--  <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="searchKeyword"
                                               ng-model="searchString"
                                               ng-change="refresh()"
                                               placeholder="{{::t.LB_AC_BRAND_SEARCH}}">
                                    </div>
                                </div> -->
                                <!--<div class="col-md-2" style="margin-left:-26px">
                                    <div class="form-group">
                                        <button class="btn btn-default" ng-click="filterProductBySearch()">
                                            {{::t.LB_SEARCH}}
                                        </button>
                                    </div>
                                  </div>-->
                            </div>
                        </div>
                        <!-- END TABLE TOOL-->
                    </div>
                </div>
            </div>
            <!-- END TABLE-->
        </div>
    </div>
</div>
