<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>
    <h3>{{t.LB_HOME_WELCOME}}, {{User.FirstName}}</h3>
    <!-- END PAGE HEADER-->

    <alert ng-repeat="message in messages" type="{{message.type}}" close="messages.splice($index, 1)">
      {{::message.msg}}
    </alert>
  </div>
</div>
