<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <mm-breadcrumb breadcrumbs="breadcrumbs"></mm-breadcrumb>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-3" style="border-right: 1px solid #BABABA; min-height: 60px">
            <img ng-src="/api/resizer/view?key={{MerchantProfile.HeaderLogoImage}}&w=200&h=0&b=merchantimages" ng-if="MerchantProfile.HeaderLogoImage" style="width:220px;" />
            <img src="assets/images/icon_image_default.png" ng-if="!MerchantProfile.HeaderLogoImage"/>
          </div>
          <span class="col-md-8"><h2 class="mm_color_black" style="line-height: 24px; padding-left:18px;">{{MerchantProfile.MerchantCompanyName}}</h2></span>
        </div>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12" style="padding-top: 20px;">
              <!--Profile Information-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_PROFILE_INFO}}</label>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_SMALL}}</label>
                <img ng-src="/api/resizer/view?key={{MerchantProfile.SmallLogoImage}}&w=200&h=0&b=merchantimages" ng-if="MerchantProfile.SmallLogoImage" style="width:150px" />
                <img src="assets/images/icon_image_default.png" ng-if="!MerchantProfile.SmallLogoImage"/>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_COMPANY_LOGO_LARGE}}</label>
                <img ng-src="/api/resizer/view?key={{MerchantProfile.LargeLogoImage}}&w=200&h=0&b=merchantimages" ng-if="MerchantProfile.LargeLogoImage" style="width:150px" />
                <img src="assets/images/icon_image_default.png" ng-if="!MerchantProfile.LargeLogoImage"/>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_AC_PROFILE_BANNER}}</label>
                <img ng-src="/api/resizer/view?key={{MerchantProfile.ProfileBannerImage}}&w=200&h=0&b=merchantimages" ng-if="MerchantProfile.ProfileBannerImage" style="width:150px" />
                <img src="assets/images/icon_image_default.png" ng-if="!MerchantProfile.ProfileBannerImage"/>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_DISP_NAME}}({{CONSTANTS.LANGUAGE['EN']}})</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.MerchantNameEN}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_DISP_NAME}}({{CONSTANTS.LANGUAGE['CHS']}})</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.MerchantNameCHS}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_DISP_NAME}}({{CONSTANTS.LANGUAGE['CHT']}})</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.MerchantNameCHT}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_SUBDOMAIN}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">http://{{MerchantProfile.MerchantSubdomain}}.maymay.com</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_COMP_DESC}}({{CONSTANTS.LANGUAGE['EN']}})</label>
                <span class="col-md-10" style="margin-left:-15px; word-break: break-word;">{{MerchantProfile.MerchantDescEN}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_COMP_DESC}}({{CONSTANTS.LANGUAGE['CHS']}})</label>
                <span class="col-md-10" style="margin-left:-15px; word-break: break-word;">{{MerchantProfile.MerchantDescCHS}}</span>
              </div>
              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_COMP_DESC}}({{CONSTANTS.LANGUAGE['CHT']}})</label>
                <span class="col-md-10" style="margin-left:-15px; word-break: break-word;">{{MerchantProfile.MerchantDescCHT}}</span>
              </div>

              <!--Basic Information-->
              <div class="form-group col-md-12 mm_under_line">
                <label>{{::t.LB_BASIC_INFO}}</label>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_MERCHANT_TYPE}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.MerchantTypeName}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_BRAND_S}}</label>
                <span ng-repeat="Brand in MerchantProfile.MerchantBrands">{{Brand.BrandName}} &nbsp;&nbsp;</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_COMPANY_NAME}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.MerchantCompanyName}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_BR_NUM}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.BusinessRegistrationNo}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_COUNTRY}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.GeoCountryName}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_PROVINCE}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.GeoProvinceName}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_SELECT_CITY}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.GeoCityName}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_DISTRICT}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.District}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_POSTAL_OR_ZIP}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.Apartment}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_FLOOR}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.Floor}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_BLOCK_NUM}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.BlockNo}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_BUILDING_NAME}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.Building}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_STREET_NUM}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.StreetNo}}</span>
              </div>

              <div class="form-group col-md-12">
                <label class="col-md-2 mm_form_label control-label">{{::t.LB_STREET_NAME}}</label>
                <span class="mm_text" style="margin-top: 2px;     display: inline-block;">{{MerchantProfile.Street}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
