/* here you can put your own css to customize and override the theme */


/***
Rounded Portlets
***/


/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


/* Define the ng-cloak styles here once again in order to cloak the elements ASAP (not relying on the same thing defined in angular.js) */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Helvetica Neue Light', sans-serif, '微軟正黑體';
  font-size: 14px;
  color: #666666;
}
h1 {
  font-family: 'Helvetica Neue Thin', sans-serif, '微軟正黑體';
  font-size: 36px;
  color: #000000;
}
h2 {
  font-family: 'Helvetica Neue Thin', sans-serif, '微軟正黑體';
  font-size: 28px;
  color: #9B9B9B;
}
h3 {
  font-family: 'Helvetica Neue Light', sans-serif, '微軟正黑體';
  font-size: 18px;
  color: #9B9B9B;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-footer-inner span {
  padding: 0px 5px;
}
.page-footer .item {
  padding: 0px 15px;
}
h1#login-MM-login-header {
  line-height: 41px;
}
.login-error {
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #a94442;
  line-height: 19px;
}
.login-forgot-password-link {
  color: #4A8DB8;
  line-height: 17px;
}

/***********************/


/**
 * From layout.css
 */

body {
  background-color: white;
}
.page-bar {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -23px;
  padding: 0px;
  margin-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.page-header.navbar.navbar-fixed-top {
  z-index: 10;
}
.page-sidebar .page-sidebar-menu > li.active > a > .selected {
  display: none !important;
}
.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
  font-size: 14px;
}

/***********************/


/**
 * From layout.css
 */

.page-container-bg-solid .page-content {
  /*background: #F1F3FA;*/
  background: #F9F9F9;
}
.page-header.navbar .page-logo .logo-default {
  margin: 18px 0 0 60px;
}
@media (min-width: 1260px) {
  /* 1200px */
  .container {
    width: 1260px;
  }
}
.page-content-wrapper {
  background-color: #EFEFEF;
}
@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    margin-left: 216px;
  }
}
.page-bar .page-breadcrumb {
  padding-left: 26px;
}

/***********************/


/**
 * From grey.css
 */

.page-header.navbar .page-logo {
  background: white;
  position: absolute;
  z-index: 999
}

@media (max-width: 600px) {
  .page-header.navbar .page-logo {
    width: 80px !important;
  }
  .page-header.navbar .page-logo .logo-default{
    margin-left: 20px
  }
}

.page-header.navbar .page-top {
  background: white;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
  background-color: #EFEFEF;
  width: 216px;
  /* Default sidebar */
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
  border-top: 0;
  color: #000;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
  background: #F8F8F8;
  color: #000;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
  background: #F8F8F8;
  color: #000;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
  background: #fcfcfc;
}
.page-sidebar .page-sidebar-menu > li.active {
  border-left: 3px solid #F3565D !important;
}
.page-sidebar-menu-hover-submenu li:hover a > .arrow {
  border-right: 8px solid #F1F3FA;
}
.page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
  border-left: 8px solid #F1F3FA;
}
.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
  background: #F1F3FA !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a, .page-sidebar .page-sidebar-menu .sub-menu > li > a {
  color: #000;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
  background: #FFF !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color: #F9F9F9;
}

/***********************/


/**
 * From components-rounded.css
 */

.portlet.box.grey-cascade {
  border: 1px solid #b1bdbd;
  border-top: 1px solid #b1bdbd;
}
.table-toolbar {
  margin-bottom: 0px;
}
.input-group .input-group-addon{
  min-width: 50px;
}
.alert-danger{
  margin-top: 20px;
}
.btn-danger{
  color: #FFFFFF;
  background: #ED2247 !important;
}
.btn-danger:hover{
  background: #BB0224 !important;
}
/* override the pseudo-element :after and :before */


/*.dropdown > .dropdown-menu:after,
.dropdown-toggle > .dropdown-menu:after,
.btn-group > .dropdown-menu:after {
  left: 149px;
}
.dropdown > .dropdown-menu:before,
.dropdown-toggle > .dropdown-menu:before,
.btn-group > .dropdown-menu:before {
  left: 148px;
}*/

.portlet {
  border-radius: 0px;
}
.portlet > .portlet-body {
  border-radius: 0px;
}
.dropdown-menu {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.label-warning {
  background-color: #F5A623;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.label-success {
  background-color: #58B957;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.label-default {
  background-color: #9B9B9B;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

/***********************/

/**
From angular-ui-tree
**/
ul.mm_table_list {
  display: table;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #eee
}

ul.mm_table_list li {
  display: table-cell;
  padding: 0 5px;
}

ul.mm_table_list:hover {
  background-color: #eee
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding: 0;
  margin: 0
}

/**
 * From ui-grid.css
 */

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white;
  border-bottom: 1px solid;
  border-color: #D6D6D6;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: white;
  border-bottom: 1px solid;
  border-color: #D6D6D6;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #F6F6F6;
}
.ui-grid-top-panel {
  background: #f3f3f3;
}
.grid {
  height: 567px;
}
.ui-grid-header-cell .ng-binding:hover {
  text-decoration: underline;
}
.ui-grid-cell-contents {
  padding-left: 20px;
  padding-right: 20px;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: none;
}
.ui-grid-header-cell {
  border-right: 0px;
  background-color: white;
  border-color: #D6D6D6;
  font-weight: normal;
}
.ui-grid-header-cell .sortable {
  padding-right: 5px;
}
.ui-grid-cell {
  border-right: 0px;
}

/***********************/


/**
 * From bootstrap.min.css
 */

.control-label {
  font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
  font-size: 14px;
  color: #9B9B9B;
}

label.label-style-fix {
  font-family: 'Helvetica Neue Light', Helvetica, sans-serif !important;
  font-size: 14px !important;
  color: #9B9B9B !important;
}

@media (min-width: 1px) {
  .form-horizontal .control-label {
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    font-size: 14px;
    color: #9B9B9B;
  }
}
.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

/***********************/

/**
 * From select2.css
 */
/**
.select2-container-multi .select2-choices .select2-search-field input{
  padding: 5px 0px 0 12px !important;
}
**/
.select2-container-multi .select2-choices .select2-search-choice{
  background-image: none !important;
  background-color: #F5F5F5 !important;
  border: none !important;
}
.select2-container-multi .select2-choices{
  border: 1px solid #E5E5E5 !important;
  background: none !important;
  margin: 2px 0 !important;
  min-height: 34px !important;*/
}
ui-select-match-item{
  background-color: #F5F5F5 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 4px 15px 3px 3px !important;

}
.select2-container-multi .select2-search-choice-close {
  left: unset !important;
  /*top: 6px;*/
}
.select2-choices{
  font-family: 'Helvetica Neue Light', sans-serif, '微軟正黑體'!important;
  font-weight: lighter;
  padding-left: 6px !important;
  font-size: 14px !important;
}
/***********************/

/** custom css for general */
.mm_header_desc_block {
  font-size: 14px;
  padding: 10px 0;
  color: #9B9B9B;
  font-weight: normal;
}

.mm_info_block {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 4px;
}
.mm_text{
  font-size:14px;
}
.mm_text_black {
  color: black;
}

.mm_form_compact {
  margin-bottom: 0px;
}

.mm_no_padding_left {
  padding-left: 0 !important;
}

.mm_icon_14px {
  width: 14px;
}

/* custom css for login page */

.mm_login_input {
  height: 43px;
}
.mm_login_btn {
  background-color: #ED2247;
  border: none;
  color: white;
  height: 43px;
}
.mm_login_btn:hover {
  background-color: #BB0224;
  border: none;
  color: white;
}
.mm_login_btn[disabled] {
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  color: #9B9B9B;
}
.mm_login_btn[disabled]:hover {
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  color: #9B9B9B;
}
.mm_form_btn {
  /*this is standard button in mm system*/
  padding: 13px 36px;
  font-size: 14px;
}
.mm_large_btn {
  /*this is large button in mm system*/
  font-size: 14px;
  color: #FFFFFF;
  background: #ED2247 !important;
}
.mm_large_btn:hover{
  background: #BB0224 !important;
}
.mm_menu {
  height: 56px;
}
.mm_menu > a {
  padding: 13px 0px 10px 17px !important;
  min-height: 56px !important;
  text-align: left !important;
}
.mm_menu > a > img {
  vertical-align: bottom;
}
.mm_menu > a > span {
  display: inline !important;
  font-size: 14px;
  margin-left: 5px;
  line-height: 23px;
}
.mm_grid_cell {
  padding-top: 11px;
}
.mm_grid_header_cell {
  color: black !important;
  height: 50px;
  vertical-align: middle;
}
.mm_grid_row {
  padding-left: 6px;
}
.mm_color_black {
  color: black !important;
}
.mm_title_font_size{
  font-size: 20px;
}
.mm_modal_title {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: -2px;
}
@media (min-width: 992px) {
  .mm_dialog_form_input_text {
    width: 112%;
  }
  .mm_dialog_form_input_mobile {
    width: 115.1% !important;
  }
}
.mm_dialog_form_label {
  margin-left: 15px;
  width: 20%;
}
.mm_dialog_body {
  padding: 30px 36px 30px 36px;
}
.mm_dialog_btn_group {
  padding-right: 30px;
}
.mm_form_label {
  padding-right: 30px;
}
.mm_ul li {
  padding-left: 36px;
  padding-right: 36px;
}
.form-group.mm_under_line {
  border-bottom: 1px solid #BABABA;
}
.form-group.mm_under_line > label {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.ui-select-match-close {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}
.selectize-control > .selectize-dropdown {
  top: 36px;
}
.mm_link_action_cursor {
  cursor: pointer;
}
.mm_table_border>tbody>tr>td, .mm_table_border>tbody>tr>th, .mm_table_border>tfoot>tr>td, .mm_table_border>tfoot>tr>th, .mm_table_border>thead>tr>td, .mm_table_border>thead>tr>th {
  /*UX team suggest to remove the vertical border line*/
  border-left: 0px;
  border-right: 0px;
}
.mm_table {
  table-layout: fixed;
}
.mm_table td > select{
  width: 100%;
}

.mm_table td{
  overflow: hidden;
  text-overflow:ellipsis;
}
.mm_list_title_bar {
  height: 77px;
  padding-top: 26px
}
.mm_list_title {
  font-size: 20px;
  color: #000000;
  line-height: 200%;
}
.mm_badge {
  background-color: #F5F5F5;
  color: #666666;
  border-radius: 5px;
  margin: 2px 0;
  margin-left: -10px;
  margin-right: -4px;
  padding: 5px 8px 0px 8px;
  min-height:26px;
}
.mm_plain_table_list tbody tr:hover {
  background: #FFFFFF;
}
.mm_plain_table_list tbody tr {
  cursor: default;
}
.mm_product_img {
  width: 66px;
  margin-right: 4px;
  margin-top: 5px;
}
.mm_product_img_drop_hover {
  border: 5px dashed #DDD;
  border-radius: 4px;
}
.mm_product_img_del_btn {
  margin: 5px 0px;
  display: block;
  width: 66px;
}
.mm_file_upload_btn{
  width: 66px;
  height: 67px;
  background: #F8F8F8;
  border: 5px dashed #DDD;
  display: inline-block;
  vertical-align: top;
  margin-left: -3px;
  font-size: 20px;
  color: #DDD;
  line-height: 42px;
}
.mm_text_span {
  line-height: 22px;
}

input.hide-on-focus {
  display: none;
  width:1px;
  border:none;
  outline: none;
}
/***********************/


/* mm-from-to-datepicker.html */
.mm-datepicker-help-text {
  margin-left: 10px;
  position: absolute;
  width: 200px;
}

/* Table Sortings */

table th.sort {
  cursor: pointer;
}
table th.sort:hover {
  /*UX team suggest to add underline when mouse hover the sortable header*/
  text-decoration: underline;
}
table th.sort:after {
  content: "\f0dc";
  font-family: 'FontAwesome';
  /*display: inline-table;*/
  margin-left: 6px;
  color: #ADADAD;
  display:inline;
}
table th.sort.current.asc:after {
  content: "\f0de";
}
table th.sort.current.desc:after {
  content: "\f0dd";
}
table tbody tr td {
  vertical-align: middle !important;
}
table tbody tr {
  cursor: pointer;
}
table tbody tr:hover {
  background: #F5F5F5;
}
.p5{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.widget-box {
  width: 100%;
  height: 200px;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.widget-box:hover {
  opacity: 0.9;
}
.widget-box .left, .widget-box .right {
  width: 50%;
  float: left;
  height: 100%;
  padding: 15px;
  color: #fff;
  position: relative;
}
.widget-box .left {
  background: #ED2446;
}

.widget-box .left > div, .widget-box .right > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.widget-box .left div i {
  position: absolute;
  font-size: 50px;
  top: 20px;
}
.widget-box .left div h3 {
  color: #fff;
  position: absolute;
  line-height: 1.2em;
  bottom: 0;
  margin: 0;
}
.widget-box .right {
  background: #C0C0C0;
}
.widget-box .right p {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 13px;
  line-height: 1.2em;
  margin: 0;
}

/* Helpers */

.pr30 {
  padding-right: 30px;
}

/* Bulk Upload */
.droparea {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  min-height: 200px;
  max-height: 450px;
  overflow: auto;
}
.droparea.dragover {
  border-color: #AAA;
  background: #EEE;
}
.droparea .files {
  padding: 0;
}
.droparea .files li {
  text-align: center;
  display: inline-block;
  margin: 10px;
  width: 150px;
}
.droparea .files .file .thumb {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.droparea .files .file .loading {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.droparea .files .file p {
  word-break: break-all;
  margin: 5px 0;
}
.droparea .files .file img {
  max-width: 150px;
  max-height: 150px;
}

body {
  /*position: relative;*/
}
/* tree view */
.nodrop {
    background-color: #f2dede;
}
.angular-ui-tree-empty {
  background: white;
  border: none;
}
.angular-ui-tree-hidden {
    margin: 0;
    padding: 0;
}
.angular-ui-tree-placeholder {
    margin: 0;
    padding: 0;
}

.angular-ui-tree-drag {
    background: #eee;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

/* intl-tel-input */

.intl-tel-input {
  display: block;
}

.tree-options, .tree-options ul, .tree-options li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tree-options .selected {
  background: #ddd;
}
.tree-options .item {
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}
.tree-options .inner {
  padding-left: 30px;
}
.tree-options .toggle {
  float: left;
}

/*.datetime-picker-dropdown .btn-info{
  color:#000000;
  background-color: #ffffff;
  border-color: #e5e5e5;
  border-width: 1px;
}
.datetime-picker-dropdown .btn-info:hover{
  color:#333;
  background-color: #ededed;
  border-width: 1px;
}

.datetime-picker-dropdown .btn-danger{
  color:#000000;
  background-color: #ffffff;
  border-color: #e5e5e5;
  border-width: 1px;
}
.datetime-picker-dropdown .btn-danger:hover{
  color:#333;
  background-color: #ededed;
  border-width: 1px;
}*/

/* this css is for large modal dialog */

.large-Modal .modal-dialog{
  width:88%; height: auto;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

@media screen and (min-width: 1120px) {
  .large-Modal .modal-dialog{
    width:70%; height: auto;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto
  }
}

/* Sidebar Icons */
.page-sidebar .page-sidebar-menu > li.active > a > i,  .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"]{
	color: #ED2446;
	margin-top: 10px;
    margin-bottom: 10px;
}

.empty { color: #a9a9a9; }

.sub-btn, .sub-btn:hover, .sub-btn:focus, .sub-btn:active, .sub-btn:active:hover {
    background-color: #606E78;
    border-color:#CCCCCC;
}

.sub-btn:hover{
    /* Theoretically for IE 8 & 9 (more valid) */	
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.7;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.7;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
}


.login_container {
  margin-top: -68px;
  width: 100%;
  height: 432px;
  padding: 0px;
  margin-left: 0px;
  min-width: 1000px;
}

.login_container_space {
  height: 60px;
}

@media screen and (min-width: 1100px) {
  /* 1100 */
  .login_container {
    margin-top: -68px;
    width: 100%;
    height: 580px;
    padding: 0px;
    margin-left: 0px;
    min-width: 1000px;
  }

  .login_container_space {
    height: 100px;
  }
}

/* clear IE10+ x button icon in some Inputs */
::-ms-clear {
  display: none;
}

.word-wrap{
    word-wrap: break-word;
}