@font-face {
  font-family: 'Helvetica Neue Light';
  src: local('Helvetica Neue Light'), url(../font/HelveticaLTStd-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica Neue Regular';
  src: local('Helvetica Neue Regular'), url(../font/HelveticaNeue.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue Thin';
  src: local('Helvetica Neue Thin'), url(../font/HelveticaNeueLTStd-Th.otf) format('opentype');
}
